= pe.fields_for :medications, @peritonitis_episode.medications do |pm|

  - if pm.object.new_record?

    = render :partial => 'medications/new', :locals => { :pm => pm }

  - else

    = render :partial => 'peritonitis_episodes/recorded_medications', :locals => { :pm => pm }
