#new-organism-form
  .large-12.columns
    %fieldset
      %legend
        Record a new organism and sensitivity

      .large-12.columns
        .row
          = io.link_to_remove "Remove this organism/sensitivity", class: "button cancel tiny right hide"

        %ul.error-messages
          - if io.object.errors.any?
            - io.object.errors.messages.each do |field, msg|
              %li= msg.join(",")

        .row
          = render :partial => 'infection_organisms/organism_fields', :locals => { :io => io }
