#new-organism-form
  %a.button.tiny.toggle.right.mt{ href: '#new-organism-form' }
    Record a new organism and sensitivity

  .hide
    %a.button.tiny.close-new-form{ href: '#' }
      Close

    %fieldset
      %legend
        Record a new organism and sensitivity

      .row

        = render :partial => 'infection_organisms/organism_fields', :locals => { :io => io }
