= p.fields_for :infection_organisms, @peritonitis_episode.infection_organisms do |io|

  - if io.object.new_record?

    = render :partial => 'peritonitis_episodes/new_organism', :locals => { :io => io }

  - else

    = render :partial => 'peritonitis_episodes/recorded_organisms', :locals => { :io => io }

