= render :partial => 'peritonitis_episodes/recorded_organisms', :locals => { :io => io } unless io.object.new_record?

#infection-organisms
  = render :partial => 'peritonitis_episodes/new_organism', :locals => { :io => io } if io.object.new_record?




