%li
  = f.label :name, "New Drug Name"
  = f.text_field :name
%li
  = f.label :type, "Type"
  = f.select(:type, options_for_select([["Standard(Non-ESA, Non-Immunosuppressant)", " "], ["ESA", "Esa"], ["Immunosuppressant", "Immunosuppressant"]])) 