%li
  = f.label :name, "Drug Name"
  = f.text_field :name
%li
  = f.label :type, "Type"
  = f.select(:type, options_for_select([["Standard(Non-ESA, Non-Immunosuppressant)", nil], ["ESA", "Esa"], ["Immunosuppressant", "Immunosuppressant"]])) 