%h1 Add a New Drug

.row 
  = render partial: "shared/errors", locals: { model: @drug }

.row
  .large-6.columns
    %ul.no-bullet
      = form_for @drug, :method => :post do |f|
        %ul.no-bullet
          = render partial: "drugs/form", locals: { f: f }   

          = submit_tag "Save New Drug", class: "button tiny right"
