= within_admin_layout(title: "BioBank feed changes") do
  = render "renalware/heroic/shared/progress", upload: upload
  = simple_form_for(upload,
      as: :upload,
      url: heroic.bio_bank_usage_upload_path(upload),
      method: :put) do |f|
    = f.submit "Commit changes", class: :button

  h4 Changes to be commited

  = render "preview", upload: upload
