.with_border {
  border: 1px solid #000;
  border-collapse: collapse;
}

.with_border td {
  border: 1px solid #000;
  border-collapse: collapse;
}

.border_box_half {
  border: 1px solid #000;
  margin-left: 2px;
  width: 48%;
}

.header_cell {
  background-color: #d6d6d6;
  font-weight: bold;
}

hr.page_break {
  clear: both;
  page-break-after: always;
}

.preview_settings {
  background-color: #d6d6d6;
  margin: 10px;
  padding: 5px;
}

div.alwaysbreak { page-break-before: always; }

table {
  width: 100%;
  td, th {
    padding: .3rem;
  }
}

h4, h3 {
  font-size: 1.2rem;
}

.border_box_half {
  width: 47%;
  margin-top: .5rem;
  padding: 0.5rem;

  &.global_requests {
    float: left;
  }
  &.patient_requests {
    float: right;
  }
}
