/ This is the create alert modal dialog content
= simple_form_for alert,
                  html: { autocomplete: "off"},
                  remote: true,
                  url: patient_alerts_path(patient_id: patient) do |f|
    h2= t(".title")
    =f.input :urgent, as: :boolean, boolean_style: :inline
    =f.input :notes
    =f.submit "Create alert", class: :button
    span= " or "
    =link_to t(".cancel"),
             "#",
             "aria-label" => "Close",
             class: "reveal-modal-close"
