.row
  %h1 Encounters/Events

  = link_to "Back to patient list", patients_path, class: "button tiny right"

.row
  = field_set_tag do
    %legend
    %ul.no-bullet
      - @encounter_events.each do |e|

        = render partial: "encounter_events/encounter_events", locals: { e: e }
