- opts = { title: "Investigation: #{observation_request.description} - #{observation_request.description.name}", navigation_partial: "renalware/pathology/navigation" }
= within_patient_layout(opts) do
  = render "renalware/pathology/observations/table", patient: patient, observations: observation_request.observations
