ruby:
  sections = [
    ["Codes", "codes"],
    ["CRF", "crf"],
    ["HLA", "hla"],
    ["Transplant", "transplant"],
    ["Organs", "organs"],
    ["Consent", "consent"],
    ["Admin", "admin"]
  ]

dl.sub-nav data-magellan-expedition="fixed"
  - sections.each do |title, target|
    dd data-magellan-arrival="#{target}"
      = link_to title, "#"+target
