css:
  .chart {
    width: 500px;
    height: 200px;
  }
  #patient_id {
    width:300px;
    display: block
  }
  #patient_id input {
    width:200px;
    display:inline;
  }

  #patient_id a {
    width: 90px;
    display:inline;
    padding: 5px;
    margin-left: 5px;
  }

= within_new_admin_layout(title: "Admin Playground") do
