= render Renalware::HD::LetterExtensions::ScheduleComponent.new(patient: letter.patient)
= render Renalware::Accesses::LetterExtensions::AccessComponent.new(patient: letter.patient)
= render Renalware::HD::LetterExtensions::ObservationsComponent.new(patient: letter.patient)
= render Renalware::Transplants::LetterExtensions::StatusComponent.new(patient: letter.patient)
