= content_for(:actions) do
  = link_to "Preview", patient_letters_letter_path(patient, letter), class: "button secondary"

= within_patient_layout(title: "Edit Letter",
    breadcrumbs: [breadcrumb_for("Letters", patient_letters_letters_path(patient))]) do

  = simple_form_for letter,
      url: patient_letters_letter_path(patient, letter),
      as: :letter,
      wrapper: "horizontal_form",
      html: { id: "letter-form", autocomplete: "off" } do |f|

    = render "renalware/shared/errors", model: letter
    = render "form",
             f: f,
             patient: patient,
             contact: contact,
             contacts: contacts,
             letter: letter,
             electronic_recipient_options: electronic_recipient_options

= render "add_contact",
         patient: patient,
         contact: contact,
         contact_descriptions: contact_descriptions
