= link_to(patient_worry_path(patient, patient.worry),
         method: :delete,
         data: { confirm: t(".confirm") }) do
  .flex.gap-1.items-center
    = inline_icon(:flag_solid, size: :md)
    = t(".title")
