.columns.medium-6
  article
    header
      h2= t(".title")

    table
      thead
        tr
          th.col-width-date-time Date
          th Channel
          th.text-center.col-width-tiny Recvd
          th.text-center.col-width-tiny.bg-red-100 Err
          th.text-center.col-width-tiny Queued

      tbody
        - channel_stats.each do |stats|
          tr
            td= l(stats.created_at)
            td.col-width-medium-with-ellipsis= stats.name
            td= stats.received
            td.bg-red-100= stats.error
            td= stats.queued
