= within_patient_layout( \
    title: "Event / Edit",
    breadcrumbs:  breadcrumb_for("Events", patient_events_path(patient)) \
  ) do

  = render "renalware/events/events/form",
            event: event,
            patient: patient,
            event_types: event_types,
            url: patient_event_path(patient, event)
