- title = t("new_record.page_title")
- title += " #{event.event_type.name}" if event.disable_selection_of_event_type

= within_patient_layout(title: title,
                        breadcrumbs: breadcrumb_for("Events", patient_events_path)) do

  = simple_form_for event,
      url: patient_events_path(patient, event),
      as: :events_event,
      html: { autocomplete: "off" },
      wrapper: "horizontal_form" do |f|

    = render "form",
             event: event,
             patient: patient,
             event_types: event_types,
             f: f
