- title = t("new_record.page_title")
- title += " #{event.event_type.name}" if event.disable_selection_of_event_type

= within_patient_layout(title: title,
                        breadcrumbs: breadcrumb_for("Events", patient_events_path(patient))) do

  = render "form",
            event: event,
            patient: patient,
            event_types: event_types,
            url: patient_events_path(patient)
