input[type='text'].ui-autocomplete-loading {
  background-image: image-path('renalware/ajax-loader.gif');
  background-position: 98% center;
  background-repeat: no-repeat;
}

.ui-widget.ui-autocomplete {
  font-size: 1em;
}

.ui-menu.ui-autocomplete .ui-menu-item {
  font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  margin: 0 4px;
  overflow-x: hidden;
  padding-bottom: 0;
  padding-top: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
