.beta_banner {
  background-color: $nhs-orange;
  color: $white;
  padding: 0.4rem 1rem;
  text-align: center;

  span {
    font-size: 1.1rem;
  }

  .button {
    margin: 0;
    margin-left: 1rem;
    padding: 0.3rem 0.8rem;
  }
}

.new_feedback {
  .radio {
    label {
      input {
        margin: 0 1rem 0.5rem 0
      }
    }
  }
}
