.button.small_ellipsis_button {
  margin: 0;
  padding: 0.1rem 0.3rem;
}

.fa-link-annotation {
  width: 1.4rem;
}

.page-actions {
  .button {
    margin-bottom: 0;
    margin-right: 0.8rem;
    padding: 0.4rem 1rem;
  }

  @media print {
    display: none;
  }
}

.button {
  border-radius: 2px !important;
  font-size: 1rem;
  padding: 0.6rem 1.2rem;

  &:hover {
    background-color: var(--nhs-blue);
  }

  i.fa,
  i.fas,
  i.far {
    margin-right: 0.5rem;
  }

  &.with-icon {
    padding-left: 0.7rem;

    i.fa,
    i.fas,
    i.far {
      font-size: 1.1rem;
      margin-right: 0.6rem;
    }
  }

  &.compact {
    font-size: 0.9rem;
    margin: 0;
    padding: 2px 5px;
  }

  &:focus {
    outline-style: none;
  }

  &.low-key {
    background-color: var(--off-white);
    border: solid 1px var(--light-grey);
    color: $dark-grey;

    &:hover {
      background-color: var(--white);
    }
  }

  &.alternative {
    background-color: var(--dashboard-muted-color);
  }
}

.radius.radius-right {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.radius.radius-left {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.button.dropdown.actions {
  @extend %fa-icon;
  @extend .fas;
  background-color: var(--white);
  color: $monsoon;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 0.3rem 0 0;
  padding: 0.2rem 0.9rem;
  border: solid 1px var(--light-grey);
  vertical-align: middle;

  &:hover {
    background-color: darken(#efefef, 10);
    color: darken(#555, 10);
  }

  &:before {
    content: fa-content($fa-var-ellipsis-h);
  }

  &:after {
    border: 0;
    position: relative;
  }
}

.f-dropdown {
  /* separator */
  li.separator {
    border-top: 1px solid #ccc;
    margin: 0.3rem 0 0.1rem 0;
    padding: 0;
  }
}

.f-dropdown.f-dropdown-no-arrow {
  border-radius: 3px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
  margin-left: 23px;
  margin-top: 0;
  max-width: 150px;

  &:before,
  &:after {
    border: 0;
    position: relative;
  }
}
