.bart-chart-icon {
  position: relative; // required for safari otherwise user cannot click on :before content
  display: inline-block; // required otherwise IE11 will not be able to click on it

  i {
    @extend %fa-icon;
    @extend .fas;
    font-weight: 600;
    pointer-events: none;
    text-align: center;
    width: 1.2rem;

    &:before {
      content: asset-data-url("renalware/icons/bar-chart.svg");
    }
  }
}

.chart-periods {
  position: relative;
  background-color: var(--white);

  nav {
    position: absolute;
    top: 8px;
    z-index: 1;
    right: 0;
    padding-right: 2rem;

    a {
      background-color: var(--white); // $nhs-light-blue;
      padding: 0.1rem 0.4rem;
      color: $dark-grey;
      border-radius: 0.2rem;
      font-size: 0.9rem;

      &.current-period {
        background-color: var(--nhs-blue);
        color: var(--white);
      }
    }
  }
}

.path-chart-link {
  color: var(--nhs-blue);
  text-decoration: none;
}
