.flash-message {
  clear: both;
  position: relative;
  z-index: 1;

  .alert-box {
    margin-bottom: 0;
    padding: 0.4rem 1rem;
  }
}

.call-to-action {
  text-align: center;

  i {
    display: block;
    font-size: 2.5em;
  }
}

.section-underliner {
  border-bottom: rgb(221, 221, 221) solid 0.1em;
  margin: .5em 0;
}
