@media only screen and (min-width: 830px) {
  // Add body page--* classes to give them, the dashboard look.
  body.page--dashboard-dashboards {
    .main-content {
      background-color: #e8edee;
    }

    article {
      background-color: #fff;
      padding: 0.3rem 0.5rem 0.5rem;
      border-top-width: 1px;
      border-top-color: $nhs-bright-blue;
    }
  }
}
