@media only screen and (min-width: 830px) {
  // Add body page--* classes to give them, the dashboard look.
  body.page--dashboard-dashboards {
    .main-content {
      background-color: #e8edee;
    }

    article {
      background-color: #fff;
      padding: 0.5rem 0.8rem 0.5rem;
      border: 0;
      -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
      border-radius: 4px;
      margin: 0 0 .7rem;
    }
  }
}
