.disabled-block-reason {
  display: none;
  margin-top: 0.5rem;
  text-align: center;

  &.panel.radius {
    padding: 0.5rem 1rem;
  }
}

.disabled-block {
  .row:first-child {
    opacity: .5;
    pointer-events: none;
  }

  .disabled-block-reason {
    display: block;
  }
}
