trix-toolbar {
  background-color: #fff;

  .button_row {
    display: inline-block;

    .button_group {
      -webkit-justify-content: initial;
      border: 0;
      display: inline-block;
      margin: 0;

      button {
        background-color: transparent;
        border: 0;
        margin: 0.5rem 0.2rem 0;
        padding: 0.2rem;
      }
    }
  }

  // Hide Trix buttons we don't use
  button.icon {
    &.heading-1,
    &.code,
    &.link,
    &.quote,
    &.nesting-level {
      display: none;
    }
  }

  .button_group button.icon,
  .button_group input[type="button"].icon {
    height: auto;
    opacity: 0.9; // prevent fuzzy SVGs in IE11
  }
}

trix-editor {
  border-color: #ccc;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 0.6em 0.9em;
}
