.alert-box.warning {
  background-color: $nhs-orange;
}

.error-page {
  .title-area .name {
    color: $white;
    font-size: 1.3rem;
    line-height: 3rem;
    padding-left: 1rem;

    a {
      color: $white;
    }
  }

  .error-code {
    color: $light-grey;
    font-size: 3rem;
  }

  .error-content {
    padding: 50px;
    text-align: center;
  }

  .heading {
    font-weight: bold;
  }
  .subheading {
    font-size: 1.4rem;
  }

  .support-info {
    font-size: 1.2rem;
  }
}

.error small.error {
  background-color: $nhs-red;
}

.error label, .error label.error {
  color: $nhs-red;
}

#new-form input.field_with_errors {
  border: 1px solid red;
}

.field_with_errors {
  input,
  select,
  textarea {
    border: 1px solid red;
  }
}

ul.error-messages {
  padding: 0 1rem;
  color: $nhs-red;
  background-color: $error-background;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0.6rem 2rem;
}
