.alert-box.warning {
  //background-color: var(--nhs-orange);
}

.error-page {
  overflow-y: scroll;

  .title-area .name {
    color: var(--white);
    font-size: 1.3rem;
    line-height: 3rem;
    padding-left: 1rem;

    a {
      color: var(--white);
    }
  }

  .error-code {
    color: var(--light-grey);
    font-size: 3rem;
  }

  .error-content {
    height: 100%;
    padding: 50px;
    text-align: center;
  }

  .heading {
    font-weight: bold;
  }

  .subheading {
    font-size: 1.4rem;
  }

  .support-info {
    font-size: 1.2rem;
  }

  .error-details {
    margin-top: 50px;
    text-align: left;

    hr {
      margin-top: 10px;
    }

    .error-details-name {
      padding: 10px 0;
      font-size: 1.4rem;
      font-weight: bold;
    }
  }
}

.error small.error {
  background-color: var(--nhs-red);
}

.error label,
.error label.error {
  color: var(--nhs-red);
}

#new-form input.field_with_errors {
  border: 1px solid #f00;
}

.field_with_errors {
  input,
  select,
  textarea {
    border: 1px solid #f00;
  }
}

ul.error-messages,
.non-patient-page ul.error-messages {
  background-color: var(--off-white);
  color: var(--nhs-red);
  margin: 0;
  margin-bottom: 1rem;
  padding: 0 1rem;
  padding: 0.6rem 2rem;
}
