html {
  body.overflow {
    overflow: auto;
  }
}

/* New flexbox layout */
html, body {
  height: 100%;
}

html {
  body {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    > header {
      background-color: #dcdcdc;
      flex: 0 0 auto;
    }

    /* main is a wrapper about non-header content */
    > main {
      display: flex;
      height: 100%;
      min-height: 0;

      > nav {
        min-width: $patient-side-nav-width;
        width: $patient-side-nav-width;
      }

      > .main-content {
        position: relative; /* need this to position inner content */
        width: 100%;
      }

      > nav,
      > .main-content {
        flex: 1 1 auto;
        height: 100%;
        min-height: 100%;
        overflow-y: auto;
        padding-bottom: 2rem;

        @media print {
          overflow-y: visible;
        }
      }

      .layout-wrapper {
        padding-bottom: 3rem;
      }
    }

    > footer {
      flex: 0 0 auto;
    }
  }

  /* When patient menu hidden/shown */
  body.collapse-patient-menu nav.patient-side-nav {
    left: 0;
    margin-left: -15rem;
  }

  .full-screenable {
    transition: margin .2s ease 0s;
  }
}

/* End new flexbox layout */

footer {
  background-color: $footer-bg-colour;
  border-top: 1px solid $light-grey;
  color: $footer-colour;
  font-size: .8rem;
  padding: 0 1rem;
  text-align: right;
}

.page-heading {
  .warning-block {
    background-color: $table-toggled-content-colour;
    margin: 0.7rem;

    i {
      margin-right: 0.5rem;
    }
  }
}

.embedded-scroll {
  overflow: auto;
}

.inline {
  display: inline;
}

section.display {
  h4 {
    clear: left;
    color: $dark-grey;
    float: left;
    font-size: 1.3rem;
    margin: .1rem 1rem 0 0;
  }

  .section-actions {
    clear: right;
    float: left;

    a {
      @extend .button;
      font-size: .9rem;
      margin: 0;
      padding: .3rem 1rem;
    }
  }

  .section-content {
    display: block;
    margin-top: .2rem;

    dl {
      clear: both;
    }
  }
}

.half-collapse {
  .columns {
    padding-left: $column-gutter / 2;
    padding-right: $column-gutter / 2;
  }
}

.non-patient-page {
  padding-bottom: 3rem;

  .non-patient-page-header {
    margin: 0;
    margin-bottom: .5rem;
    padding: 0;

    &.with-tabs {
      border-bottom: 1px solid $tab-border-color;
      margin-bottom: 1.5rem;

      .page-heading {
        margin-bottom: .8rem;
      }
    }
  }

  ul, dl {
    display: block;
    float: none;
    margin-bottom: 0;
  }

  .sub-nav {
    position: relative;
    top: 1px;
  }

  .page-heading {
    clear: both;
    float: left;
    margin: 0;
    padding: 1.4rem 0 .7rem;
  }
}
