html {
  body.overflow {
    overflow: auto;
  }
}

footer {
  background-color: $footer-bg-colour;
  border-top: 1px solid $smoke;
  color: $footer-colour;
  font-size: 12px;
  padding: .2rem 1rem;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: right;
}

.page-heading {
  .warning-block {
    background-color: $table-toggled-content-colour;
    margin: 0.7rem;

    i {
      margin-right: 0.5rem;
    }
  }
}

.embedded-scroll {
  overflow: auto;
}

.inline {
  display: inline;
}

section.display {
  h4 {
    margin: .1rem 1rem 0 0;
    float: left;
    clear: left;
    font-size: 1.3rem;
    color: $dark-grey;
  }

  .section-actions {
    float: left;
    clear: right;

    a {
      @extend .button;
      padding: .3rem 1rem;
      font-size: .9rem;
      margin: 0;
    }
  }

  .section-content {
    display: block;
    margin-top: .2rem;

    dl {
      clear: both;
    }
  }
}

.half-collapse {
  .columns {
    padding-left: $column-gutter / 2;
    padding-right: $column-gutter / 2;
  }
}

.non-patient-page {
  padding-top: 1rem;
  padding-bottom: 3rem;

  .page-heading {
    margin-bottom: 0.5rem;
  }
}
