
.dl-horizontal {
  margin-top: 0;
  margin-bottom: 0;

  p {
    padding-left: 0;
  }

  dt,
  dd {
    font-weight: normal;

    &.inset {
      margin-left: 0.8em;
    }
  }

  dt {
    float: left;
    width: $dl-horizontal-dt-width;
    overflow: hidden;
    clear: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
  }

  dd {
    margin-left: $dl-horizontal-dt-width + 1rem;
    margin-bottom: 0;

    &:before {
      content: " ";
      display: table;
    }

    &:after {
      content: " ";
      display: table;
      clear: both;
    }
  }

  &.xlarge {
    dt {
      width: $dl-horizontal-dt-width + 5.5rem;
    }
    dd {
      margin-left: $dl-horizontal-dt-width + 6.5rem;
    }
  }

  &.xxlarge {
    dt {
      width: $dl-horizontal-dt-width + 9.5rem;
    }
  }

  // Default
  &.large {
  }

  &.medium {

    dt {
      width: $dl-horizontal-dt-width - 2.5rem;
    }

    dd {
      margin-left: $dl-horizontal-dt-width - 1.5rem;
    }
  }

  &.small {

    dt {
      width: $dl-horizontal-dt-width - 5rem;
    }

    dd {
      margin-left: $dl-horizontal-dt-width - 4rem;
    }
  }
}
