.modal {
  .modal__header {
    border-bottom: solid 1px $winter-sky;
    margin-bottom: 10px;

    h1, h2, h3 {
      color: $dark-grey;
      display: inline-block;
      font-size: 1.3rem;
      margin: 0 0 0.5rem 0;
    }

    h3 {
      color: $dashboard-muted-color;
      font-weight: normal;
    }

    .reveal-modal-close {
      color: $winter-sky;
      font-size: 1.5rem;
      font-weight: normal;
      padding: 0.2rem;
      position: absolute;
      right: 0.8rem;
      top: 0.3rem;

      i {
        padding-right: 5px;
      }
    }
  }

  .modal__body {
    /* remove excessive l and r padding in modals */
    .row {
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;

      .columns {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .modal__footer {
  }
}

.modal-show {
  background: $oil;
  background: rgba(56, 80, 70, 0.5);
  height: 100%;
  left: 0;
  position: relative;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.modal-window {
  background: $white;
  border-radius: 5px;
  box-shadow: 1px 1px 1px $oil;
  height: 460px;
  margin: auto;
  margin-left: auto;
  margin-top: 100px;
  padding: 20px;
  width: 600px;
}

#modal-holder {
  height: 380px;
  overflow: scroll;
  width: 560px;
}

.modal-close {
  cursor: pointer;
  display: fixed;
  float: right;
  height: 20px;
  width: 20px;
  z-index: 100;
}

.reveal-modal {
  padding: 1rem 1.6rem 0.3rem 1.6rem;
}
