.patient-nags ul {
  margin: 0;
  padding: 0 4px;
}

.patient-nag {
  color: var(--white);
  display: inline-block;
  margin: 0.1rem 0.3rem 0 0;
  padding: 0 0.1rem;
  line-height: 1.6rem;
  border-radius: 0.3rem;
  border: 0;

  i {
    margin-left: 0.3rem;
  }

  a,
  span,
  i {
    color: inherit !important;
    text-decoration: none;
  }

  span {
    padding: 0 0.4rem;
  }

  span.value {
    padding: 0 0.4rem;
  }

  span.date {
    font-style: italic;
    white-space: nowrap;
  }

  i {
    &::before {
      color: inherit !important;
      content: fa-content($fa-var-exclamation-triangle);
    }
  }
}

.patient-nag-severity-none {
  background-color: var(--off-white) !important;

  i {
    width: 0;

    &::before {
      content: "";
    }
  }
}

.patient-nag-severity-info {
  background-color: $nhs-light-blue !important;

  i::before {
    content: fa-content($fa-var-info-circle);
  }

  span.date,
  span.value {
    border-left: 1px solid lighten($nhs-light-blue, 10);
  }
}

.patient-nag-severity-low {
  background-color: var(--nhs-yellow) !important;
  color: var(--muted-dark-grey) !important;

  span.date,
  span.value {
    border-left: 1px solid var(--nhs-yellow-lighter);
  }
}

.patient-nag-severity-medium {
  background-color: var(--nhs-orange) !important;
  color: var(--off-white) !important;

  span.date,
  span.value {
    border-left: 1px solid var(--nhs-orange);
  }
}

.patient-nag-severity-high {
  background-color: var(--nhs-red) !important;
  color: var(--off-white) !important;

  span.date,
  span.value {
    border-left: 1px solid var(--nhs-red-lighter);
  }
}
