.save {
  background-color: green !important;
}

.cancel {
  background-color: red !important;
}

.delete {
  color: red !important;
}

.sub-nav dd a.has-tip:hover {
  color: $link-colour;
}

.sub-nav {
  margin-bottom: 0.8rem;

  dd {
    margin:0;
    padding:0;
  }
}

.tooltip {
  background-color: rgba(92,92,92,0.9);
  border-radius: 0.5em;
  radius: 20px;
  padding: 6px 8px;
  font-size: 0.9rem;
  color: $white;
}

.tooltip > .nub {
  border-color: transparent transparent rgba(92, 92, 92, 0.8) transparent;
  margin-left: 0.5em;
}

#patient_search {
  width: 365px;
}

dd.patient-name {
  display: none;
}

[data-magellan-expedition],
[data-magellan-expedition-clone] {
  padding: 5px 0;
}

.sub-nav.fixed {
  left: auto;
}

.page-navigation {
  margin: 5px 0;
}

.collapse-patient-menu .patient-side-nav {
  left: -$patient-side-nav-width;
}

.patient-side-nav {
  background-color: $patient-menu-background-colour;
  padding: 0.5rem 0;
  padding-bottom: 8rem;
  position: absolute;
  width: $patient-side-nav-width;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  left: 0;

  ul.side-nav {
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0 0 1px 0.5rem;

      a {
        border-radius: 3px;
        padding: 0.2rem 0.5rem;
        text-decoration: underline;
        color: $nhs-blue;
      }

      span {
        padding: 0.2rem 0.5rem;
      }
    }
  }
}

.patient-side-nav li:last-child {
  margin-bottom: 0;
}

.patient-side-nav li > a:hover,
.patient-side-nav li > a:hover:first-child:not(.button) {
  background-color: $link-colour;
  color: $white;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.patient-side-nav li.active > a,
.patient-side-nav li.active > a:first-child:not(.button) {
  background-color: $white;
  border-top-left-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 0;
  color: $dark-grey;
  margin-right: 0;
  text-decoration: none;
}

.patient-side-nav li a.active:hover {
  background-color: $white;
  color: $dark-grey;
}

.patient-side-nav li.heading {
  color: $dark-grey;
}

.mdm-top-bar {
  height: 2.3rem;

  ul li.name {
    height: 2.2rem;
    padding-left: 0.5rem;
    padding-top: 0.4rem;
    color: $white;
    font-size: 1rem;

    a {
      color: $white;
      padding-left: 0.5rem;
    }
  }
}

@media only screen and (min-width: 830px) {
  .top-bar-section li:not(.has-form) a:not(.button) {
    padding: 0 0.6rem;
  }
}

.top-bar-section  .dropdown li.info {
  color: rgba(255, 255, 255, 0.5);
  padding: 0 15px;
  line-height: 45px;
  font-size: 0.8em;
}

.dropdown.button {
  padding-right: 3rem;

  &::after {
    right: 1rem;
  }
}

.sub-nav {
  background-color: $white;
  float: left;
  margin: 0 0 1rem;
  padding: 0;
  width: 100%;
}

.sub-nav dd {
  margin: 0 0.25rem 0 0;
}

.sub-nav dd a {
  background-color: $off-white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: $link-colour;
  display: block;
  padding: 0.2rem 0.5rem;
  text-decoration: underline;
}

.sub-nav dd a:hover {
  background-color: $link-colour;
  color: $white;
}

.sub-nav dd.active a {
  background-color: $white;
  border-top: 1px solid $table-border-colour;
  border-right: 1px solid $table-border-colour;
  border-left: 1px solid $table-border-colour;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: $dark-grey;
  padding: 0.2rem 0.5rem;
  text-decoration: none;
}

.sub-nav dd.active {
  font-weight: bold;
}

.sub-nav dd.active a:hover {
  background-color: $white;
  color: $dark-grey;
}

.f-dropdown li {
  &.disabled {
    padding: 0.5rem;
    color: $mid-grey;
    cursor: default;
    display: block;

    &:hover {
      background-color: $white;
    }
  }
}
