.save {
  background-color: #008000 !important;
}

.cancel {
  background-color: #f00 !important;
}

.delete {
  color: #f00 !important;
}

.sub-nav dd a.has-tip:hover {
  color: $link-colour;
}

.sub-nav {
  margin-bottom: 0.8rem;

  dd {
    margin: 0;
    padding: 0;

    i {
      margin-right: 0.7rem;
    }
  }
}

.tooltip {
  background-color: rgba(92, 92, 92, 0.9);
  border-radius: 0.5em;
  color: var(--white);
  font-size: 0.9rem;
  padding: 6px 8px;
  radius: 20px;
}

.tooltip > .nub {
  border-color: transparent transparent rgba(92, 92, 92, 0.8) transparent;
  margin-left: 0.5em;
}

#patient_search {
  width: 365px;
}

dd.patient-name {
  display: none;
}

.sub-nav.fixed {
  left: auto;
}

.page-navigation {
  margin: 5px 0;
}

.collapse-patient-menu .patient-side-nav {
  left: -$patient-side-nav-width;
}

.patient-side-nav,
.admin-side-nav {
  @media print {
    display: none;
  }

  background-color: $patient-menu-background-colour;

  min-width: $patient-side-nav-width;
  padding: 0.3rem 0 2rem 0.4rem;
  width: $patient-side-nav-width;

  hr {
    margin: 0.3rem 0 0.5rem;
  }

  ul.side-nav {
    margin: 1px 0 0 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0 0 0.1rem 0.5rem;

      a {
        border-radius: 3px;
        color: var(--nhs-blue);
        padding: 0.1rem 0.5rem;
        text-decoration: underline;
      }

      span {
        padding: 0.2rem 0.5rem;
      }

      &.action {
        padding-right: 0.5rem;
        padding-right: 0.5rem;

        a {
          background-color: var(--light-grey);
          border-radius: 2px;
          border-radius: 3px;
          color: $dark-grey;
          margin-bottom: 0.2rem;
          margin-right: 0.5rem;
          margin-top: 0.1rem;
          padding: 0.2rem 0.5rem;
          text-align: left;
          text-decoration: none;
          transition: all 0.3s ease 0s;

          &:hover {
            background-color: var(--nhs-blue);
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.13),
              0 1px 3px 0 rgba(0, 0, 0, 0.08);
            color: var(--off-white);
          }
        }
      }

      &.actions-heading {
        margin-bottom: 0.3rem;
      }
    }
  }
}

.admin-side-nav {
  background-color: var(--muted-dark-grey);
  color: #fff;

  .side-nav--admin {
    li a,
    li.heading {
      color: #fff !important;
      text-decoration: none !important;
    }

    li.active a {
      color: $dark-grey !important;
    }
  }
}

.patient-side-nav li:last-child {
  margin-bottom: 0;
}

.patient-side-nav li > a:hover,
.patient-side-nav li > a:hover:first-child:not(.button) {
  background-color: $link-colour;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  color: var(--white);
}

.patient-side-nav li.active > a,
.patient-side-nav li.active > a:first-child:not(.button) {
  background-color: var(--white);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 0;
  color: $dark-grey;
  margin-right: 0;
  text-decoration: none;
}

.patient-side-nav li a.active:hover {
  background-color: var(--white);
  color: $dark-grey;
}

.patient-side-nav li.heading {
  color: $dark-grey;
  font-size: 0.9rem;
  font-weight: normal;
}

.mdm-top-bar {
  height: 2.3rem;

  ul li.name {
    color: var(--white);
    font-size: 1rem;
    height: 2.2rem;
    padding-left: 0.5rem;
    padding-top: 0.4rem;

    a {
      color: var(--white);
      padding-left: 0.5rem;
    }
  }
}

@media only screen and (min-width: 830px) {
  .top-bar-section li:not(.has-form) a:not(.button) {
    padding: 0 0.6rem;
  }
}

.top-bar-section .dropdown li.info {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8em;
  line-height: 45px;
  padding: 0 8px;
  border-top: solid 1px #666;
  text-transform: uppercase;
}

.dropdown.button {
  padding-right: 2.5rem;

  &::after {
    right: 1rem;
  }
}

#top-menu-bar {
  li.menu-item a i {
    font-weight: 600;
    pointer-events: none;
    text-align: center;
    width: 1.2rem;
    vertical-align: text-bottom;
    margin-right: 0.3rem;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }

  li.menu-item--home a i:before {
    content: asset-data-url("renalware/icons/home.svg");
  }

  li.menu-item--admin a i:before {
    content: asset-data-url("renalware/icons/settings.svg");
  }
}

.sub-nav {
  background-color: transparent;
  float: left;
  margin: 0 0 1rem;
  padding: 0;
  width: 100%;
}

.sub-nav dd,
.sub-nav li {
  margin: 0 0.25rem 0 0;
}

// Used when tabs are local to an area of a page and not inside a page-heading
// Adds a border under the tabs, and the tabs within must be offset down by 1px
// so that the active one seems to have no bottom border.
.tabs-container {
  border-bottom: 1px solid var(--tab-border-color);
  clear: both;
  float: left;
  margin-bottom: 1rem;
  width: 100%;

  .sub-nav {
    margin: 0;
    position: relative;
    top: 1px;
  }
}

.sub-nav dd a,
.sub-nav li a {
  background-color: transparent;
  border: solid transparent;
  border-radius: 3px 3px 0 0;
  border-width: 3px 1px 1px;
  color: $monsoon;
  display: block;
  padding: 0.3rem 1.3rem;
  text-decoration: none;
  white-space: nowrap;
}

.sub-nav dd a:hover,
.sub-nav li a:hover {
  color: $dark-grey;
}

.sub-nav dd.active a,
.sub-nav li.active a {
  background-color: var(--white);
  border-color: var(--nhs-orange) var(--tab-border-color) transparent;
  color: $dark-grey;
  padding: 0.3rem 1.3rem;
}

.sub-nav dd.active,
.sub-nav li.active {
  font-weight: bold;
}

.sub-nav dd.active a:hover,
.sub-nav li.active a:hover {
  background-color: var(--white);
  color: $dark-grey;
}

.f-dropdown li {
  &.disabled {
    color: var(--mid-grey);
    cursor: default;
    display: block;
    padding: 0.5rem;

    &:hover {
      background-color: var(--white);
    }
  }
}

side-nav.list-group {
  padding: 0;
  margin: 0;
  margin-right: 2rem;
  border-radius: 0.3rem;
  border: solid 1px $table-border-colour;

  li {
    border-bottom: solid 1px $table-border-colour;
    margin: 0;
    font-size: 1rem;

    &:last-child {
      border-bottom: none;
    }

    a,
    a:hover,
    a:active,
    a:visited {
      color: var(--nhs-blue);
    }

    &.active {
      a,
      a:hover,
      a:active,
      a:visited {
        color: var(--black);
      }
    }
  }
}
