.pagy-foundation-nav {
  padding-top: .5rem;

  .pagination {
    li {
      &.current {
        background:#008CBA;
        color:#fff;
        font-weight: bold;
        border-radius: 3px;
        transition: background-color 300ms ease-out;
        padding: 0.0714285714rem 0.7142857143rem 0.0714285714rem;

        a {
          color: #fff;
          background: none;
        }
      }
    }
  }
}
