$search-bar-height: 2.15rem;
$btn-hover-background-color: darken($off-white, 10%);
$btn-hover-color: darken($dark-grey, 10%);

.top-bar-section .has-form {
  padding-left: 0.5rem;
  width: 210px;
}

.patient-search-form {

  button.button.tiny.postfix {
    background-color: $off-white;
    color: $dark-grey;
    height: $search-bar-height;
    padding: 0;

    &:hover {
      background-color: $btn-hover-background-color;
      color: $btn-hover-color;
    }
  }

  input {
    border: 0;
    height: $search-bar-height;
  }
}
