.simple_form {

  fieldset {
    border: 0;
    margin: 0 0 1.5rem;
    padding: 0.5rem 0;

    legend {
      border-top: 2px solid $link-colour;
      color: $dark-grey;
      font-size: 1.2rem;
      font-weight: bold;
      margin: 0;
      padding: .5rem 0 1rem 0;
      width: 100%;
    }
  }

  div.boolean {
    label {
      float: none;
      line-height: 1.3em;
      padding-bottom: 0.25rem;
      padding-left: 1rem;

      input {
        float: left;
        margin: 0.5rem 0 1rem -1rem;
      }
    }
  }

  select.date,
  select.datetime {
    margin-bottom: 1rem;
  }

  .field_with_hint {
    input,
    select {
      margin-bottom: 0;
    }
  }

  .hint {
    color: $form-hint-colour;
    display: block;
    font-size: 0.75rem;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0.25rem;
    padding: 0.2rem 0;
  }

  .radio.inline {
    display: table-cell;
    padding-right: 0.75rem;

    input {
      margin-right: 0.25rem;
    }
  }

  td {
    input[type="radio"] {
      margin: auto;
    }
  }

  .wrapper.wrapper_style_horizontal {
    @include grid-row($behavior: nest);

    > .wrapper__label {
      @media #{$small-only} {
        @include grid-column(12);
      }
      @media #{$medium-only} {
        @include grid-column(4);
      }
      @media #{$large-up} {
        @include grid-column(3);
      }

      label {
        margin: 0 0 0.85714rem 0;
        padding: 0.5rem 0;
        float: none !important;
        text-align: right;
        display: inline;
      }
    }

    // Medium is the default style if no other wrapper name given
    > .wrapper__input {
      @media #{$small-only} {
        @include grid-column(12);
      }
      @media #{$medium-up} {
        @include grid-column(6, $last-column: false);
      }

      .datepicker-wrapper {
        max-width: 12rem !important;
      }
    }

    &.wrapper_size_large {
      > .wrapper__input {
        @media #{$medium-only} {
          @include grid-column(8, $last-column: false);
        }
        @media #{$large-up} {
          @include grid-column(9, $last-column: false);
        }
      }
    }

    &.wrapper_size_small {
      > .wrapper__input {
        @media #{$medium-up} {
          @include grid-column(4, $last-column: false);
        }
      }
    }
  }
}
