.ss-content .ss-list .ss-optgroup {
  .ss-option,
  .ss-optgroup-label {
    padding-top: 1px;
    padding-bottom: 1px;
  }
}

.ss-content .ss-list .ss-option {
  padding-top: 2px;
  padding-bottom: 2px;
}

.ss-content .ss-list .ss-optgroup .ss-option,
.ss-content .ss-list .ss-option {
  &.ss-option-selected,
  &.ss-option.ss-selected {
    color: $dark-grey;
    background-color: lighten($nhs-light-blue, 20);
  }
}

.ss-main {
  color: $darkish-grey;
  padding-right: 0.5rem;
  border-color: #ccc;

  .ss-arrow {
    width: 8px;
    height: 8px;
  }

  .ss-values {
    height: 18px;
  }
}
