.ss-content .ss-list .ss-optgroup .ss-option,
.ss-content .ss-list .ss-option {
  padding-top: 2px;
  padding-bottom: 2px;

  &.ss-option-selected,
  &.ss-option.ss-selected,
  {
    color: $dark-grey;
    background-color: $off-white;
  }
}

.ss-main {
  color: $darkish-grey;
  padding-right: 0.5rem;
  border-color: #ccc;

  .ss-arrow {
    width: 8px;
    height: 8px;
  }
}
