.toggler {
  position: relative; // required for safari otherwise user cannot click on :before content
  display: inline-block; // required otherwise IE11 will not be able to click on it

  i {
    @extend %fa-icon;
    @extend .fas;
    font-weight: 600;
    pointer-events: none;
    text-align: center;
    width: 1.2rem;

    &:before {
      content: asset-data-url("renalware/icons/chevron-down.svg");
    }
  }
}

// Toggle-all
th.togglers .toggler {
  i:before {
    content: asset-data-url("renalware/icons/chevrons-down.svg");
  }

  &.toggled i:before {
    content: asset-data-url("renalware/icons/chevrons-up.svg");
  }
}

.content-toggled .toggler i,
.toggler.toggled i {
  &:before {
    content: asset-data-url("renalware/icons/chevron-up.svg");
  }
}

th.togglers {
  width: 1rem;
}

// Classes to be used when toggling open an initially hidden tr.
// The expected structure
// table.toggleable
//   thead
//      th.togglers
//        a.toggler (link to toggle all rows)
//      th ...
//  (for each thing)
//    tbody
//      tr (visible)
//        td.toggleable--toggler-container
//          a.toggler (link to toggle thos tobody's last row)
//        td ...
//      tr (will be initially hidden as its the last tr)
//        td
//        td Content to display when toggled
//
.toggleable {
  .toggleable--open {
    td .toggler i:before {
      content: asset-data-url("renalware/icons/chevron-up.svg");
    }

    th .toggler i:before {
      content: asset-data-url("renalware/icons/chevrons-up.svg");
    }
  }

  &.easy-read {
    .toggleable--open {
      tr,
      tr:hover {
        background-color: #fffeee;

        td {
          border-bottom-color: #eee;
        }

        p {
          margin-left: 0;
          padding-left: 0;
        }
      }
    }
  }

  &:not(.plx) > tbody > tr:last-child {
    display: none;
  }

  // For Phlex components we'll do it a different way
  // and hide the row in the component. This along with
  // not render notes/detail row if it's empty will simplify this.
  tbody {
    &.toggleable--open {
      tr:last-child,
      tr.hidden {
        display: table-row;
      }
    }

    // Add this class to a toggleable tbody if there is nothing to toggle open to see.
    // It prevents an empty row expanding down and taking up valuable space.
    // An alternative could be to display 'No notes' or whatever, but that seems slightly odd.
    &.toggleable--no-toggleable-content {
      tr:last-child {
        display: none;
      }
    }
  }

  &.toggleable--without-border-between-toggled-and-non-toggled-tr {
    tbody.toggleable--open:not(.no-toggleable-content) {
      td {
        border-top: solid 1px $table-border-colour;
      }

      tr:first-child td {
        border-bottom: none;
      }

      tr:last-child:not(.no-toggleable-content) td {
        border-top: none;
        padding-top: 0;
      }
    }
  }

  .toggleable--toggler-container {
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: middle;
  }
}
