.hide-button {
  display: none;
}

.show-form {
  display: block;
}

#new-form:target {
  .hide {
    display: block;
  }

  .close-new-form {
    display: inline-block;
  }

  .toggle {
    display: none;
  }
}

#new-probs-form:target {
  .hide {
    display: block;
  }

  .close-new-form {
    display: inline-block;
  }

  .toggle {
    display: none;
  }
}

#new-organism-form:target {
  .hide {
    display: block;
  }

  .close-new-form {
    display: inline-block;
  }

  .toggle {
    display: none;
  }
}

.close-new-organism-form {
  display: none;
}

.close-new-form {
  display: none;
}

.toggle-text {
  font-size: 0.8em;
}

.toggle-content {
  font-size: 0.9em;
}

.edit {
  color: $aluminum;
  padding-right: 0.5em;
}

.css-toggle-container {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.expanded {
    white-space: normal;
  }
}
