.toggler {
  position: relative; // required for safari otherwise user cannot click on :before content
  display: inline-block; // required otherwise IE11 will not be able to click on it

  i {
    @extend %fa-icon;
    @extend .fas;
    font-weight: 600;
    pointer-events: none;
    text-align: center;
    width: 1.2rem;

    &:before {
      content: asset-data-url("renalware/icons/chevron-down.svg");
    }
  }
}

th.togglers .toggler {
  i:before {
    content: asset-data-url("renalware/icons/chevrons-down.svg");
  }

  &.toggled i:before {
    content: asset-data-url("renalware/icons/chevrons-up.svg");
  }
}

.content-toggled .toggler i,
.toggler.toggled i  {
  &:before {
    content: asset-data-url("renalware/icons/chevron-up.svg");
  }
}

th.togglers {
  width: 1rem;
}

// row-toggler-controller classes
.toggleable {
  .toggleable--open {
    td .toggler i:before {
      content: asset-data-url("renalware/icons/chevron-up.svg");
    }

    th .toggler i:before {
      content: asset-data-url("renalware/icons/chevrons-up.svg");
    }
  }

  tbody {
    tr:last-child {
      display: none
    }

    &.toggleable--open tr:last-child {
      display: table-row;
    }
  }
}
