h1.brand-name {
  color: $white;
  padding-left: 0.7em;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

h5 {
  font-size: 1em;
  font-weight: bold;
}

p {
  margin: 0 0 0.5em 0;
  padding: 0 0.5em 0 0.5em;
}

ul {
  margin-bottom: 0;
}

ul.table-data-list {
  clear: both;
  font-size: 1em;
  line-height: 1.3rem;
}

li.history {
  color: $aluminum;
  display: block;
}

span.monospaced {
  font-family: monospace;
  font-size: 1.2em;
}

span.note {
  color: $aluminum;
  font-size: 0.8rem;
}

.hint {
  color: $form-hint-colour;
  display: block;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 0.25rem;
  padding: 0.2rem 0;
}

.edit_timestamp {
  font-size: 1rem;
  margin: -1rem 0 1rem 0;
  padding: 0;
}

.muted {
  color: $dashboard-muted-color;
}
