.padding-bottom-1 {
  padding-bottom: 1em;
}

.padding-top-1 {
  padding-top: 1em;
}

.g-center {
  text-align: center;
}

.hidden {
  display: none;
}

.nowrap {
  white-space: nowrap;
}

.row.no-side-gutters {
  margin-left: 0;
  margin-right: 0;
  max-width: inherit;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}
