= field_set_tag "Organisation/Practice" do
  dl.dl-horizontal
    dt GP Practice Code:
    dd= patient.gp_practice_code
    dt PCT Organisation Code:
    dd= patient.pct_org_code
    dt Hospital Centre Code:
    dd= patient.hospital_centre_code
    dt Primary ESRF Centre:
    dd= patient.primary_esrf_centre
