ruby:
  models = { recipient_operation => [:performed_on,
    :theatre_case_start_time,
    :donor_kidney_removed_from_ice_at,
    :kidney_perfused_with_blood_at,
    :operation_type,
    :hospital,
    :cold_ischaemic_time_formatted,
    :warm_ischaemic_time_formatted,
    :notes]
  }

= render "renalware/shared/attributes_group",
    legend: "Operation", destination: "operation",
    models: models

