ruby:
  sections = [
    ["Operation", "operation"],
    ["Kidney", "kidney"],
    ["Recipient", "recipient"],
    ["Donor", "donor"],
    ["Outcome", "outcome"],
    ["DSA", "dsa"],
    ["BKV", "bkv"]
  ]

dl.sub-nav data-magellan-expedition="fixed"
  - sections.each do |title, target|
    dd data-magellan-arrival="#{target}"
      = link_to title, "#"+target
