body {
	width: 17cm;
	padding: 1px 0 0;
	position: static;
	font-size: 70.5%;
	font-family: Helvetica, Arial, sans-serif;
}

#letterhead {
	width: 100%;
	margin-bottom: 3em;
}

#topleft {
	float: left;
	width: 50%;
	vertical-align: top;
	margin-bottom: 10px;
}

#renalunit {
	font-size: 1em;
	font-weight: normal;
	margin-bottom: 12px;
}

#topright {
	font-weight: normal;
	float: right;
	text-align: right;
	padding-right: 5px;
}

#trustname {
	font-size: 1.4em;
	vertical-align: baseline;
	color: #333;
}

#nhslogo {
	font-style: italic;
	font-weight: bold;
	font-size: 1.4em;
	color: white;
	background-color: #333;
	vertical-align: baseline;
	padding: 4px;
}

#trustcaption {
	font-size: 0.9em;
	color: #333;
	vertical-align: baseline;
	padding: 2px;
	margin-right: 60px;
}

.siteinfohtml {
	margin-top: 4px;
	font-size: 0.85em;
	line-height: 1.2em;
	text-align: right;
}

.siteinfohtml b {
	font-size: 0.84em;
}

.link {
	color: blue;
	text-decoration: none;
}

.lettertext {
	width: 17cm;
	clear: left;
	text-align: left;
	vertical-align: top;
	font-size: 1em;
	line-height: 1.1em;
}

.letterstatus {
	color: red;
	font-weight: bold;
}

#ref {
	text-decoration: underline;
	font-weight: bold;
}

div#probsmedsdiv {
	width: 95%;
	margin-top: 5px;
	margin-bottom: 5px;
	clear: both;
}

div#probsdiv {
	float: left;
	width: 50%;
}

div#medsdiv {
	float: right;
	width: 50%;
}

div#allergiesresultsdiv {
	margin-top: 10px;
	clear: both;
}

div#lettertextdiv {
	clear: both;
	margin-top: 10px;
	margin-bottom: 5px;
}

div#signaturediv {
	clear: both;
	height: 60px;
}

div#ccdiv {
	margin-top: 10px;
	font-size: 0.85em;
}

br.pagebreak {
	page-break-after: always;
}