RACK_ENV=development
PORT=3000

# Puma configuration
# Values of 1 are suitable for development
# For setting production values please see the Puma documentation or guidelines here
# https://devcenter.heroku.com/articles/deploying-rails-applications-with-the-puma-web-server
WEB_CONCURRENCY=1
RAILS_MAX_THREADS=1
WEB_TIMEOUT=15

DEFAULT_FROM_EMAIL_ADDRESS=kch-tr.renal@nhs.net
PHONE_NUMBER_ON_LETTERS=020 3299 6233
DISPLAY_FEEDBACK_BANNER=1

# Un-commenting this line will cause mail to be sent to external parties eg GP Practices
# ALLOW_EXTERNAL_MAIL=1
FALLBACK_EMAIL_ADDRESS_FOR_TEST_MESSAGES=tim@woodpigeon.com
