= within_patient_layout(title: "New VND Risk Assessment",
                        breadcrumbs: [hd_summary_breadcrumb(assessment.patient)]) do
  = render "form",
           assessment: assessment,
           url: renalware.patient_hd_vnd_risk_assessments_path(assessment.patient)
