= render "form",
         prescription_administration: prescription_administration,
         url: hd_prescription_administration_path( \
           prescription: prescription_administration.prescription,
           prescription_administration: prescription_administration)
