= render "form",
         prescription_administration: prescription_administration,
         url: hd_prescription_administrations_path

javascript:
  Renalware.HDPrescriptionAdministration.init();
  initDatepickersIn(".hd-drug-administration");
