div(class="#{'disabled-input' unless policy(f.object).new_hd_prescription?}")
  = f.input :administer_on_hd,
            wrapper: :horizontal_small,
            input_html: { \
              disabled: !policy(f.object).new_hd_prescription?,
              data: { \
                action: "click->prescriptions#toggleHdPrescriptionOptions change->prescriptions#toggleHdPrescriptionOptions",
                "prescriptions-target": "administerOnHd" } }

  = f.input :fixed_number_of_doses,
            collection: (1..10).to_a,
            include_blank: true,
            wrapper: :horizontal_small
