div(class="#{'disabled-input' unless policy(f.object).new_hd_prescription?}")
  = f.input :administer_on_hd,
            wrapper: :horizontal_small,
            input_html: { \
              disabled: !policy(f.object).new_hd_prescription?,
              data: { \
                action: "click->prescriptions#toggleHdPrescriptionOptions change->prescriptions#toggleHdPrescriptionOptions",
                "prescriptions-target": "administerOnHd" } }

  div(data-prescriptions-target="hdOptions" class="#{'hidden' unless f.object.administer_on_hd?}")
    div(data-prescriptions-target="statContainer")
      = f.input :stat,
                wrapper: :horizontal_small,
                hint: "if checked, the prescription will be automatically terminated once given",
                input_html: { \
                  data: { \
                    action: "change->prescriptions#toggleHdDoseOptions",
                    "prescriptions-target": "stat" } }

    div(data-prescriptions-target="fixedDoseContainer")
      = f.input :fixed_number_of_doses,
                collection: (2..10).to_a,
                include_blank: true,
                wrapper: :horizontal_small,
                input_html: { \
                  data: { \
                    action: "change->prescriptions#toggleHdDoseOptions",
                    "prescriptions-target": "fixedDose" } }
