= within_admin_layout(title: composed_dashboard_title(current_user.full_name), page_title: "Dashboard") do
  = render Renalware::Users::LastSigninComponent.new(current_user: current_user)
  = render "content", dashboard: dashboard
