= within_admin_layout(title: "Edit", breadcrumbs: [ \
      breadcrumb_for(ward.hospital_unit.name, hospitals_units_path),
      breadcrumb_for("Wards", hospitals_unit_wards_path(ward.hospital_unit)) \
  ]) do

  = simple_form_for ward,
        url: hospitals_unit_ward_path(ward.hospital_unit, ward),
        html: { autocomplete: "off" },
        as: :ward,
        wrapper: "horizontal_form" do |f|

      = render "form", f: f
