= content_for(:actions) do
  = link_to t("edit_record.link_title"),
            edit_patient_transplants_recipient_operation_followup_path(patient,
              recipient_followup.operation),
            class: "button"

= within_patient_layout(title: recipient_followup_title(recipient_followup),
                        breadcrumbs: recipient_summary_breadcrumb(patient)) do

  .edit_timestamp= render "renalware/shared/last_update", record: recipient_followup

  .document-view
    .grid
      .row
        = render "renalware/shared/attributes_group",
            legend: "Transplant Failure", destination: "transplant_failure",
            models: { recipient_followup => [:stent_removed_on,
                                              :transplant_failed, :transplant_failed_on,
                                              :transplant_failure_cause_description,
                                              :transplant_failure_cause_other,
                                              :transplant_failure_notes] }

        = render "renalware/shared/documents/attributes_group",
            group: recipient_followup.document.cardiovascular_complication,
            legend: "Cardiovascular Complication", destination: "cardiovascular_complication"

        = render "renalware/shared/attributes_group",
            legend: "Observations", destination: "observations",
            models: { recipient_followup.document => [:malignancy_within_first_3_months,
                                                       :malignancy_within_first_12_months,
                                                       :acute_rejection_biopsy_proven,
                                                       :recipient_pregnancy,
                                                       :primary_or_recurrent_renal_disease] }

        = render "renalware/shared/attributes_group",
            legend: "Admin", destination: "admin",
            models: { recipient_followup => [:notes] }
