- document = event.document

i=attr_name(document, :result1, suffix: ":")
|&nbsp;
= document.result1&.text || t("unspecified")
|&nbsp;&nbsp;
i= attr_name(document, :result2, suffix: ":")
|&nbsp;
= document.result2&.text || t("unspecified")
