.admissions-table table {
  td, th {
    vertical-align: top;
  }

  th.subhead {
    color: $black;
    text-align: center;

    &.admission {
      background-color: $light-yellow;
      text-shadow: lighten($light-yellow, 20) .05rem .05rem;
    }

    &.discharge {
      background-color: $light-green;
      text-shadow: lighten($light-green, 20) .05rem .05rem
    }
  }
}

#admissions-request-modal {
  .admissions-request-patient {
    margin-bottom: 1rem;
  }
}

.admissions_requests {

   td.priority {
    span {
      @include badge;
    }
  }

  tr.priority-urgent {
    td.priority span {
      background-color: $priority-urgent;
    }
  }


  tr.priority-high {
    td.priority span {
      background-color: $priority-high;
    }
  }

  tr.priority-medium {
    td.priority span {
      background-color: $priority-medium;
    }
  }

  tr.priority-low {
    td.priority span {
      background-color: $priority-low;
    }
  }
}

