#admissions-request-modal {
  .admissions-request-patient {
    margin-bottom: 1rem;
  }
}

.admissions_requests {

   td.priority {
    span {
      @include badge;
    }
  }

  tr.priority-urgent {
    td.priority span {
      background-color: $priority-urgent;
    }
  }


  tr.priority-high {
    td.priority span {
      background-color: $priority-high;
    }
  }

  tr.priority-medium {
    td.priority span {
      background-color: $priority-medium;
    }
  }

  tr.priority-low {
    td.priority span {
      background-color: $priority-low;
    }
  }
}

.admissions-consults-table {
  tbody tr td:last-child {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-right: 0;
  }

  td {
    .button.dropdown {
      padding: .2rem 2.3rem .2rem .4rem;
      margin: 0;
    }
    .f-dropdown {
      margin-left: -100px;
    }
    .button-group {

    }
  }
}
