/* After a click and copied to clipboard */

.clipboardable {
  border: solid 1px transparent;
  border-radius: 3px;
  transition: background-color .1s ease-in;
  transition: background-color .3s ease-out;

  &.success {
    background-color: $nhs-light-blue;
  }
}
