article.clinical-allergies {
  padding-bottom: 0;

  .current-status {
    font-weight: normal;
    padding-left: 0;
  }

  .panel {
    margin: 2rem 0 0.6rem 0;
    padding: 0.5rem 0;

    .flex-container {
      align-items: center;
      flex-align: stretch;
      justify-content: center;
      margin: 0 1rem;

      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }

      input {
        margin: 0;
      }

      label {
        flex: 10;
      }
    }
  }
}

.lozenge {
  padding: 0 4px;

  ul {
    li {
      background-color: var(--light-grey);
      border: 0;
      border-radius: 0.3rem;
      display: inline-block;
      // margin: 0.1rem 0.3rem 0.2rem 0;
      margin: 0.1rem 0.6rem 0.2rem 0;
      // padding: 0.3rem 0.3rem 0 .2rem;
      padding: 0;
      //padding: .2em .3rem 0 .3rem;
    }
  }
}

.clinical-header {
  // background-color: $disabled-colour;
  padding: 0 0.2em 0.2em 0.6em;

  @media print {
    display: none;
  }

  &.lozenge {
    padding: 1px 4px 1px 4px;

    ul {
      li {
        background-color: var(--light-grey);
        border: 0;
        border-radius: 0.3rem;
        padding: 0.3rem 0.4rem;
        margin: 2px 3px 0 0;
      }
    }

    dl {
      font-size: 0.9rem;
      line-height: 0.8rem;
      margin: 0;
      padding: 0;
    }
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      border-bottom: 1px solid var(--winter-sky);
      display: inline-block;
      margin: 0.2rem 0.6rem 0.2rem 0;
      padding: 0;
    }
  }

  dl {
    font-size: 0.9rem;
    line-height: 0.8rem;
    margin: 0;
    padding: 0;

    dt,
    dd {
      display: inline-block;
      margin: 0;
      padding: 0;
    }

    dt {
      font-weight: normal;
    }

    dd {
      font-weight: bold;
      padding-left: 0.2rem;

      &.date {
        color: var(--muted-dark-grey);
        font-style: italic;
        font-weight: normal;
      }

      &.empty {
        display: none;
      }
    }
  }
}

.patient-alerts--sticky {
  /*
  Using  position: sticky is in Chrome 56 and recent Firefox and will not work in IE11
  but is a simple way for us to fix the alerts under the patient banner when the user
  has scroll downn, so they are always there
  https://gedd.ski/post/position-sticky/
  */
  position: sticky;
  top: 0;
  z-index: 1;
}

.patient-alerts {
  color: var(--white);
  background-color: transparent;
  padding-top: 1px;

  @media print {
    display: none;
  }

  &.lozenge {
    ul {
      margin: 0;

      li {
        background-color: var(--nhs-orange);
        color: var(--white);
        display: inline-block;
        margin: 0 0.3rem 0 0;
        margin: 0.1rem 0.3rem 0.1rem 0;
        padding: 0 0.3rem 0 0.4rem;
        line-height: 1.6rem;

        &:hover {
          // TODO: darken($nhs-orange, 5);
          // background-color: darken($nhs-orange, 5);
        }

        &.urgent {
          background-color: var(--nhs-red);

          &:hover {
            background-color: var(--nhs-red-lighter);
          }

          .date,
          .author,
          .actions {
            border-left: 1px solid var(--nhs-red-lighter);
          }
        }

        &.covid_19 {
          background-color: var(--nhs-yellow);
          color: $dark-grey;

          &:hover {
            background-color: var(--nhs-yellow-lighter);
          }

          .actions i:before {
            color: $dark-grey;
          }

          .date,
          .author,
          .actions {
            border-left: 1px solid var(--nhs-yellow-lighter);
          }
        }

        &.active-consult {
          background-color: $nhs-pink;

          &:hover {
            background-color: darken($nhs-pink, 7);
          }

          .title a,
          i:before {
            color: var(--white);
          }
        }

        &.vaccination {
          background-color: $nhs-aqua-green;

          &:hover {
            background-color: darken($nhs-aqua-green, 4);
          }

          .title a,
          i:before {
            color: var(--white);
          }
        }

        &.event {
          background-color: var(--nhs-yellow);

          &:hover {
            background-color: var(--nhs-yellow-darker);
          }

          .title a,
          .date,
          i:before {
            color: $dark-grey;
          }
        }

        &.research-study-participant {
          background-color: darken($nhs-green, 3);
          color: var(--white);

          &:hover {
            background-color: darken($nhs-green, 5);
          }

          a {
            border-bottom: 1px solid var(--white);
            color: var(--white);
          }

          .date {
            border-left: 1px solid var(--mid-grey);
          }

          span {
            color: var(--white);
          }
        }

        span {
          padding: 0 0.4rem;
        }

        .body,
        .external_application_link {
          padding-left: 0;
        }

        .date,
        .author,
        .actions {
          border-left: 1px solid var(--winter-sky);
          font-style: italic;
          white-space: nowrap;

          .fa,
          .fas,
          .far {
            color: var(--light-grey);
            &:hover {
              color: var(--white);
            }
          }
        }

        .actions {
          padding-left: 0.6rem;
          padding-right: 0.1rem;
        }
      }
    }
  }
}
