/* After a click and copied to clipboard */

.clipboardable {
  transition: background-color .1s ease-in;
  transition: background-color .3s ease-out;
  cursor: copy;
  border: solid 1px transparent;
  border-radius: 3px;

  &.success {
    background-color: $nhs-light-blue;
  }
}
