article.clinical-allergies {
  padding-bottom: 0;

  .current-status {
    font-weight:  normal;
    padding-left: 0;
  }

  .panel {
    margin: 2rem 0 .6rem 0;
    padding: 0.5rem 0;

    .flex-container {
      flex-align: stretch;
      margin: 0 1rem;
      align-items: center;
      justify-content: center;

      &.disabled {
        pointer-events:none;
        opacity: .5;
      }

      input {
        margin: 0;
      }

      label {
        flex: 10;
      }
    }
  }
}


.clinical-header {
  background-color: $light-grey;
  padding: .4em .2em .5em .6em;

  dl {
    padding: 0;
    margin: 0;

    dt, dd {
      display: inline-block;
      margin: 0 .3rem 0 0;
    }

    dt {
      font-weight: normal;
    }

    dd {
      font-weight: bold;

      &.date {
        font-weight: normal;
        font-style: italic;
        margin-right: .6rem;
      }
    }
  }
}
