article.clinical-allergies {
  padding-bottom: 0;

  .current-status {
    font-weight:  normal;
    padding-left: 0;
  }

  .panel {
    margin: 2rem 0 .6rem 0;
    padding: 0.5rem 0;

    .flex-container {
      flex-align: stretch;
      margin: 0 1rem;
      align-items: center;
      justify-content: center;

      &.disabled {
        pointer-events:none;
        opacity: .5;
      }

      input {
        margin: 0;
      }

      label {
        flex: 10;
      }
    }
  }
}

.lozenge {
  padding: .2em .3rem 0 .3rem;

  ul {
    li {
      padding: 0.3rem 0.3rem 0 .2rem;
      border: none;
      margin: 0.1rem 0.3rem 0.2rem 0;
      border-radius: 0.3rem;
      background-color: $light-grey;
      display: inline-block;
      padding: 0;
      margin: 0.2rem .6rem .2rem 0
    }
  }
}

.clinical-header,
.research-study-participation-alerts {
  background-color: $table-border-colour;
  padding: 0em .2em .2em .6em;

  &.lozenge {
    background-color: $white;
    padding: 0 .3rem .2em .3rem;

    ul {
      li {
        padding: 0.3rem 0.3rem;
        border: none;
        margin: 0.1rem 0.3rem 0.2rem 0;
        border-radius: 0.3rem;
        background-color: $light-grey;
      }
    }

    dl {
      padding: 0;
      margin: 0;
      font-size: 0.9rem;
      line-height: 0.9rem;
    }
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      padding: 0;
      border-bottom: 1px dotted $winter-sky;
      margin: 0.2rem .6rem .2rem 0
    }
  }

  dl {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    line-height: 0.8rem;

    dt, dd {
      padding: 0;
      margin: 0;
      display: inline-block;
    }

    dt {
      font-weight: normal;
    }

    dd {
      font-weight: bold;
      padding-left: 0.2rem;

      &.date {
        font-weight: normal;
        font-style: italic;
        color: $muted-dark-grey;
      }

      &.empty {
        display: none;
      }
    }
  }
}

.research-study-participation-alerts {
  .lozenge {
    ul {
      li {
        background-color: $nhs-pink;
        color: $white;
      }
    }
  }
}

.patient-alerts {
  &.lozenge {
    ul {
      margin: 0;

      li {
        background-color: $nhs-orange;
        color: $white;
        margin: 0 .3rem 0 0;
        display: inline-block;
        padding: 0 .4rem;
        margin: 0.1rem 0.3rem 0.2rem 0;

        &:hover {
          background-color: darken($nhs-orange, 5);
        }

        &.urgent {
          background-color: $nhs-red;

          &:hover {
            background-color: darken($nhs-red, 5);
          }
        }

        &.research-study-participant {
          background-color: $nhs-green;

          &:hover {
            background-color: darken($nhs-green, 5);
          }

          a {
            color: $white;
            border-bottom: 1px dotted $light-grey;
          }
        }

        span {
          padding: 0 .4rem;
        }

        .body {
          padding-left: 0;
        }

        .date,
        .author,
        .actions {
          font-style: italic;
          border-left: 1px solid $winter-sky;
          color: $light-grey;
          white-space: nowrap;

          .fa {
            color: $light-grey;
            &:hover {
              color: $white;
            }
          }
        }

        .actions {
          padding-right: .1rem;
          padding-left: .6rem;
        }
      }
    }
  }
}
