.dashboard-content {
  margin-top: 10px;

  h3 {
    font-size: 1.1rem;
    font-weight: bold;
  }

  p {
    padding-left: 0;

    &.empty-section {
      clear: both;
      color: $dashboard-muted-color;
      padding-left: 0;
    }
  }
}

.dashboard-owner {
  color: $mid-grey;
  font-style: normal;
}
