.feeds-files {
  td {
    vertical-align: top;
  }

  .status span {
    border-radius: 0.3rem;
    color: var(--white);
    padding: 0.2rem 0.5rem;
  }

  .waiting .status span {
    background-color: var(--muted-dark-grey);
  }

  .processing .status span {
    background-color: var(--nhs-warm-yellow);
  }

  .failure .status span {
    background-color: var(--nhs-red);
  }

  .success .status span {
    background-color: $nhs-green;
  }
}
