table.stripeless {
  // .session_import_success {
  //   background-color: lightgreen !important;
  // }

  .session_import_error {
    background-color: #ffe5e5 !important;
  }
}

.hd-unit-diaries {
  .current-week {
    background-color: $table-toggled-content-colour;
  }
}

.which-diary {
  color: $aluminum;
  margin: 0 0 0.5rem;
  padding: 0;

  .master {
  }

  .weekly {
  }
}

.diary__navigation {
  a:first-child {
    float: left;
  }

  a:last-child {
    float: right;
  }
}

.diary__key {
  margin: auto;
  text-align: center;
  width: 50%;

  .diary__key--master-diary {
    background-color: $white;
  }

  .diary__key--weekly-diary {
    background-color: $hd-weekly-diary-colour;
  }

  .title {
    color: $dark-grey;
    display: inline-block;
    font-size: 1.1rem;
  }

  ul {
    display: inline-block;
    list-style: none;

    li {
      border: solid 1px $mid-grey;
      display: inline;
      font-size: 0.9rem;
      margin: 0 0.1rem;
      padding: 0.2rem 0.5rem;
    }
  }
}

.diary {

  .diary__period {
    margin-bottom: 1.5rem;
  }

  header {
    margin-bottom: 1rem;
    text-align: center;

    h1,
    h2 {
      display: inline;
      font-size: 1.6rem;
      font-weight: normal;
      margin-right: 1rem;

      &:last-child {
        color: $dark-grey;
      }
    }
  }

  h2 {
    color: $mid-grey;
  }

  h3 {
    color: $dark-grey;
    font-size: 1.5rem;
  }

  tr {
    &:nth-of-type(even) {
      background: $white;
    }
  }

  thead {
    border: 0;

    tr,
    tr:nth-of-type(even) {
      background-color: $smoke;

      th {
        border-color: $smoke;
        text-align: center;

        h3 {
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  tbody {
    th {
      border-left: 5px solid $white;
    }

    tr:hover {
      th {
        border-left: 5px solid $dark-grey;
      }
    }
  }


  .diary__button {
    background-color: transparent;
    display: inline-block;
    font-size: 0.9rem;
    margin: 0;
    overflow: hidden;
    padding: 0.5rem;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    white-space: nowrap;
    width: 100%;
  }

  td {
    background-color: $white;
    border: 1px solid $light-grey;
    padding: 0;
    text-align: center;

    // Creates a red triangle top left. Some work to do overlaying cell.
    &.infected-patient {
      div {
        border-color: $nhs-red transparent transparent transparent;
        border-style: solid;
        border-width: 2rem 2rem 0 0;
        height: 0;
        position: absolute;
        width: 0;
      }
    }

    &:empty {
      background-color: $light-grey;
    }

    &:hover {
      border-color: $dark-grey;
    }

    &[data-weekly] {
      background-color: $hd-weekly-diary-colour;

      a {
        color: $dark-grey;
      }

      .diary__button:hover {
        background-color: $hd-weekly-diary-hover-colour;
      }
    }

    &[data-master] {

      &:hover {
        background-color: $almost-white;
      }

      .diary__button:hover {
        background-color: $almost-white;
      }
    }

    &[data-master] {
      background-color: $white;
      a {
        color: $dark-grey;
      }
    }
  }
}

// Start CSS-only toggle of full HD Profile
label#toggle-full-hd-profile {
  color: $link-colour;
  display: inline-block;
  margin: 0.16rem;

  &:focus {
    color: $link-focus-colour;
  }
}

.full-hd-profile {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height .3s ease 0s;
}

input#toggle-full-hd-profile-input {
  display: none;

  &:checked ~ .full-hd-profile {
    max-height: 500px;
    overflow: hidden;
  }
}
// End CSS-only toggle of full HD Profile

table.hd-sessions {
  border-collapse: collapse;
  border-spacing: 0;
  td {
    height: 2rem;
  }

  .has-tip {
    font-weight: normal;
  }

  thead {
    tr {
      &:nth-of-type(even) {
        background-color: #f5f5f5;
      }

      th {
        border: 1px solid #ddd;
        padding: 3px;
        vertical-align: top;
      }

      &.row2 {
        th {
          font-style: italic;
          font-weight: normal;
        }
      }
    }
  }

  tbody {
    tr {
      &:nth-of-type(even) {
        background-color: $white;
      }

      &:nth-of-type(odd) {
        background-color: $white;
      }

      &.even{
        background-color: #f9f9f9;
      }

      &.open {
        td {
          background-color: #ffffc8;
        }
      }

      &.closed {
      }

      &.dna {
        td {
          background-color: #ccc;
        }
      }

      td {
        border-right: 1px solid #ddd;
        &.derived {
          font-style: italic;
        }
      }
    }
  }
}

.hd-session-form {
  .simple_form {
    label.boolean {
      padding-left: 0;
    }

    input.boolean {
      float: none;
      margin-top: 0.3rem;
    }
  }
}

.mdm-page {
  .patient-header {
    dl {
      margin-left: 0;
    }
  }
}

table.mdm.audit {
  thead {
    th {
      vertical-align: top;
    }
  }
}

.hd-unmet-preferences {
  thead {
    tr {
      th {
        vertical-align: top;
      }

      &.secondary th {
        background: $smoke;
        border-top: 0;
        font-style: italic;
        font-weight: normal;
      }
    }
  }


  td {
    vertical-align: top;
  }

  dl,
  dd,
  dt {
    line-height: 1.3rem;
    margin: 0;
    padding: 0;
  }

  dd {
    margin-bottom: 0.2rem;
  }
}
