#hd-session-form-batch-print-modal {
  .cancel-link {
    margin-bottom: 0.5em;
    display: inline-block;
    font-size: 1rem;
  }

  .percent_complete {
    font-size: 1.3rem;
    float: right;
  }

  .modal__footer {
    .left {
      color: var(--dashboard-muted-color);
    }
  }
}

.hd_transmission_logs {
  tr {
    &.session_import_success {
      td.result {
        background: lighten($nhs-light-green, 50);
      }
    }
    &.file {
      td {
        background: var(--off-white);
        border-bottom: solid 2px $charcoal;
      }
    }
    &.session_import_error {
      td.result {
        background-color: lighten($nhs-pink, 50);
      }
    }
  }
}

.hd-unit-diaries {
  .current-week {
    background-color: $table-toggled-content-colour;
  }
}

.which-diary {
  color: $aluminum;
  margin: 0 0 1rem;
  padding: 0;
}

.diary__navigation {
  a:first-child {
    float: left;
  }

  a:last-child {
    float: right;
  }
}

.diary__key {
  margin: auto;
  text-align: center;
  width: 50%;

  .diary__key--master-diary {
    background-color: var(--white);
  }

  .diary__key--weekly-diary {
    background-color: $hd-weekly-diary-colour;
  }

  .title {
    color: $dark-grey;
    display: inline-block;
    font-size: 1.1rem;
  }

  ul {
    display: inline-block;
    list-style: none;

    li {
      border: solid 1px var(--mid-grey);
      display: inline;
      font-size: 0.9rem;
      margin: 0 0.1rem;
      padding: 0.2rem 0.5rem;
    }
  }
}

.diary {
  .diary__period {
    margin-bottom: 1.5rem;
  }

  header {
    margin-bottom: 1rem;
    text-align: center;

    h1,
    h2 {
      display: inline;
      font-size: 1.6rem;
      font-weight: normal;
      margin-right: 1rem;

      &:last-child {
        color: $dark-grey;
      }
    }
  }

  h2 {
    color: var(--mid-grey);
  }

  h3 {
    color: $dark-grey;
    font-size: 1.5rem;
  }

  tr {
    &:nth-of-type(even) {
      background: var(--white);
    }
  }

  thead {
    border: 0;

    tr,
    tr:nth-of-type(even) {
      background-color: $smoke;

      th {
        border-color: $smoke;
        text-align: center;

        h3 {
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  tbody {
    th {
      border-left: 5px solid var(--white);
    }

    tr:hover {
      th {
        border-left: 5px solid $dark-grey;
      }
    }
  }

  .diary__button {
    background-color: transparent;
    display: inline-block;
    font-size: 0.9rem;
    margin: 0;
    overflow: hidden;
    padding: 0.5rem;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    white-space: nowrap;
    width: 100%;
  }

  td {
    background-color: var(--white);
    border: 1px solid var(--light-grey);
    padding: 0;
    text-align: center;

    // Creates a red triangle top left. Some work to do overlaying cell.
    &.infected-patient {
      div {
        border-color: var(--nhs-red) transparent transparent transparent;
        border-style: solid;
        border-width: 2rem 2rem 0 0;
        height: 0;
        position: absolute;
        width: 0;
      }
    }

    &:empty {
      background-color: var(--light-grey);
    }

    &:hover {
      border-color: $dark-grey;
    }

    &[data-weekly] {
      background-color: $hd-weekly-diary-colour;

      a {
        color: $dark-grey;
      }

      .diary__button:hover {
        background-color: $hd-weekly-diary-hover-colour;
      }
    }

    &[data-master] {
      &:hover {
        background-color: var(--almost-white);
      }

      .diary__button:hover {
        background-color: var(--almost-white);
      }
    }

    &[data-master] {
      background-color: var(--white);
      a {
        color: $dark-grey;
      }
    }
  }
}

// Start CSS-only toggle of full HD Profile
label#toggle-full-hd-profile {
  color: $link-colour;
  display: inline-block;

  &:focus {
    color: var(--link-focus-colour);
  }
}

.full-hd-profile {
  max-height: 0;
  overflow-y: hidden;
  //transition: max-height .3s ease 0s;
}

input#toggle-full-hd-profile-input {
  display: none;

  &:checked ~ .full-hd-profile {
    max-height: 500px;
    overflow: hidden;
  }
}
// End CSS-only toggle of full HD Profile

table.hd-sessions {
  border-spacing: 0;
  border-collapse: collapse;

  td {
    height: 2rem;
  }

  .has-tip {
    font-weight: normal;
  }

  thead {
    border-bottom: solid 1px #222;

    tr {
      th {
        border-bottom: none;
        padding: 3px;
        vertical-align: top;
      }

      &.row2 {
        th {
          font-style: italic;
          font-weight: normal;
        }
      }
    }
  }

  tbody {
    border-top: solid 2px #bbb;

    &:last-child {
      border-bottom: solid 1px #bbb;
    }

    &:hover {
      background-color: $table-row-hover-colour !important;
    }

    &.dna {
      td {
        background-color: #e6eff8;
      }
    }

    &.open {
      td {
        background-color: #fff1cc; // #FFF1CC; // #ffffc8;
      }
    }

    &.dna {
      td {
        // background-color: #eee;
        background-color: #e6eff8;
      }
    }

    td {
      &.derived {
        font-style: italic;
      }
    }
  }
}

.hd-session-form {
  .simple_form {
    label.boolean {
      padding-left: 0;
    }

    input.boolean {
      float: none;
      margin-top: 0.3rem;
    }
  }
}

.mdm-page {
  .patient-header {
    dl {
      margin-left: 0;
    }
  }
}

.hd-unmet-preferences {
  thead {
    tr {
      th {
        vertical-align: top;
      }

      &.secondary th {
        background: $smoke;
        border-top: 0;
        font-style: italic;
        font-weight: normal;
      }
    }
  }

  td {
    vertical-align: top;
  }

  dl,
  dd,
  dt {
    line-height: 1.3rem;
    margin: 0;
    padding: 0;
  }

  dd {
    margin-bottom: 0.2rem;
  }
}

/*
For the prescription administration section in the HD Session form
use flexbox to layout items inside each prescription.
*/
.hd-drug-administration {
  display: flex;
  flex-wrap: wrap;

  .summary {
    flex-basis: 100%;
    display: flex; /* also a flex for items within it */

    .hd-drug {
      flex: 1 1 auto;
      padding-bottom: 0.5rem;
      color: var(--mid-grey);

      .hd-drug--name {
        font-weight: bold;
      }

      .hd-drug--name,
      .hd-drug--dose,
      .hd-drug--route,
      .hd-drug--prescribed-on,
      .hd-drug--frequency,
      .hd-drug--prescriber-name,
      .hd-drug--prescriber-position {
        display: inline-block;
        padding-right: 0.5rem;
        color: $dark-grey;
      }

      .hd-drug--prescriber-name,
      .hd-drug--prescriber-position {
        color: var(--muted-dark-grey);
        padding-right: 0.3rem;
      }

      .hd-drug--termination {
        .hd-drug--termination-date {
          color: $dark-grey;
          display: inline-block;
          color: $dark-grey;
          padding: 0 0.3rem;
        }
      }
    }
  }

  /*
  This is the checkox to indicate the drug was administered.
  We fix its width as we never want it to shrink.
  */
  .hd-drug-administered {
    width: 98%;
    text-align: right;
    display: flex;
    margin-top: 0.3rem;

    label,
    .radio_buttons {
      display: flex;
      flex: 0 1 9rem;
    }
  }

  .recorded-on {
    width: 98%;

    .datepicker {
      width: 140px !important;
    }
  }

  .reason-why-not-administered {
    display: none;
  }

  &.undecided {
    .authentication {
      display: block;
    }
  }

  &.administered {
    border-right-color: var(--nhs-red);

    /* The 'status' values for the prescription-administration */
    &[data-token-count="2"] {
      border-right-color: $nhs-green;
    }
  }

  &.not-administered {
    .authentication {
      display: none;
    }

    .reason-why-not-administered {
      display: block;
    }
  }

  .small-input {
    max-width: inherit !important;
  }

  .notes {
    flex: 1 1 auto;
    margin-right: 1rem;

    textarea {
      height: 5.2rem;
    }

    @media screen and (max-width: 768px) {
      // As the screen shrinks, put the user/password boxes under the notes
      flex-basis: 100%;
    }
  }

  /* this section contains select2 inputs and pwd fields for the 2 users */
  .authentication {
    flex-basis: 330px;
    flex-grow: 0;

    // Addinng the disabled-with-faded-overlay class to authentication adds a semi transparent overlay
    // that indicates the section is no receiving input ie because the drug has been marked
    // as not administered.
    &.disabled-with-faded-overlay {
      position: relative;
    }

    &.disabled-with-faded-overlay:after {
      content: " ";
      z-index: 10;
      display: block;
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.5);
    }

    .user-and-password {
      display: inline-block;
      width: 50%;
      padding-right: 1rem;
      vertical-align: top;

      .select2-container--default.select2-container--disabled
        .select2-selection--single {
        background-color: var(--white);
      }

      .spinner {
        display: none;
      }

      &.working {
        .spinner {
          display: inline-block;
        }

        .user-password {
          background: var(--mid-grey);
        }
      }

      .error.invalid-password {
        display: none;
      }

      &.error {
        small.error {
          display: block;
        }
      }

      .select2 {
        // margin-bottom: 0.75rem;
      }

      .user-password {
        margin-bottom: 0;
      }

      .confirmed {
        display: none;
        text-align: center;

        i {
          font-size: 1.6rem;
          color: $nhs-green;
        }

        a {
          margin-left: 0.4rem;
        }
      }

      &.authorised {
        .user-password {
          display: none;
        }

        .confirmed {
          display: block;
        }
      }
    }
  }
}

table#hd-session-drugs {
  thead {
    border-bottom: solid 1px #222;
  }

  .unauthorised tr {
    background-color: lighten($nhs-pink, 55);

    td {
      border-color: lighten($nhs-pink, 55);
    }
  }

  tr {
    span.given {
      @include badge;
    }
    &.administered-true {
      span.given {
        background-color: $nhs-light-green;
      }
    }

    &.administered-false {
      span.given {
        background-color: var(--nhs-red);
      }
    }
  }
}
