
table.contacts tbody td{
  vertical-align: top;
}

.electronic-ccs {
  ul.actions {
    list-style: none;
    text-align: right;

    .button {
      padding: 0.4rem .6rem;
      margin: 0.3rem 0 0.2rem 0;
    }
  }
}

.letter-preview-admin {
  margin-top: -0.3em;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $letter-preview-background-colour;
  margin-bottom: 20px;

  @media print {
    display: none;
  }

  .button {
    margin-bottom: 5px;
  }
}

.letters {
  .quick-preview p {
    font-size: 0.9rem;
    line-height: 1.0rem;
  }

  td {
    vertical-align: top;

    &.recipient {
      max-width: 200px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

#add-patient-contact-as-cc-modal {
  max-height: $max-modal-height;
  overflow-y: auto;
}

textarea.letter-body {
  font-size: 1.1rem;
}

table.letters {
  td.state {
    span {
      @include badge;
    }
  }

  tr.pending-review {
    td.state {
      span {
        background-color: $letter-state-pending-review;
      }
    }
  }

  tr.draft {
    td.state {
      span {
        background-color: $letter-state-draft;
      }
    }
  }

  tr.approved {
    td.state {
      span {
        background-color: $letter-state-approved;
      }
    }
  }

  tr.completed {
    td.state {
      span {
        background-color: $letter-state-completed;
      }
    }
  }
}
