table.contacts tbody td {
  vertical-align: top;
}

.electronic-ccs {
  ul.actions {
    list-style: none;
    text-align: right;

    .button {
      margin: 0.3rem 0 0.2rem 0;
      padding: 0.4rem 0.6rem;
    }
  }
}

.letter-preview-admin {
  background-color: $letter-preview-background-colour;
  margin-bottom: 20px;
  margin-top: -0.3em;
  padding-bottom: 10px;
  padding-top: 10px;

  @media print {
    display: none;
  }

  .button {
    margin-bottom: 5px;
  }
}

.letters {
  .quick-preview {
    font-size: 0.9rem;

    p {
      font-size: 0.9rem;
      line-height: 1rem;
    }

    .admin-notes {
      background-color: table-even-row-colour;
      padding: 2px 0;
      font-size: 0.9rem;
    }
  }

  td {
    &.recipient {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

#add-patient-contact-as-cc-modal {
  max-height: $max-modal-height;
  overflow-y: auto;

  .columns {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}

textarea.letter-body {
  font-size: 1.1rem;
}

table.letters {
  td.state {
    span {
      @include badge;
    }
  }

  tr.pending-review {
    td.state {
      span {
        background-color: $letter-state-pending-review;
      }
    }
  }

  tr.draft {
    td.state {
      span {
        background-color: $letter-state-draft;
      }
    }
  }

  tr.approved {
    td.state {
      span {
        background-color: $letter-state-approved;
      }
    }
  }

  tr.completed {
    td.state {
      span {
        background-color: $letter-state-completed;
      }
    }
  }
}

#batch-print-modal {
  .cancel-link {
    margin-bottom: 0.5em;
    display: inline-block;
    font-size: 1rem;
  }

  .percent_complete {
    font-size: 1.3rem;
    float: right;
  }

  .modal__footer {
    .left {
      color: var(--dashboard-muted-color);
    }
  }
}

.batch_results_container {
  text-align: center;
}

.generated-batch-print-pdf-container {
  text-align: center;
  padding: 1.5rem 0;
  font-size: 1.3rem;

  .print-batch-letter {
    padding: 0.5rem 1rem;
    text-decoration: underline;
    color: $nhs-green;

    &:hover {
      color: var(--nhs-dark-green);
    }

    i {
      padding: 1rem 1rem 1rem 0;
      vertical-align: sub;
      color: $nhs-green;
      font-size: 1.8rem;
    }
  }
}

.mailshot-status {
  text-align: center;
  text-transform: uppercase;

  &.mailshot-status--failure,
  &.mailshot-status--failure:hover {
    background-color: red;
    color: var(--white);
  }

  &.mailshot-status--success,
  &.mailshot-status--success:hover {
    background-color: $nhs-green;
    color: var(--white);
  }
}

turbo-frame#letter_sections {
  .loading-element {
    visibility: hidden;
  }
}

turbo-frame[busy]#letter_sections {
  .loading-element {
    visibility: initial;
  }
}
