
table.contacts tbody td{
  vertical-align: top;
}

.electronic-ccs {
  ul.actions {
    list-style: none;
    text-align: right;

    .button {
      margin: 0.3rem 0 0.2rem 0;
      padding: 0.4rem .6rem;
    }
  }
}

.letter-preview-admin {
  background-color: $letter-preview-background-colour;
  margin-bottom: 20px;
  margin-top: -0.3em;
  padding-bottom: 10px;
  padding-top: 10px;

  @media print {
    display: none;
  }

  .button {
    margin-bottom: 5px;
  }
}

.letters {
  .quick-preview {
    font-size: .9rem;

    p {
      font-size: .9rem;
      line-height: 1rem;
    }

    .admin-notes {
      display: inline-block;
      background-color: darken($table-even-row-colour, 10);
      padding: .2rem;
      margin: .5rem 0 0 0;
      font-size: .9rem;
    }
  }

  td {
    &.recipient {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

#add-patient-contact-as-cc-modal {
  max-height: $max-modal-height;
  overflow-y: auto;

  .columns {
    padding-left: .2rem;
    padding-right: .2rem;
  }
}

textarea.letter-body {
  font-size: 1.1rem;
}

table.letters {
  td.state {
    span {
      @include badge;
    }
  }

  tr.pending-review {
    td.state {
      span {
        background-color: $letter-state-pending-review;
      }
    }
  }

  tr.draft {
    td.state {
      span {
        background-color: $letter-state-draft;
      }
    }
  }

  tr.approved {
    td.state {
      span {
        background-color: $letter-state-approved;
      }
    }
  }

  tr.completed {
    td.state {
      span {
        background-color: $letter-state-completed;
      }
    }
  }
}
