
a, li, tbody tr {
  &[class^="drug-"] {
    background: $drug-type-default-colour;

    &.drug-esa {
      background: $drug-type-esa-colour;
    }
    &.drug-immunosuppressant {
      background: $drug-type-immunosuppressant-colour;
    }
  }
}

.add_prescription {
  margin-bottom: 0;
}

#prescriptions {
  h3 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0 0 0.3rem 0;
  }
}

.med-form.content ul.drug-results {
  height: 15em;
  padding: 1em;
  overflow-y: scroll;
  border: 1px solid #ccc;

  li.drug-select-link {
    cursor: pointer;
    text-decoration: underline;
  }
}

.med-form .row.boolean {
  padding-left: 0;

  label {
    padding-left: 0;
    padding-right: 1rem;
  }
  input {
    margin: 0;
  }
}

.find-drug-list ul.drug-results-admin {
  height: 20em;

  overflow-y: scroll;
  // border: 1px solid #ccc;
}

.drug-by-select {
  display: none;
}

.drug-results {
  display: none;
}

dl.medication-history {
  left: 0.9em;
}

#drug-type-prescriptions {
  table-layout: auto;
  th.drug_name {
    min-width: 8rem;
    width: 25%;
  }
  th.patient_name {
    min-width: 8rem;
  }
  th.terminated_on,
  th.prescribed_on {
    width: 5rem;
  }
  th.prescribed_on {
    min-width: 5rem;
  }
  th.patient_sex,
  th.patient_age {
    width: 2.5rem;
  }
  th.route_code {
    width: 3rem;
  }
  th.dose {
    width: 4rem;
  }
  th.modality {
    width: 5rem;
  }
  th.frequency {
    width: 5rem;
  }
  th.hosp_no {
    width: 5rem;
  }
}
