.internal_messages {
  .urgent .state span {
    @include badge;
    background-color: $letter-state-pending-review;
  }

  ul.actions {
    list-style: none;
    text-align: right;

    .button {
      padding: 0.4rem .6rem;
      margin: 0.3rem 0 0.2rem 0;
    }
  }
}

