
.patient-summary {
  //display: flex;
  //flex-flow: row wrap;
  //align-content: stretch;
  //align-items: stretch;
  background-color: $mini-profile-backgound-colour;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  position: relative;

  ul {
    font-size: inherit;
  }

  div {
    padding: 0.2em 0.2em 0.2em 1.2em;
    margin: 0;
    //flex-grow: 2;
	float: left;
    width: 50%;
    white-space: nowrap;

    .title {
      color: #777;
      margin-right: 0.6rem;
    }
  }
  .allergies {
    background-color: $mini-profile-allergies-backgound-colour;
    span {
      margin-right: 3px;
    }
    .allergy_status, .allergy_descriptions {
      font-weight: bold;
    }
  }

  .renal-profile {
    background-color: $mini-profile-renal-backgound-colour;
  }
}

select.dob {
  display: inline-block;
  width: 30%;
}

ul.provider {
  display: inline-block;
  padding-right: 2em;
}

.provider>li {
  display: inline-block;
}

.med-list>li {
  display: inline-block;
}

.patient-container {
	//display:flex;
	//flex: 1;
	//position: absolute;
	//	top: 0; right: 0; bottom: 0; left: 0;
}
.patient-content {
	padding-bottom: 10rem;
	position: absolute;
	top: 0;
  right: 0;
  bottom: 0;
  left: $patient-side-nav-width;
	overflow-y: auto;
}
.patient-container .patient-content > .row {
	padding-top: 1.07143rem;
}
.patient-container .patient-content .row > h1 {
	font-weight: bold;
	margin-top: 1rem;
}

.patient-header {


  // background-color: $patient-header-bg-color;
  // color: $white;
  // padding-top: 0.3rem;

  // .back-link {
  //   a {
  //     color: $white;
  //   }
  // }

  // &.header {
  //   border-color: $patient-header-bg-color;
  // }
  // dl {
  //   font-size: 1rem;
  //   margin: 0 0 .2em 1em;
  // background-color: $nhs-light-blue;


  background-color: $nhs-blue;
  dl {
    font-size: 1.1rem;
    margin: 0 0 0 0.5em;

    dt {
      color: $white;
      display: inline-block;
      font-size: .6em;
      font-weight: normal;
      margin: 0;
      padding: 0;
      text-transform: uppercase;

      @media print, #{$large-up} {
        font-size: .7em;
      }
    }

    dd {
	    color: $white;
      display: inline;
      font-size: 1em;
      margin: 0 .5em 0 .1em;

      &.name {
        display: inline-block;
        font-size: 1.4em;
        margin-right: .4em;
        margin-left: 0;
        width: 100%;
      }

      &.back-link {
        font-size: 1rem;
      }

      @media #{$medium-only} {
        font-size: 1.1em;

        &.name {
          width: auto;
        }
      }

      @media print, #{$large-up} {
        font-size: 1.4em;
        margin: 0 .6rem 0 .2em;

        &.name {
          font-size: 1.6em;
          margin-right: .6em;
          width: auto;
        }
      }
    }
  }
}

#bookmarks {
  tr.urgent {
    background-color: $bookmark-urgent-colour;
  }
}

form {
  .blood-pressure {
    &.with-errors {
      input {
        margin-bottom: 0;
      }
      // Apply a bottom margin only to the second of two error messages
      // or if there is only one.
      small.error {
        margin-bottom: 0;

        &:only-child {
          margin-bottom: 0.75rem;
        }

        &:nth-child(2) {
          margin-bottom: 0.75rem;
        }
      }
    }
  }
}
