table.pathology-observation-diff {
  width: auto;
}

table#observations {
  border-collapse: collapse;
  white-space: nowrap;
  width: auto;

  td.hgb {
    background-color : #fc9;
  }

  td.cre, td.ure, td.pot {
    background-color : #cf9;
  }

  tr.even, tr.alt, tr:nth-of-type(even) {
    background-color: $white;
  }

  td, th {
    border: 1px solid #ddd;
    font-size: 0.8rem;
  }

  &.transposed {
    tr {
      display: block; float: left;
    }
    th, td {
      display: block;
    }
  }
}

.current-observations {
  float: left;
  margin-right: 1em;

  tbody {
    td, th {
      font-size: .9rem;
    }

    th {
      &:first-child {
        width: 4rem;
      }
    }
    td {
      &:last-child {
        width: 8rem;
      }
    }
  }
}

#observation-requests {
  height: 30em;
}
