// Patient summary contains renal mini profile and allergy summary
.patient-summary {
  @media print {
    display: none;
  }

  background-color: $mini-profile-backgound-colour;
  display: table;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;

  > div {
    display: table-cell;
    margin: 0;
    padding: 0.3em 0.2em 0.2em 0.6em; // ensures both divs are equal height

    @media #{$small-only} {
      display: block; // at small widths make allergies and renal profile full width
    }

    a {
      color: $dark-grey;
      text-decoration: underline;

      &:hover {
        color: $black;
      }
    }
  }

  dl {
    float: none;
    font-size: inherit;
    margin: 0;
    padding: 0;
    white-space: normal;
    width: auto;

    dt,
    dd {
      display: inline;
      margin-right: 0.4rem;
      white-space: initial;
    }
  }

  .renal-profile {
    background-color: $mini-profile-renal-backgound-colour;
    width: 60%;

    @media #{$small-only} {
      width: 100%;
    }
  }

  .allergies {
    background-color: $mini-profile-allergies-backgound-colour;
    width: 40%;

    @media #{$small-only} {
      width: 100%;
    }

    .allergy_status {
      margin-left: 3px;
      margin-right: 0;
    }

    span {
      margin-right: 3px;
    }

    .allergy_status,
    .allergy_descriptions {
      font-weight: bold;
    }
  }
}

select.dob {
  display: inline-block;
  width: 30%;
}

ul.provider {
  display: inline-block;
  padding-right: 2em;
}

.provider>li {
  display: inline-block;
}

.med-list>li {
  display: inline-block;
}

.collapse-patient-menu .patient-content {
  left: 0;
}

.full-screenable {
  transition: left .2s ease 0s;
}

.page-heading h1 {
  margin: 0;
  padding: 0;
}

.page-heading {
  float: left;
  margin: 0.5rem 0 .7rem;
  width: 100%;

  & > li {
    float: left;
    list-style-type: none;
    margin: 0 1rem 0 0;
    padding: 0;

    &.missing-modality-warning {
      background-color: lighten($nhs-yellow, 45);
      border: solid 1px #eee;
      color: #666;
      padding: 0.35rem;
      padding-left: 0.8rem;
      padding-right: 1rem;
      i {
        margin-right: 0.5rem;
      }
    }
  }
}

.patient-header {
  @media print {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  background-color: $nhs-blue;
  dl {
    font-size: 1.1rem;
    margin: 0 0 0 0.5em;
    line-height: 1.5;

    dt {
      color: $white;
      display: inline-block;
      font-size: .6em;
      font-weight: normal;
      line-height: inherit;
      margin: 0;
      padding: 0;
      text-transform: uppercase;

      // Don't highlight the dt if a user double clicks/highlights the adjacent dd
      user-select: none;

      @media print, #{$large-up} {
        font-size: .7em;
      }
    }

    dd {
      color: $white;
      display: inline;
      font-size: 1em;
      margin: 0 .5em 0 .1em;
      line-height: inherit;

      // When the user clicks the content, select it all
      &.selectable {
        -ms-user-select: all;
        user-select: all;
      }

      &.name {
        display: inline;
        font-size: 1.4em;
        margin-left: 0;
        margin-right: .4em;
        width: 100%;
      }

      &.patient-menu-toggler {
        display: block;

        @media only screen and (min-width: 830px)  {
          display: inline;
        }

        a,
        a:visited {
          color: $white;

          &:hover {
            i {
              color: $white;
            }
          }

          i {
            color: lighten($nhs-blue, 35%);
            display: inline-block;
            font-size: 0.9em;
            padding-right: 0.4rem;

            @media print {
              display: none;
            }
          }
        }
      }

      &.back-link {
        font-size: 1rem;
      }

      @media #{$medium-only} {
        font-size: 1.1em;

        &.name {
          width: auto;
        }
      }

      @media print, #{$large-up} {
        font-size: 1.4em;
        margin: 0 .6rem 0 .2em;

        &.name {
          font-size: 1.6em;
          margin-right: .6em;
          width: auto;
        }

        &.patient-menu-toggler {
          font-size: 1.8rem;
        }
      }
    }

    &.hospital_no {
      display: inline-block;
      margin-left: 0;
      margin-right: .6em;
      margin-top: .1rem;

      dt,
      dd {
        display: block;
        margin: 0;
        padding: 0;
      }

      dd {
        font-size: 1em;
        line-height: 0.9rem;
      }

      @media #{$medium-only} {

        dd {
          line-height: 0.7rem;
        }
      }
    }
  }

  .menu-icon {
    cursor: pointer;
    display: inline-block;
    height: 21px;
    position: relative;
    vertical-align: middle;
    width: 16px;

    @media #{$large-up} {
      height: 24px;
      width: 21px;
    }
  }

  .menu-icon::after {
    background: $patient-menu-icon-color;
    box-shadow: 0 6px 0 $patient-menu-icon-color, 0 12px 0 $patient-menu-icon-color;
    content: '';
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    @media #{$large-up} {
      box-shadow: 0 7px 0 $patient-menu-icon-color, 0 14px 0 $patient-menu-icon-color;
    }
  }

  .menu-icon:hover::after {
    background: $patient-menu-icon-hover-color;
    box-shadow: 0 6px 0 $patient-menu-icon-hover-color, 0 12px 0 $patient-menu-icon-hover-color;

    @media #{$large-up} {
      box-shadow: 0 7px 0 $patient-menu-icon-hover-color, 0 14px 0 $patient-menu-icon-hover-color;
    }
  }
}

#screen-is-mobile-size {
  display: none;

  @media #{$small-only} {
    display: inline;
  }
}

#bookmarks {
  tr.urgent {
    background-color: $bookmark-urgent-colour;
  }

  .button {

  }
}

form {
  .blood-pressure {
    &.with-errors {
      input {
        margin-bottom: 0;
      }
      // Apply a bottom margin only to the second of two error messages
      // or if there is only one.
      small.error {
        margin-bottom: 0;

        &:only-child {
          margin-bottom: 0.75rem;
        }

        &:nth-child(2) {
          margin-bottom: 0.75rem;
        }
      }
    }
  }
}

.page--clinical_summaries {
  .summary-part--letters {
    @include grid-column(12);
  }

  .summary-part--problems,
  .summary-part--prescriptions {
    @include grid-column(12);

    @media #{$large-up} {
      @include grid-column(6);
    }
  }

  .summary-part--events,
  .summary-part--admissions {
    @include grid-column(12);

    @media #{$xxlarge-up} {
      @include grid-column(6);
    }
  }
}


#select2-practice-search-results {
  li {
    font-size: 0.9rem;
    b {
      display: block;
      font-size: 1rem;
    }
  }
}
