
.patient-summary {
  background-color: $mini-profile-backgound-colour;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  position: relative;

  ul {
    font-size: inherit;
  }

  div {
    padding: 0.2em 0.2em 0.2em 1.2em;
    margin: 0;
    //flex-grow: 2;
    float: left;
    width: 50%;
    white-space: nowrap;

    .title {
      color: #777;
      margin-right: 0.6rem;
    }
  }
  .allergies {
    background-color: $mini-profile-allergies-backgound-colour;
    span {
      margin-right: 3px;
    }
    .allergy_status, .allergy_descriptions {
      font-weight: bold;
    }
  }

  .renal-profile {
    background-color: $mini-profile-renal-backgound-colour;
  }
}

select.dob {
  display: inline-block;
  width: 30%;
}

ul.provider {
  display: inline-block;
  padding-right: 2em;
}

.provider>li {
  display: inline-block;
}

.med-list>li {
  display: inline-block;
}

.patient-content {
  padding-bottom: 16rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: $patient-side-nav-width;
  overflow-y: auto;
}

.collapse-patient-menu .patient-content {
  left: 0;
}

.full-screenable {
  transition: left .2s ease 0s;
}

.patient-container .page-heading h1 {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.page-heading {
  float: left;
  margin: 1rem 0 1.5rem;
  width: 100%;

  & > li {
    float: left;
    list-style-type: none;
    margin: 0 1rem 0 0;
    padding: 0;
  }
}

.patient-header {
  background-color: $nhs-blue;
  dl {
    font-size: 1.1rem;
    margin: 0 0 0 0.5em;

    dt {
      color: $white;
      display: inline-block;
      font-size: .6em;
      font-weight: normal;
      margin: 0;
      padding: 0;
      text-transform: uppercase;

      @media print, #{$large-up} {
        font-size: .7em;
      }
    }

    dd {
      color: $white;
      display: inline;
      font-size: 1em;
      margin: 0 .5em 0 .1em;

      &.name {
        display: inline;
        font-size: 1.4em;
        margin-right: .4em;
        margin-left: 0;
        width: 100%;
      }

      &.patient-menu-toggler {
        display: block;

        @media only screen and (min-width: 830px)  {
          display: inline;
        }

        a,
        a:visited {
          color: $white;

          &:hover {
            i {
              color: $white;
            }
          }

          i {
            padding-right: 0.4rem;
            display: inline-block;
            font-size: 0.9em;
            font-weight: normal;
            color: lighten($nhs-blue, 35%);
          }
        }
      }

      &.back-link {
        font-size: 1rem;
      }

      @media #{$medium-only} {
        font-size: 1.1em;

        &.name {
          width: auto;
        }
      }

      @media print, #{$large-up} {
        font-size: 1.4em;
        margin: 0 .6rem 0 .2em;

        &.name {
          font-size: 1.6em;
          margin-right: .6em;
          width: auto;
        }

        &.patient-menu-toggler {
          font-size: 1.8rem;
        }
      }
    }
  }

  .menu-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 21px;
    cursor: pointer;

    @media #{$large-up} {
      width: 21px;
      height: 24px;
    }
  }

  .menu-icon::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: $patient-menu-icon-color;
    box-shadow: 0 6px 0 $patient-menu-icon-color, 0 12px 0 $patient-menu-icon-color;
    content: '';

    @media #{$large-up} {
      box-shadow: 0 7px 0 $patient-menu-icon-color, 0 14px 0 $patient-menu-icon-color;
    }
  }
  .menu-icon:hover::after {
    background: $patient-menu-icon-hover-color;
    box-shadow: 0 6px 0 $patient-menu-icon-hover-color, 0 12px 0 $patient-menu-icon-hover-color;

    @media #{$large-up} {
      box-shadow: 0 7px 0 $patient-menu-icon-hover-color, 0 14px 0 $patient-menu-icon-hover-color;
    }
  }
}

#screen-is-mobile-size {
  display: none;

  @media #{$small-only} {
    display: inline;
  }
}

#bookmarks {
  tr.urgent {
    background-color: $bookmark-urgent-colour;
  }
}

form {
  .blood-pressure {
    &.with-errors {
      input {
        margin-bottom: 0;
      }
      // Apply a bottom margin only to the second of two error messages
      // or if there is only one.
      small.error {
        margin-bottom: 0;

        &:only-child {
          margin-bottom: 0.75rem;
        }

        &:nth-child(2) {
          margin-bottom: 0.75rem;
        }
      }
    }
  }
}
