.current-regime {
  h3 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0.5rem 0 0.2em;
  }
}

.regime-bags {
  dl {
    display: inline;
    dd,
    dt {
      display: inline;
    }

    dt {
      margin-right: .2rem;
    }

    dd {
      margin-right: 0.6rem;
    }
  }
}

dl.pd-regime-details {
  min-width: 300px;
}

form .row .columns .validate-days-of-week {
  border: 1px #f00 solid;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

form .row .columns .validate-add-min-bag {
  border: 2px #f00 solid;
  height: 3.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  width: 7rem;
  z-index: 1;
}

.bag-days {
  .title {
    label {
      display: inline-block;
    }

    a {
      padding-left: 1rem;
    }
  }
}

.pd-form {
  max-width: 840px;
}
