table#problems,
table#current_problems,
table#archived_problems {
  td {
    // vertical-align: top;
    span {
      line-height: 1.1rem;
    }

    ol {
      font-size: 1em;
      list-style-type: lower-latin;
      margin-bottom: 0;
    }
  }

  .snomed-problem {
    background-color: #ccfeff;
  }
}

/* Problem lists lookup */
strong.snomed_id {
  font-family: "Courier New", Courier, monospace;
}

.select2-container--default {
  .problem-option {
    font-family: "Courier New", Courier, monospace;
    margin-left: 1rem;
  }

  .problem-freetext-option {
    font-style: italic;
    color: var(--mid-grey);
    margin-left: 1rem;
  }

  .select2-results__option--highlighted[aria-selected] {
    .problem-option,
    .problem-freetext-option {
      color: var(--off-white);
    }
  }
}
