table#problems,
table#current_problems,
table#archived_problems {
  td {
    // vertical-align: top;
    span {
      line-height: 1.1rem;
    }

    ol {
      font-size: 1em;
      list-style-type: lower-latin;
      margin-bottom: 0;
    }
  }
}

.problems {
  margin-bottom: 2rem;
}
