table#problems,
table#current_problems,
table#archived_problems {
  td {
    vertical-align: top;

    ol {
      font-size: 1em;
      list-style-type: lower-latin;
      margin-bottom: 0;
    }
  }
}
