.patient-missing-data {
  background-color: var(--nhs-red);
  color: var(--white);
  padding: 0 0.2rem;
  border-radius: 0.2rem;
}

.renal-registry-preflight-checks {
  .missing-data {
    span {
      background-color: $renal-reg-missing-data-default;
      border-radius: 0.2rem;
      color: var(--white);
      font-size: 0.9rem;
      font-weight: normal;
      margin-right: 0.2rem;
      padding: 0.15rem 0.4rem;
      white-space: nowrap;

      &.comorbidities_at_esrf {
        background-color: $renal-reg-missing-data-comorbidities-at-esrf;
      }

      &.prd {
        background-color: $renal-reg-missing-data-prd;
      }

      &.first_seen_on {
        background-color: $renal-reg-missing-data-first-seen-on;
      }

      &.ethnicity {
        background-color: $renal-reg-missing-data-ethnicity;
      }
    }
  }
}

table.aki-alerts tr {
  &:nth-of-type(even) {
    background: var(--white);
  }

  &.aki_alert--hotlist {
    background-color: $bookmark-urgent-colour;
  }

  td.notes {
    text-align: right;
    vertical-align: top;
  }
}
