.snippets {

  h1 {
    margin: 20px 0;
  }

  &.modal {
    overflow-y: initial !important;

    .modal-header {
      border-bottom: solid 1px #ccc;
      margin-bottom: 10px;

      h1 {
        font-size: 1.5rem;
        margin: 0 0 0.2rem 0;
      }

      .reveal-modal-close {
        font-size: 1.6rem;
        position: absolute;
        right: 1.1rem;
        top: 0.5rem;

        i {
          padding-right: 5px;
        }
      }
    }

    .scrollable {
      clear: both;
      height: 300px;
      overflow-y: auto;
    }
  }

  #snippet-search-form {
    float: left;
    margin-top: 4px;
    min-width: 300px;

    button, input {
      margin-bottom: 0;
    }
  }

  table {
    table-layout: fixed;
    td {
      vertical-align: top;

      &:first-child {
        //padding-top: 0;
      }

      &.title {
        vertical-align: middle;
      }
    }

    td, th {
      &.last_used_on,
      &.updated_at,
      &.times_used,
      &.author {
        display: none;
      }
    }

    td.body {
      height: 1rem;
      position: relative;

      &:after {
        bottom: 0;
        box-shadow: 0 0 .5em 0.5em #fff;
        //height: 2rem;
        content: '';
        height: 0;
        left: 0;
        position: absolute;
        width: 100%;
        //background:linear-gradient(rgba(255,255,255,0) 0, white);
      }

      &.expanded {
        height: 100%;

        .body-content {
          height: 100%;
        }

        &:after {
          background: none;
        }
      }

      .body-content {
        height: 1rem;
      }
    }

    @media #{$medium-up} {

      td, th {
        &.author {
          display: table-cell;
        }
      }
    }

    @media #{$large-up} {

      td, th {
        &.last_used_on {
          display: table-cell;
        }
      }
    }

    @media #{$xlarge-up} {

      td, th {
        &.updated_at {
          display: table-cell;
        }
      }
    }
  }

  .tabs {
    float: left;
    list-style-type: none;
    margin: 0 0 2px 0 !important;
    padding: 10px 50px 7px 4px;

    li {
      background-color: #ddd;
      border-radius: 4px 5px 0 0;
      display: inline;
      padding: 8px 20px 12px 15px;

      .fa,
      .far,
      .fas {
        margin-right: 7px;
      }

      &.active {
        background-color: #fff;
        border: solid 1px #ccc;
        border-bottom: solid 1px #fff;

      }
    }
  }

  .pagination {
    margin-bottom: 15px;
  }
}

.insert-snippet-button,
.editor-toolbar-button {
  margin-bottom: 5px !important;
  margin-left: 1rem;
  padding: 5px 8px;
}
