.system-message {
  line-height: 1.5;
  h1,
  h2,
  p,
  div,
  span {
    color: $white;
    margin-top: 0;
  }

  &.info,
  &.success,
  &.warning {
    h1,
    h2,
    p,
    div,
    span {
      color: $black;
    }
  }

  p {
    margin: 0;
    padding: 0;
  }
}

.example-severity-colour {

  &.info {

  }
}

.help-item {
  border: solid 1px $light-grey;
  border-radius: .2rem;
  margin-bottom: 1rem;
  padding: .3rem .5rem;

  &:hover {
    background-color: $nearly-white;
  }

  .file {
    font-size: 1.3rem;
    display: table-cell;
    padding-right: 1rem;
    vertical-align: top;


    a {
      color: $winter-sky;
      &:active,
      &:visited {
        color: $winter-sky;
      }
      &:hover {
        color: $winter-sky;
      }
    }
  }
  .details {
    display: table-cell;

    h3 {
      font-size: 1.3rem;
      margin: 0;

      a {
        color: $oil;
        &:active,
        &:visited {
          color: $oil;
        }
        &:hover {
          color: $black;
          text-decoration: underline;
        }
      }
    }

    .updated_at {
      font-size: .7rem;
      color: #888;

    }

    p {
      padding: 0;
      margin: 0 0 .2rem 0;
    }

    .actions {
      margin-top: 0.3rem;
    }
  }
}
