.infections {
  tr {
    td:last-child {
      width: 200px;
    }
  }
}

.transplant-donor-operation-form {
  .diagnosis-table {
    tr {
      td:last-child {
        width: 200px;
      }
    }
  }
}

.rejection-episode {
  position: relative;
  border: solid 1px #aaa;
  padding: 1rem 1rem 0.2rem 1rem;
  clear: both;
  margin: 0 0 1rem 0;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  a.remove_fields {
    position: absolute;
    right: 12px;
    top: 5px;
    z-index: 1;
  }

  .rejection-episode--creation {
    text-align: right;
    padding: 0;
    margin: 0;
    color: var(--mid-grey);
    font-size: 0.9rem;
  }
}
