.infections {
  tr {
    td:last-child {
      width: 200px;
    }
  }
}

.transplant-donor-operation-form {
  .diagnosis-table {
    tr {
      td:last-child {
        width: 200px;
      }
    }
  }
}
