.admin-users {
  td.approved {
    color: $nhs-light-green;
    text-align: center;

    .unapproved {
      color: $nhs-red;
      font-weight: bold;
    }
  }

  .tag {
    background-color: $mid-grey;
    border: 0;
    border-radius: .3rem;
    color: $white;
    margin: .1rem .3rem .2rem 0;
    padding: .05rem .5rem .15rem .5rem;
    white-space: nowrap;

    &.devops {

    }

    &.clinical {
      background-color: $nhs-green;
    }

    &.admin {
      background-color: $nhs-blue;
    }

    &.super_admin {
      background-color: $nhs-red;
    }
  }
}
