.hd-sessions table {
  thead {
    tr {
      th {
        vertical-align: top;
      }

      &.row2 {
        th {
          font-weight: normal;
          font-style: italic;
        }
      }
    }
  }
  tbody {
    tr.active {
      td {
        background-color: #FFFFC8;
      }
    }
  }
}
