.hd-sessions table {
  border-spacing: 0;
  border-collapse: collapse;
  td {
    height: 2rem;
  }

  .has-tip {
    font-weight: normal;
  }

  thead {
    tr {
      &:nth-of-type(even) {
        background-color: whitesmoke;
      }
      th {
        vertical-align: top;
        padding: 3px;
        border: 1px solid #DDDDDD;
      }

      &.row2 {
        th {
          font-weight: normal;
          font-style: italic;
        }
      }
    }
  }

  tbody {
    tr {
      &:nth-of-type(even) {
        background-color: #fff;
      }
      &:nth-of-type(odd) {
        background-color: #fff;
      }
      &.even{
        background-color: #F9F9F9;
      }

      &.open {
        td {
          background-color: #FFFFC8;
        }
      }

      &.closed {
      }

      &.dna {
        td {
          background-color: #ccc;
        }
      }

      td {
        border-right: 1px solid #DDDDDD;
        &.derived {
          font-style: italic;
        }
      }
    }
  }
}

.hd-session-form {
  .simple_form {
    label.boolean {
      padding-left: 0;
    }
    input.boolean {
      margin-top: 0.3rem;
      float: none;
    }
  }
}
