.hd-sessions table {
  thead {
    tr {
      &:nth-of-type(even) {
        background-color: whitesmoke;
      }
      th {
        vertical-align: top;
      }

      &.row2 {
        th {
          font-weight: normal;
          font-style: italic;
        }
      }
    }
  }
  tbody {
    tr {
      &:nth-of-type(even) {
        background-color: #fff;
      }
      &:nth-of-type(odd) {
        background-color: #fff;
      }
      &.even{
        background-color: whitesmoke;
      }

      &.active {
        td {
          background-color: #FFFFC8;
        }
      }
    }
  }
}
