.letter-preview {
  margin: auto;
  width: 960px;

  p, ul, ol, dl, li, h3 {
    font-size: 1em;
  }

  p {
    padding: 0;
    line-height: 1.2em;
  }
}

@media print {
  .letter-preview {
    font-size: 1.5em;
  }
}

.letter-preview-admin {
  margin-top: -16px;
  padding-top: 10px;
  background-color: #ddd;
  margin-bottom: 20px;

  @media print {
    display: none;
  }
}

.letter-preview-header {
  .unit-info {
    text-transform: uppercase;
  }

  .letter-description-block {
    margin: 20px 0 30px 0;

    .letter-description {
      font-weight: bold;
    }
  }

  .letter-unit-block {
    text-align: right;

    .trust-name {
      font-size: 1.2em;
      vertical-align: bottom;
      margin: 0;
    }

    .trust-caption {
      font-size: 0.8em;
      margin-top: 5px;
    }

    .nhs-logo {
      height: 33px;
      padding: 0;
      margin: 0 0 0 10px;
      display: inline-block;
      vertical-align: bottom;
    }

    .site-info-html p {
      font-size: 0.7em;
    }
  }
}

.letter-private {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.letter-address {
  margin: 20px 0 20px 0;
}

.letter-preview-body {
  .letter-salutation {
    margin: 30px 0;
  }

  .patient-status {
    font-weight: bold;
    text-decoration: underline;
    margin: 10px 0;
  }

  .letter-list {
    margin-bottom: 20px;

    h3 {
      font-size: 0.9em;
      font-weight: bold;
      margin-bottom: 0px;
    }
    li {
      line-height: 1.2em;
    }

    &.inline {
      display: block;
      margin-top: 20px;
      margin-left: 15px;

      li {
        display: inline;
        padding-right: 15px;
      }
    }
  }

  .letter-allergies {
    margin-bottom: 30px;
  }

  .letter-body {
    margin-top: 30px;

    p {
      margin-bottom: 15px;
    }
  }

  .letter-electronic-signature {
    margin-bottom: 40px;
  }

  .letter-author-signature {
    .author-name {
      font-weight: bold;
    }
    margin-bottom: 20px;
  }

}

.letter-footer {
  // font-size: 0.8em;

  .letters-ccs {
    h3 {
      font-size: 1em;
      margin-bottom: 20px;
    }
  }
}
