.letter-preview-admin {
  margin-top: -0.3em;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ddd;
  margin-bottom: 20px;

  @media print {
    display: none;
  }

  .button {
    margin-bottom: 5px;
  }
}
