// Drug type colours
$drug-type-default-colour: #FFFFFF;
$drug-type-esa-colour: #FFFF99;
$drug-type-immunosuppressant-colour: #CCFFFF;

a, li, tbody tr {
  &[class^="drug-"] {
    background: $drug-type-default-colour;

    &.drug-esa {
      background: $drug-type-esa-colour;
    }
    &.drug-immunosuppressant {
      background: $drug-type-immunosuppressant-colour;
    }
  }
}

.med-form.content ul.drug-results {
  height: 15em;
  padding: 1em;
  overflow-y: scroll;
  border: 1px solid #ccc;

  li.drug-select-link {
    cursor: pointer;
    text-decoration: underline;
  }
}

.find-drug-list ul.drug-results-admin {
  height: 20em;

  overflow-y: scroll;
  // border: 1px solid #ccc;
}

.drug-by-select {
  display: none;
}

.drug-results {
  display: none;
}

dl.medication-history {
  left: 0.9em;
}
