// TODO: This @import is causing foundation css to be loaded twice.
// We need to import this file once higher up the chain, but that might mean
// using @import rather than require in application.css so that we have access
// to the sass vars.
@import "../../lib/foundation_and_overrides";
@import "../base/variables";

select.dob {
  display: inline-block;
  width: 30%;
}

ul.provider {
  display: inline-block;
  padding-right: 2em;
}

.provider>li {
  display: inline-block;
}

.med-list>li {
  display: inline-block;
}

dl.patient-header {
  font-size: 1.1rem;
  margin: .3em 0 .5em;

  dt {
    color: $patient-header-muted-color;
    display: inline-block;
    font-size: .6em;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-transform: uppercase;

    @media print, #{$large-up} {
      font-size: .7em;
    }

    // dt.name contains only an icon
    &.name {
      color: $patient-header-icon-color;
      display: none;

      @media #{$medium-up} {
        display: inline-block;
        font-size: 1.4em;
        min-width: 1.1em;
      }

      // large screens and above
      @media print, #{$large-up} {
        font-size: 1.6em;
        min-width: 1.2em;
      }
    }
  }

  dd {
    display: inline;
    font-size: 1em;
    margin: 0 .5em 0 .1em;

    &.name {
      display: inline-block;
      font-size: 1.4em;
      margin-right: .4em;
      margin-left: 0;
      width: 100%;
    }

    @media #{$medium-only} {
      font-size: 1.1em;

      &.name {
        width: auto;
      }
    }

    @media print, #{$large-up} {
      font-size: 1.4em;
      margin: 0 .6rem 0 .2em;

      &.name {
        font-size: 1.6em;
        margin-right: .6em;
        width: auto;
      }
    }
  }
}

#bookmarks {
  tr.urgent {
    background-color: $bookmark-urgent-colour;
  }
}

form {
  .blood-pressure {
    &.with-errors {
      input {
        margin-bottom: 0;
      }
      // Apply a bottom margin only to the second of two error messages
      // or if there is only one.
      small.error {
        margin-bottom: 0;

        &:only-child {
          margin-bottom: 0.75rem;
        }

        &:nth-child(2) {
          margin-bottom: 0.75rem;
        }
      }
    }
  }
}
