/= render "header"
= render "renalware/shared/errors", model: modality_description

= simple_form_for modality_description,
                  url: url,
                  as: :modalities_description,
                  html: { autocomplete: "off" },
                  wrapper: :horizontal_form do |f|

  = f.input :name, wrapper: :horizontal_small
  = f.input(:hidden,
            wrapper: :horizontal_small,
            hint: "Prevent this modality from being assigned to patients prospectively")

  = f.input(:ignore_for_aki_alerts,
            wrapper: :horizontal_small,
            hint: "Prevent AKI alert creation for patients with this current modality")

  = f.input(:ignore_for_kfre,
            wrapper: :horizontal_small,
            hint: "Do not calculate KFRE for patients with this current modality")

  = save_or_cancel(form: f, back_path: modalities_descriptions_path)
