= within_admin_layout(title: "Edit",
                      breadcrumbs: breadcrumb_for("Modalities", modalities_descriptions_path))

  = render "form",
           modality_description: modality_description,
           url: modalities_description_path(modality_description)
