= f.input :diagnosis_date, as: :date_picker, label: "Diagnosed on"
= f.input :outcome, as: :text, html_input: { cols: 50, rows: 6 }
= f.input :treatment, as: :text, html_input: { cols: 50, rows: 6 }
= f.input :notes, as: :text, html_input: { cols: 50, rows: 6 }
