= within_patient_layout(title: "Edit Profile",
      breadcrumbs: breadcrumb_for("Virology", patient_virology_dashboard_path(patient))) do

  = form_with(model: profile,
              url: patient_virology_profile_path(patient, profile),
              method: :patch,
              builder: Renalware::FormBuilders::Horizontal,
              html: { autocomplete: "off", class: "rw-form max-w-7xl" }) do |f|
    = f.error_summary

    = f.fields_for :document, profile.document do |fd|
      p.rw-hint If YES, enter year of diagnosis
      = render_input fd, :hiv
      = render_input fd, :hepatitis_b
      = render_input fd, :hepatitis_b_core_antibody
      = render_input fd, :hepatitis_c
      = render_input fd, :htlv

    = f.actions_row do
      = link_to t("btn.cancel"), patient_virology_dashboard_path(patient), class: "btn btn-secondary"
      = f.submit(profile.persisted? ? t("btn.update") : t("btn.create"), class: "btn btn-primary")
