- toggle_prefix ||= "investigation"

article.investigations
  header
    h2= t(".title")
    /= link_to t(".add"),
              new_patient_investigation_path(@patient),
              class: "button right"
  = render "renalware/events/events/table",
           events: investigations,
           edit_proc: ->(investigation) { edit_patient_investigation_path(patient, investigation) },
           exclude_type_column: true
