= within_patient_layout(title: "Investigations / Edit") do

  = render "renalware/events/events/form",
          event: event,
          patient: patient,
          event_types: event_types,
          url: patient_investigation_path(patient, event)
