= render Renalware::System::SqlViewTableComponent.new( \
  view_metadata: options.current_view,
  rows: options.rows,
  row_action_label: "MDM",
  row_path_proc: options.view_proc,
  sort: [:reporting, options.search],
  pagination: options.pagination)
