= render Renalware::ModalComponent.new(title: "Request HD Slot") do
  = render "form",
           slot_request: slot_request,
           urgency_dropdown_options: urgency_dropdown_options,
           redirect_to_patient_on_success: redirect_to_patient_on_success
