= render(Renalware::ArticleComponent.new(classes: "system-sql-view-widget simple simple-table")) do |article|
  - article.with_title { title }
  - if configure_columns?
    - article.with_action do
      = link_to configure_columns_path,
        data: { "reveal-id" => configure_columns_modal_id, "reveal-ajax" => "true" },
        class: "button secondary" do
        .flex.items-center.gap-2
          = helpers.inline_icon(:cog)
          | Configure columns
      div(id=configure_columns_modal_id class="reveal-modal medium" data-reveal)

  - if rows.any?
    = render Renalware::System::SqlViewTableComponent.new(view_metadata: view_metadata, rows: rows)
  - else
    p.empty= empty_state
