= render(Renalware::ArticleComponent.new(classes: "system-sql-view-widget simple simple-table")) do |article|
  - article.with_title { title }

  - if rows.any?
    = render Renalware::System::SqlViewTableComponent.new(view_metadata: view_metadata, rows: rows)
  - else
    p.empty= empty_state
