- if effective_last_sign_in_at.present?
  p.last-login(style="position: absolute;top: -36px; right: 2px;")
    = t(".title", time: effective_last_sign_in_at.strftime("%H:%M"), date: effective_last_sign_in_at.strftime("%d-%b-%Y"))
