td.bg-green-100.hover:bg-green-200
  b= obx_mapping&.code_alias
td.bg-green-100.hover:bg-green-200= obx_mapping&.sender&.sending_facility
td.bg-green-100.hover:bg-green-200= obx_mapping&.sender&.sending_application
