= within_new_admin_layout(title: "Add",
                      breadcrumbs: [breadcrumb_for(centre, hospitals_centres_path(centre)), breadcrumb_for("Departments", hospitals_centre_departments_path(centre))]) do
  = render "form",
           centre: centre,
           department: department,
           url: hospitals_centre_departments_path(centre)
