%h1 Existing Patient Event Types

- @patient_event_types.each do |t|

  %ul.no-bullet
    %li
      = t.name
    %li 
      = link_to "Edit", edit_patient_event_type_path(t.id) 


= content_for :secondary_nav do
  %li
    = link_to "Return to New Patient Event", new_patient_event_path