= render Renalware::DropdownButtonComponent.new(title: t("btn.add"), button_classes: "btn btn-primary btn-compact") do |dropdown|
  - dropdown.with_item(title: t(".access_profile"), url: new_patient_accesses_profile_path(patient))
  - dropdown.with_item(title: t(".access_plan"), url: new_patient_accesses_plan_path(patient))
  - dropdown.with_item(title: t(".access_procedure"), url: new_patient_accesses_procedure_path(patient))
  - dropdown.with_item(title: t(".access_assessment"), url: new_patient_accesses_assessment_path(patient))
  - dropdown.with_item(title: t(".needling_assessment"), url: new_patient_accesses_needling_assessment_path(patient))
  - dropdown.with_item(title: t(".add_vnd_assessment"),
                       url: new_patient_hd_vnd_risk_assessment_path(@patient),
                       enabled: policy(Renalware::HD::VNDRiskAssessment).new?)

