= render layout: "renalware/patients/layout", locals: { title: "Access Plan" } do
  .document
    = render "renalware/accesses/accesses/current_access"
    = render "renalware/accesses/accesses/list"
