.select-peritonitis-drug
  = f.association :drug, collection: Renalware::Drugs::Type.for(:peritonitis, :antibiotic),
      as: :grouped_select,
      group_method: :drugs,
      label_method: :name,
      prompt: "Please select drug (common peritonitis drugs listed at the top)"
