.select-peritonitis-drug
  = f.label :drug_id, "Select Drug (common peritonitis drugs listed at the top)"
  = f.grouped_collection_select(:drug_id, Renalware::Drugs::Type.for(:peritonitis, :antibiotic), :drugs, :name, :id, :name)
