td*{'data-slot-id' => slot.id.present? && slot.id,
    'data-cell-id' => slot.cell_id,
    'data-master' => slot.master?,
    'data-weekly' => slot.id.present? && !slot.master?,
    'data-patient-id' => slot.patient_id.present? && slot.patient_id,
    'style' => defined?(animate) && animate && "animation: highlight 1.5s" }

  - if slot.patient.present?
    = link_to slot.patient.to_s,
              hd_diary_slot_path(diary_id: slot.diary_id, id: slot.id),
              class: "button diary__button diary__target",
              title: slot.patient,
              data: { "reveal-id" => "add-patient-to-diary-modal",
                      "reveal-ajax" => "true"}
  - else

    = link_to "Add",
              new_hd_diary_slot_path(diary_id: slot.diary_id,
                                     station_id: slot.station_id,
                                     diurnal_period_code_id: slot.diurnal_period_code_id,
                                     day_of_week: slot.day_of_week),
              data: { "reveal-id" => "add-patient-to-diary-modal", "reveal-ajax" => "true"}
