- form_id = SecureRandom.hex(16)
= simple_form_for(slot,
                  html: { id: form_id },
                  url: hd_diary_slot_path(weekly_diary.id, slot),
                  remote: true,
                  wrapper: :horizontal_form) do |f|

  -if scheduled_only
    =f.input :patient_id,
             collection: patients,
             label_method: ->(item){ item.to_s(:long) },
             value_method: :id,
             input_html: { class: "searchable_select" }
  - else
    = f.input :patient_id,
              collection: [],
              input_html: { \
                id: "patient-ajax-search",
                data: { "ajax--url" => search_patients_path(format: :json) }\
              }

  =f.submit "Select", class: :button
  = blank_separator
  =link_to "Cancel",
           "#",
           "aria-label" => "Close",
           class: "reveal-modal-close"
