dl.sub-nav
  dd= link_to "Patients with incomplete data", patients_renal_registry_preflight_checks_path
  dd= link_to "Deceased patients with incomplete data", deaths_renal_registry_preflight_checks_path
