= patient.input :gp_practice_code, label: "GP Practice Code", input_html: { class: "small-input" }
= patient.input :pct_org_code, label: "PCT Organisation Code", input_html: { class: "small-input" }
= patient.input :hospital_centre_code, label: "Hospital Centre Code", input_html: { class: "small-input" }
= patient.input :primary_esrf_centre, label: "Primary ESRF Centre", input_html: { class: "small-input" }
