.row
  = simple_form_for(mailshot,
                    as: :mailshot,
                    url: letters_mailshots_path,
                    html: { id: "mailshot-form" }) do |form|
    .columns.small-12
      = form.input(:description,
        placeholder: "The patient will see this at the top of letter. A description of the letter's purpose.")
    .columns.small-12
      = form.input(:sql_view_name,
        collection: Renalware::Letters::Mailshots::DataSource.all.map(&:viewname),
        input_html: { data: { remote:"true", url: renalware.letters_mailshots_patient_previews_path }})

    .columns.medium-6
      = form.association :letterhead
    .columns.medium-6
      = form.association :author,
            as: :user_picker,
            collection: Renalware::System::UsersPresenter.new.list_for_dropdown( \
              user_to_promote_to_top: current_user \
            )
    .columns.small-12
      = form.input :body, as: :trix_editor
      br
      = form.submit "Create letters",
                    class: :button,
                    data: { confirm: "Are you sure you want to send this mailshot?",
                    disable_with: "Creating letters..." }
  .columns.small-12
    / When the SQL view name dropdown changes we will populate this div with a
    / table containing name of the patients to whom the mailshot will be sent.
    / See data-url on the sql_view_name dropdown for the rails route that will be
    / called. It will render a ujs template eg index.js.erb to insert the list of
    / patients into this view.
    #mailshot-patients-preview

  .columns.small-12
    br
    .panel
      h2.flex.items-center
        = inline_icon :info, size: :lg
        span.pl-3 Help

      markdown:
        The list of patients to include in a mailshot it determined by the SQL View chosen above.
        It is intended that a systems or database administrator create this view for you in the
        renalware database. The view should have one column called 'patient_id' and return the ids
        of all the patients you want to send this letter to.

        You should ideally create the view in the hospital's
        own postgres schema (eg 'renalware_kch' in the case of Kings College Hospital) in order to
        indicate your view is hospital-specific.

        **Note that in order for your view to appear in the dropdown above, its name must start
        with `letter_mailshot_`**

        Here is a (somewhat pointless) example of a compatible SQL view definition:

        ```
          CREATE OR REPLACE VIEW
          renalware_kch.letter_mailshot_patients_where_surname_starts_with_r AS
          SELECT id as patient_id
          FROM patients
          WHERE family_name like 'R%';
        ```
