.w-full.mt-2.mb-3
  = simple_form_for(filter_form,
      method: :get,
      as: :filter_form,
      wrapper: :tw_default,
      html: { class: "" },
      url: url,
      data: { controller: "form" }) do |f|

    .flex
      = f.label "Results view", :code_group_name, class: "mr-4 mt-2"
      = f.input :code_group_name,
        collection: Renalware::Pathology::CodeGroup.where.not(context_specific: true).order(:name).pluck(:title, :name),
        include_blank: false,
        label: false,
        input_html: { class: "", data: { action: "change->form#submit" } },
        wrapper_html: { class: "w-1/2 lg:w-1/3" }
      / hint: code_group&.description
