= within_admin_layout(title: "New",
                      breadcrumbs: breadcrumb_for("Clinical Studies",
                                   research_studies_path)) do

  = render "form", study: study, url: research_studies_path(study)
