= label_tag "person_auto_complete",
    "Pick person from directory",
    class: "right inline"
= text_field_tag "person_auto_complete", \
    f.object.person.try!(:to_s),
    data: { \
      autocomplete_source: search_directory_people_path, \
      autocomplete_rel: "[name='letters_contact[person_id]']" \
    },
    autofocus: true,
    spellcheck: false,
    placeholder: t(".person_auto_complete.prompt")
= f.input :person_id, as: :hidden
= f.input :description_id, collection: contact_descriptions
= f.input :other_description
= f.input :notes, as: :text, input_html: { rows: 2 }

// Disable `for` attribute, so it works when multiple contact form on the page
= f.input :default_cc, label_html: { for: nil }
