= within_admin_layout(title: "BioBank feed upload") do
  = render "renalware/heroic/shared/progress", upload: upload
  = render "renalware/shared/errors", model: upload
  = simple_form_for(upload, as: :upload, url: heroic.bio_bank_sample_uploads_path) do |f|
    = f.input :file, as: :file, label: "Choose the spreadsheet to upload"
    = f.input :tmp, as: :hidden
    = f.submit "Upload", class: :button
