= within_patient_layout(title: t("edit_record.page_title"),
    breadcrumbs: breadcrumb_for("Modality History", patient_modalities_path(patient))) do

  = render "form", patient: patient,
                   modality: modality,
                   url: patient_modality_path(patient, modality)
