#new-form
  %fieldset
    %legend
      Add a new medication

    .large-12.columns
      = render partial: 'shared/error_messages', locals: { pm: pm }

    .row
      = render partial: 'medications/fields', locals: { pm: pm }
