- unless current_user.read_only?
  #new-form
    %a.button.tiny.toggle.right.mt{href: '#new-form'}
      Add a new medication

    .hide
      %a.button.tiny.close-new-form{href: '#'}
        Close

      %fieldset
        %legend
          Add a new medication

        .row

          = render partial: 'medications/fields', locals: { pm: pm }


  = link_to 'Cancel', clinical_summary_patient_path(@patient), class: 'button tiny left cancel mt'
