/ Using dt dd here as we are rendered in the context of a dl.
/ This is not very reusable so we could change this at some point.
dt= link_to "ESRF:", renalware.edit_patient_renal_profile_path(patient)
dd(class=css_class)= value
