%fieldset.current-regime
  %legend.title-bod Current PD Regime

  %ul.no-bullet
    %li
      %b Regime Start Date:
      = @current_regime.start_date
      &nbsp;&nbsp;
      %b Regime End Date:
      = default_for_blank(@current_regime.end_date, 'Pending')

    %li
      %b Bags:
      %ul{ style: 'list-style-type: disc'}
        = pd_regime_bags(@current_regime.pd_regime_bags)

    %li
      %b On additional HD:
      = yes_no(@current_regime.add_hd)
