%h5.section-underliner Bags

#pd-regime-bags
  = r.fields_for :pd_regime_bags do |rb|

    = render partial: 'pd_regimes/bags/form', locals: {rb: rb}

.large-12.columns.section-underliner
  = r.submit 'Add Bag', name: 'actions[add]', class: 'add-bag button save tiny'
