= within_patient_layout(title: "New Access Plan",
                        breadcrumbs: access_summary_breadcrumb(patient)) do

  = simple_form_for [patient, plan],
                    html: { autocomplete: "off" },
                    wrapper: "horizontal_form" do |f|

      .mb-3
        = f.association :plan_type,
                        collection: Renalware::Accesses::PlanType.ordered,
                        wrapper: :horizontal_medium,
                        autofocus: true,
                        input_html: { data: { controller: "slimselect" } }
      = f.input :notes,
                as: :text,
                wrapper: :horizontal_large

      = f.association :decided_by,
                      as: :user_picker,
                      collection: Renalware::User.active,
                      wrapper: :horizontal_medium

      = save_or_cancel(form: f, back_path: patient_accesses_dashboard_path(patient))
