= f.input :description_id,
  collection: Renalware::Transplants::RegistrationStatusDescription.ordered,
  label_method: :name, value_method: :id, include_blank: false
= f.input :started_on, as: :date_picker
