.row
  %h1 Events

  = link_to "Back to patient list", patients_path, class: "button tiny right"

.row
  = field_set_tag do
    %legend
    %ul.no-bullet
      - @events.each do |e|

        = render partial: "event/event", locals: { e: e }
