ruby:
  sections = [
    ["Historical", "historical"],
    ["Scores", "scores"],
    ["Obstetrics/Gynaecology History", "obstetrics_gynaecology"],
    ["Examination", "examination"],
    ["Education", "education"],
    ["Consent", "consent"],
    ["HLA Data", "hla"]
  ]

dl.sub-nav data-magellan-expedition="fixed"
  - sections.each do |title, target|
    dd data-magellan-arrival="#{target}"
      = link_to title, "#"+target
