= within_patient_layout( \
    title: "Swab / Edit",
    breadcrumbs:  breadcrumb_for("Clinical Profile", patient_clinical_profile_path(patient)) \
  ) do

  = render "renalware/events/events/form",
            event: event,
            patient: patient,
            event_types: event_types,
            url: patient_swab_path(patient, event)
