= content_for(:actions) do
  = link_to t("btn.add"), new_system_online_reference_link_path, class: "button"

= within_new_admin_layout(title: "Online Reference Library (QR Codes)") do
  = render "index", pagy: pagy, search: search, references: references
