= content_for(:page_title) { "Server error" }

h1 Sorry, an error occurred and we couldn't process your request.
p A notification has been sent to the support team and we will look into as son as possible.
