table.sortables(data-controller="sortable" style="list-style-type: none;")
  thead(style="position: sticky; top: 0; background-color:#fff;")
    th.col-width-tiny
      .flex.items-center.gap-1
        = inline_icon(:question_mark,
                      size: :md,
                      title: "Drag the 'hamburger' icon to change the order of columns in the table",
                      class: "text-blue-500")

    th.col-width-medium
      .flex.items-center.gap-1
        | SQL column name
        = inline_icon(:question_mark,
                      size: :md,
                      title: "The programatic name for the data item, determined by the 'SQL view' in use.",
                      class: "text-blue-500")

    th.col-width-tiny
      .flex.items-center.gap-1
        | Hide
        = inline_icon(:question_mark,
                      size: :md,
                      title: "Don't show this column in the table",
                      class: "text-blue-500")
    th
      .flex.items-center.gap-1
        | Label
        = inline_icon(:question_mark,
                      size: :md,
                      title: "The text displayed in the column heading",
                      class: "text-blue-500")
    th.col-width-medium
      .flex.items-center.gap-1
        | Width
        = inline_icon(:question_mark,
                      size: :md,
                      title: "Controls the table column width",
                      class: "text-blue-500")
    th.col-width-tiny
      .flex.items-center.gap-1
        | Truncate
        = inline_icon(:question_mark,
                      size: :md,
                      title: "Will truncate and append an ellipsis to text constrained by its cell width",
                      class: "text-blue-500")

  tbody
    - view.columns.each_with_index do |col, _idx|
      tr.sortable
          td.handle.border-0.text-left
            = inline_icon(:menu, size: :sm)
            input(type="hidden" name="view_metadata[columns][][code]" value=col.code)
          td.border-0
            code= col.code
          td.text-center.border-0
            input.m-0(type="checkbox" name="view_metadata[columns][][hidden]" checked=col.hidden style="margin:0")
          td.border-0
            input.m-0(type="text" name="view_metadata[columns][][name]" value=col.name style="margin:0")
          td.border-0
            select.m-0(name="view_metadata[columns][][width]" style="margin: 0")
              option(value="")
              - Renalware::System::ColumnDefinition.new.width_values.each do |val, x|
                option(value=val selected=(col.width == val.to_s))=val.to_s.humanize
          td.text-center.border-0
            input.m-0(type="checkbox" name="view_metadata[columns][][truncate]" style="margin:0" checked=col.truncate)

            / fc.input(type="checkbox" value=col checked=view.columns.include?(col) name="view_metadata[columns][visible]")
            / input(bestchecked=view.columns.include?(col) name="view_metadata[columns][title]")
            / label(class="" for="view_metadata_columns_#{col}" style="display: inline-block; width: auto")= col.humanize
