= render partial: "renalware/pathology/requests/requests/pdf_header.html.slim"

= render partial: "renalware/pathology/requests/requests/request_form/#{request.template}",
  locals: { requests: [request] }
