.row
  %h5 Add #{@letter.title}

.row
  .large-12.columns
    = form_for [@patient, @letter], as: :letter, url: patient_letters_path(@patient) do |f|
      = render partial: 'form', locals: { f: f }
      = f.submit 'Save', class: 'button save'
