= within_admin_layout(title: "PET Results") do
  = render "filters", query: query
  = render "renalware/pd/pet_results/table", results: results, display_patient: true, current_user: current_user
  == pagy_nav(pagy) if pagy.pages > 1
