.search-form.filters
  = form_with url: url, method: :get do
    .flex.flex-wrap.-mx-3.mb-6
      .w-full.md:w-1/3.px-3.mb-6.md:mb-0
        label(for="safety_alert_rule_category_id") Rule category
        = select_tag :safety_alert_rule_category_id,
                     options_from_collection_for_select(categories, :id, :name, selected_category_id),
                     include_blank: "All categories",
                     data: { controller: "slimselect" }
      .w-full.md:w-1/3.px-3.mb-6.md:mb-0
        label(for="safety_alert_rule_id") Rule
        = select_tag :safety_alert_rule_id,
                     grouped_options_for_select(grouped_rule_options, selected_rule_id),
                     include_blank: "All safety rules",
                     data: { controller: "slimselect" }
      .w-full.md:w-1/5.px-3.mb-6.md:mb-0
        .mt-6
          = submit_tag "Filter", class: "button"
          = link_to "Reset", url, class: "button secondary"
