tr
  td= default_patient_link(safety_alert.patient)
  td= safety_alert.patient.hospital_identifiers
  td= safety_alert.rule_name
  td= safety_alert.alert_type
  td= l(safety_alert.created_at)
  - if historical
    td= l(safety_alert.deleted_at)
  - else
    td
      = link_to renal_safety_alert_path(safety_alert),
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: "button tiny secondary" do
        .flex.items-center.gap-2
          = inline_icon(:check, size: :sm)
          | Resolve
