table.safety-alerts.toggleable(data-controller="toggle")
  thead
    tr
      th.togglers= rows_toggler(link_title: "Toggle notes")
      th.col-width-large Patient
      th.col-width-reference-no Hosp. No.
      th Rule
      th Label
      th.col-width-date-time Created at
      - if historical
        th.col-width-date-time Resolved at
        th Resolved by
      - else
        th.col-width-small
  = render partial: "safety_alert", collection: alerts, locals: { historical: historical }

== pagy.series_nav if pagy.pages > 1
