= within_admin_layout(title: "New",
                      breadcrumbs: breadcrumb_for("Snippets", snippeting.snippets_path)) do
  = render "form", snippet: snippet, submit_to_url: snippeting.snippets_path
