= render partial: 'renalware/infection_organisms/edit', locals: { io: io } unless io.object.new_record?

#infection-organisms
  = render partial: 'renalware/infection_organisms/new', locals: { io: io } if io.object.new_record?




