.renal-profile
  = link_to "ESRF:", esrf_info_patient_path(@patient) 
  = "#{@patient.esrf_info.blank? || @patient.esrf_info.new_record? ? " " : @patient.esrf_info.date}"
  <br>
  = link_to "PD info:", pd_info_patient_path(@patient) 
