%thead
  %th
    Problem
  %th
    Date

%tbody
  - @patient.problems.each do |p|
    %tr{:class => "problem"}
      %td{:data => { :heading => "Problem" }}
        = p.description
      %td{:data => { :heading => "Date" }}
        = p.created_at
      %td{:data => { :heading => "Date" }}
