.main-content
  .row
    = render partial: "patients/mini_renal_profile", locals: { model: @patient }

.row
  %h5 Deceased Patients

.row
  %ul.no-bullet
    - @dead_patients.each do |patient| 
    
      %li
        = patient.full_name
