.row
  %h5 Renal Patients

.row
  %table.responsive
    %caption Renal Patients
    %thead
      %tr
        %th.g-center{ :colspan => 2 }
          Options
        %th
          Patient
        %th
          NHS No.
        %th
          Hospital No.
        %th
          Sex
        %th
          DoB
        %th
          Age

    %tbody
      = render @patients


