.row
  %h5 Renal Patients

.row
  %table.patients.responsive
    %thead
      %tr
        %th
          Name
        %th
          NHS No.
        %th
          Hosp No.
        %th
          Sex
        %th
          Date of Birth
        %th
          Age
        %th.g-center{colspan: "2"}
          Actions

    %tbody
      = render @patients
