.row
  %h5 Renal Patients

  %table.responsive
    %caption Renal Patients
    %thead
      %tr
        %th
          Forename
        %th
          Surname
        %th
          NHS Number
        %th.g-center{ :colspan => 2 }
          Actions

    %tbody
      = render @patients

   
