.row
  %h1 Renal Patients

  %table.responsive
    %caption Renal Patients
    %thead
      %tr
        %th
          Forename
        %th
          Surname
        %th
          NHS Number
        %th.g-center{ :colspan => 2 }
          Actions

    %tbody
      = render @patients

= content_for :secondary_nav do
  %dd
    = link_to "Add a New Patient", new_patient_path
