.row
  %h5 Renal Patients

.row
  %table.responsive
    %caption Renal Patients
    %thead
      %tr
        %th.g-center
          Admin
        %th
          Patient
        %th
          NHS No.
        %th
          KCH No.
        %th
          Sex
        %th
          DoB
        %th
          Age

    %tbody
      = render @patients


