%h1 Add a New Renal Patient

.large-4.columns

  = form_for :patient, url: patients_path, :method => :post do |f|
    
    = render partial: "patients/demographic_form", locals: {patient: f } 

    = submit_tag "Add a New Renal Patient" 
