= within_patient_layout(title: "New", breadcrumbs: problems_breadcrumb(patient)) do

  = simple_form_for problem,
                    url: patient_problems_path(patient),
                    html: { autocomplete: "off" } do |f|

    = f.input :description,
              collection: [],
              input_html: { \
                class: "patient-id-select2 patient-ajax-search",
                data: { "ajax--url" => search_patient_problems_path(format: :json),
                        placeholder: "Search by problem name." } \
              }


    = f.button :submit
    '  or
    = link_to t("btn.cancel"), patient_problems_path(patient)
