= within_admin_layout(title: "Add Participant",
                      breadcrumbs: breadcrumb_for("Clinical Studies",
                                   research_studies_path)) do

  = render "form",
           participation: participation,
           url: research_study_participations_path(participation.study)
