= within_patient_layout(title: "Cause of Death",
    breadcrumbs: breadcrumb_for("Clinical Profile", patient_clinical_profile_path(@patient))) do

  = simple_form_for @patient,
      url: patient_death_path(@patient),
      html: { autocomplete: "off" },
      wrapper: "horizontal_form" do |f|

    = f.input :died_on,
              as: :date_picker,
              label: "Date of Death",
              wrapper: :horizontal_datepicker

    = f.association :first_cause,
                    label: "Cause of Death (1)",
                    label_method: :description,
                    value_method: :id,
                    include_blank: "Select 1st cause of death",
                    wrapper: :horizontal_medium

    = f.association :second_cause,
                    label: "Cause of Death (2)",
                    label_method: :description,
                    value_method: :id,
                    include_blank: "Select 2nd cause of death",
                    wrapper: :horizontal_medium

    = f.input :death_notes,
              label: "Notes",
              as: :text, input_html: { rows: 5 },
              wrapper: :horizontal_large

    = f.button :submit
    span= " or "
    = link_to "cancel", patient_clinical_profile_path(@patient)
