#medications
  = render "renalware/polymorphic_medications/table",
      patient: patient,
      treatable: treatable,
      medications: medications

= render "renalware/polymorphic_medications/form",
    patient: patient,
    treatable: treatable,
    medication: Renalware::Medication.new(treatable: treatable),
    url: patient_medications_path(patient, treatable),
    form_class: :hidden
