#medications
  = render "renalware/polymorphic_medications/table",
      treatable: treatable,
      medications: medications

= render "renalware/polymorphic_medications/form",
    treatable: treatable,
    medication: Renalware::Medication.new(treatable: treatable),
    url: medications_path(treatable),
    form_class: :hidden
