= render "renalware/letters/formatted_letters/letter_css"
.alwaysbreak
= render "renalware/letters/formatted_letters/letter", letter: letter
.alwaysbreak
p seonds
.alwaysbreak
= render "renalware/letters/formatted_letters/letter", letter: letter
.alwaysbreak
p thie
.alwaysbreak
= render "renalware/letters/formatted_letters/letter", letter: letter
