- clinic_ids = patient.clinic_visits.pluck(:clinic_id).uniq
- clinics_for_filtering = Renalware::Clinics::Clinic.where(id: clinic_ids).map { |cl| [cl.description, cl.id] }

.search-form.filters.mt-4
  = simple_form_for query,
      as: :q,
      url: patient_clinic_visits_path(patient),
      method: :get,
      data: { turbo_frame: "clinic-visits-turbo-frame",
              turbo: true,
              turbo_advance: true,
              controller: "form",
              action: "input->form#submit" } do |f|

      .flex.items-center.sm:w-full.md:w-2/3.lg:w-1/2.h-10
        = f.label :clinic_id_eq, "Clinic", class: "mr-4"
        = f.select :clinic_id_eq,
                        clinics_for_filtering,
                        { include_blank: "All" },
                        data: { controller: "slimselect", action: "change->form#submit" }
