- # locals: (clinic_visits:, patient:, query: nil, sortable_columns: false)

- sortable = query.present? && sortable_columns
- heidi_enabled = Renalware.config.heidi_enabled
- presented_clinic_visits = clinic_visits.map do |clinic_visit|
  - if clinic_visit.respond_to?(:heidi_status)
    - clinic_visit
  - else
    - Renalware::Clinics::ClinicVisitPresenter.new(clinic_visit)

table.clinics.auto-layout.toggleable data-controller="toggle"
  thead
    tr
      th.togglers.noprint= rows_toggler
      th.actions.noprint.col-width-medium
      th.col-width-date= sort_link_if(sortable, query, :date, "Date")
      - if heidi_enabled
        th.col-width-medium Heidi state
      th.col-width-tiny DNA
      th.col-width-large= sort_link_if(sortable, query, :clinic_name, "Clinic")
      th.col-width-tiny= sort_link_if(sortable, query, :height, "Height")
      th.col-width-tiny= sort_link_if(sortable, query, :weight, "Weight")
      th.col-width-tiny BMI
      th.col-width-tinyish BP
      th.col-width-tinyish Standing BP
      th.col-width-tiny= sort_link_if(sortable, query, :pulse, "Pulse")
      th.col-width-tiny= sort_link_if(sortable, query, :temperature, "Temp")
      th.col-width-tiny Urine blood
      th.col-width-tiny Urine protein
      th.col-width-tiny Urine glucose
      th.col-width-tiny(title="Body surface area") BSA
      th.col-width-tiny(title="Total Body Water") TBW
      th.col-width-medium.show-for-large-up Created by
      th.col-width-date.show-for-xlarge-up Last edited
      th.col-width-medium.show-for-xlarge-up Last edited by

  = render partial: "renalware/clinics/clinic_visits/table_row",
          collection: presented_clinic_visits,
          as: :clinic_visit,
          locals: { heidi_enabled: heidi_enabled, patient: patient }
