- url = medications_prescription_outpatient_administrations_path(outpatient_prescription_administration.prescription)
= render "form",
         outpatient_prescription_administration: outpatient_prescription_administration,
         url: url
