= content_for(:filters) { render "filters", local_assigns }
= content_for(:actions) { render "page_actions", local_assigns }
= content_for(:title)   { "Upcoming Clinic Visit Appointments" }

= render "table", local_assigns
