= within_admin_layout(title: "New",
  breadcrumbs: breadcrumb_for("Clinic Appointments", appointments_path)) do

  = simple_form_for appointment,
      url: appointments_path,
      method: :post,
      html: { autocomplete: "off" },
      wrapper: "horizontal_form" do |f|

    #patient-select.pb-3
      = f.input :patient_id,
                wrapper: :horizontal_medium,
                collection: appointment.patient.present? ? [[appointment.patient&.to_s(:long), appointment.patient&.id]] : [],
                selected: 1,
                input_html: { \
                  data: { controller: "patient-search",
                          "ajax--url" => search_patients_path(term: "REPLACEME", format: :json),
                          placeholder: "Search by patient name or hospital/NHS no." } \
              }

    = f.input :clinic_id,
              collection: Renalware::Clinics::Clinic.all,
              wrapper: :horizontal_medium
    = f.input :consultant_id,
              collection: Renalware::Clinics::Consultant.pluck(:name, :id),
              wrapper: :horizontal_medium
    = f.input :starts_at, as: :flatpickr_with_time, wrapper: :horizontal_datepicker
    = f.input :outcome_notes, as: :text, wrapper: :horizontal_large
    = f.input :dna_notes, as: :text, wrapper: :horizontal_large
    = f.submit class: :button
