tr
  td.actions
    = link_to_if_allowed policy(sample).edit?,
                         "Edit",
                         heroic.edit_bio_bank_patient_sample_path(patient, sample)
    = link_to_if_allowed policy(sample).destroy?,
                         "Delete",
                         heroic.bio_bank_patient_sample_path(patient, sample),
                         data: { confirm: "Are you sure you want to delete this "\
                                          "sample and all its aliquots?"},
                         method: :delete
  td= sample.sample_type.name
  td= sample.isbt
  td= l(sample.collected_at)
  td= l(sample.received_at)
  td= l(sample.processed_at)
  td= sample.storage_location
  td= link_to "#{pluralize(sample.aliquots.size, 'aliquot', 'aliquots')}",
              heroic.bio_bank_sample_aliquots_path(sample)
