= content_for(:header) do
  = render "renalware/patients/header", patient: patient

= within_admin_layout(title: "New Sample") do
  = render "form", sample: sample, url: heroic.bio_bank_patient_samples_path(patient)
