#new-organism-form
  .large-12.columns
    %fieldset
      %legend
        Record a new organism and sensitivity

      .large-12.columns
        .row
          = io.link_to_remove "Remove this organism/sensitivity", class: "button cancel tiny right hide"

        = render partial: 'shared/error_messages', locals: { object: io.object }

        .row
          = render :partial => 'infection_organisms/organism_fields', :locals => { :io => io }
