= render :partial => 'infection_organisms/recorded_organisms', :locals => { :io => io } unless io.object.new_record?

#infection-organisms
  = render :partial => 'infection_organisms/new_organism', :locals => { :io => io } if io.object.new_record?




