.form-content
  = f.input :assessed_on,
            as: :flatpickr,
            wrapper: :horizontal_datepicker
  = f.association :assessor,
            as: :user_picker,
            collection: Renalware::User.ordered,
            wrapper: :horizontal_medium
  = f.input :pre_post_hd,
            collection: Renalware::Clinical::BodyComposition.pre_post_hds.collect { |c| [c[0].titleize, c[0]] },
            include_blank: "Not Applicable",
            wrapper: :horizontal_small
  = f.input :weight,
            wrapper: :horizontal_tiny
  = f.input :overhydration,
            wrapper: :horizontal_small
  = f.input :volume_of_distribution,
            wrapper: :horizontal_small
  = f.input :total_body_water,
            wrapper: :horizontal_small
  = f.input :extracellular_water,
            wrapper: :horizontal_small
  = f.input :intracellular_water,
            wrapper: :horizontal_small
  = f.input :lean_tissue_index,
            wrapper: :horizontal_small
  = f.input :fat_tissue_index,
            wrapper: :horizontal_small
  = f.input :lean_tissue_mass,
            wrapper: :horizontal_small
  = f.input :fat_tissue_mass,
            wrapper: :horizontal_small
  = f.input :adipose_tissue_mass,
            wrapper: :horizontal_small
  = f.input :body_cell_mass,
            wrapper: :horizontal_small
  = f.input :quality_of_reading,
            wrapper: :horizontal_small
  = f.input :notes,
            as: :text,
            wrapper: :horizontal_large,
            input_html: { rows: 5 }

  = save_or_cancel(form: f, back_path: patient_clinical_profile_path(patient))
