
.finda-a-gp

  h4 Search for a GP

  label(for="practice-search") Search for a practice
  select#practice-search.select2-hidden-accessible(
    tabindex="2000"
    aria-hidden="true"
    data={"ajax--url" => search_patients_practices_path,
          "form-refresh-url" => edit_patient_primary_care_physician_path(patient) }
    autofocus= "true"
  )

  #form
    = render "form",
              patient: patient,
              available_primary_care_physicians: available_primary_care_physicians
