= within_admin_layout(title: "Edit Person",
                      breadcrumbs: breadcrumb_for("Directory", directory_people_path))

  = render "renalware/shared/errors", model: person
  = render "form", person: person
