// Add mixins here and import them into the scss file where you want to use them with
// @import "base/mixins"

@mixin badge {
  background-color: $letter-state-unknown;
  border-radius: 0.2rem;
  color: $white;
  font-size: 0.9rem;
  font-weight: normal;
  padding: 0.15rem 0.4rem;
  white-space: nowrap;
}
