// Add scss variables here that can be used in another scss files.
//
// For example, if you define a variable in this file
//
//   $some-standard-color: red;
//
// you can use in renalware/modules/users.scss like so
//
//   @import "../base/variables";
//
//   div.some-class {
//     background-color: $some-standard-color;
//   }

//
// Colours
//

// NHS Colours
$nhs-red: #d81e05; // has lighten/darken
$nhs-pink: #ae2573; // has lighten/darken
$nhs-light-blue: #41b6e6; // has lighten/darken
$nhs-aqua-green: #00a499; // has lighten/darken
$nhs-light-green: #78be20; // has lighten/darken
$nhs-green: #009639; // has lighten/darken
$link-colour: $primary-color; // #008CBA;
$dark-grey: #222;  // has lighten/darken
$off-white: #eee; // darken

$tab-border-color: #ddd;

// Bookmarks
$bookmark-urgent-colour: #ffffc8;

// Letter states
$letter-state-unknown: var(--mid-grey);
$letter-state-draft: var(--nhs-aqua-blue);
$letter-state-pending-review: var(--nhs-orange);
$letter-state-approved: $nhs-green;
$letter-state-completed: var(--nhs-dark-green);

// Renal reg missing data labels
$renal-reg-missing-data-default: $dark-grey;
$renal-reg-missing-data-comorbidities-at-esrf: var(--nhs-aqua-blue);
$renal-reg-missing-data-prd: var(--nhs-orange);
$renal-reg-missing-data-first-seen-on: $nhs-green;
$renal-reg-missing-data-ethnicity: var(--nhs-dark-green);

// Admission Request priority but can be used elsewhere
$priority-urgent: var(--nhs-dark-red);
$priority-high: $nhs-red;
$priority-medium: var(--nhs-warm-yellow);
$priority-low: $nhs-green;

// Modals
$max-modal-height: 600px;

$mini-profile-backgound-colour: #dbeafe;
$mini-profile-renal-backgound-colour: #dbeafe;
$mini-profile-allergies-backgound-colour: #fef08a;

$letter-preview-background-colour: #ddd;

// tables
$table-even-row-colour: #fcfcfc;
$table-border-colour: #ddd;
$table-toggled-content-colour: #fefff1;
$table-urgent-colour: #fef9c3;
$table-row-hover-colour: #f9f9f9;

$patient-menu-background-colour: #eee;
$menu-divider-colour: #e6e6e6;

$footer-colour: #777;
$footer-bg-colour: $patient-menu-background-colour;

// Forms
$form-hint-colour: #bbb;
$form-hint-colour-strong: #888;
$disabled-colour: #ccc;
$pipe-separator-colour: #ccc;

// Menus
$patient-menu-icon-color: $gainsboro;
$patient-menu-icon-hover-color: var(--white);

// HD Diaries
$hd-weekly-diary-colour: #ffedd4;
$hd-weekly-diary-hover-colour: lighten($hd-weekly-diary-colour, 25);

//
// Lists
//
$dl-horizontal-dt-width: 9rem;

$patient-side-nav-width: 14.5rem;

// Select2
$select2-input-height: 2.2rem;

