// Add scss variables here that can be used in another scss files.
//
// For example, if you define a variable in this file
//
//   $some-standard-color: red;
//
// you can use in renalware/modules/users.scss like so
//
//   @import "../base/variables";
//
//   div.some-class {
//     background-color: $some-standard-color;
//   }

//
// Colours
//
$dashboard-muted-color: #888;

// Drug type colours
$drug-type-default-colour: #FFFFFF;
$drug-type-esa-colour: #FFFF99;
$drug-type-immunosuppressant-colour: #CCFFFF;

// Patient header/banner
$patient-header-muted-color: #777;
$patient-header-icon-color: #bbb;

// Bookmarks
$bookmark-urgent-colour: #FFFFC8;

//
// Lists
//
$dl_horizontal_dt_width: 9rem;
