.wide-screen
  .columns.large-12
    = render partial: "patients/patient_info_header", locals: { model: @patient }
    = render partial: "patients/mini_renal_profile", locals: { model: @patient }

.row.g-center
  %h5= link_to "Patient Events", patient_patient_events_path(@patient)

  %table.responsive
    %thead
      %th
        Added
      %th
        Event Type
      %th
        Description
      %th
        Date/Time

    %tbody
      = render @patient_events
