.row.g-center
  %h5= link_to "Patient Events", patient_patient_events_path(@patient)

  %table.responsive
    %thead
      %th
        Added
      %th
        Event Type
      %th
        Description
      %th
        Date
      %th
        Time
      %th
        Entered By

    %tbody
      = render @patient_events

.wide-screen
  = content_for :secondary_nav do  
    = render partial: "patients/clin_sum_sub_nav", locals: { model: @patient }

