.row
  %h1 Patient Events

  %table.responsive
    %caption
      = link_to "All Patient Events", patient_events_path

    %thead
      %th
        Added
      %th
        Event Type
      %th
        User
      %th
        Modal
      %th
        Description
      %th
        Time
      %th
        Staff Name

    %tbody
      = render @patient_events

= content_for :secondary_nav do
  %li
    = link_to "Back to patient list", patients_path
