<!-- This example requires Tailwind CSS v2.0+ #003087 -->
<nav class="bg-nhs-blue text-white">
  <div class="max-w-7xl mx-auto px-4">
    <div class="relative flex items-center justify-between h-10">
      <div class="absolute inset-y-0 left-0 flex items-center ">
        <h1 class="text-2xl font-medium">RABBIT, Roger</h1>
        <dl>

        </dl>
      </div>
    </div>
  </div>
</nav>
