@layer base {
  input::placeholder,
  textarea::placeholder {
    @apply text-gray-400;
  }
}

.form-control {
  @apply px-5 py-2 rounded-md;
}

.disabled-input input[type=checkbox]:disabled {
  @apply border-gray-400;
}
.disabled-input label {
  @apply text-gray-400;
}

@layer components {
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply form-control;
  }
}

/* Slim select */
.ss-main {
  border-radius: 0.375rem;
}

/* Wrapper around the hour, minute, second, and am/pm fields as well as
the up and down buttons and the 'X' button */
input[type="time"]::-webkit-datetime-edit-fields-wrapper {
  display: flex;
}

/* The space between the fields - between hour and minute, the minute and
second, second and am/pm */
/* input[type="time"] {
  padding: 1rem;
} */

/* The naming convention for the hour, minute, second, and am/pm field is
`-webkit-datetime-edit-{field}-field` */

input[type="time"]::-webkit-datetime-edit-text {
  width: 1rem;
  text-align: center;
}

input[type="time"]::-webkit-datetime-edit-hour-field,
input[type="time"]::-webkit-datetime-edit-minute-field,
input[type="time"]::-webkit-datetime-edit-ampm-field {
  border-radius: 15%;
  width: 2.5rem;
  text-align: center;
}

/* 'X' button for resetting/clearing time */
input[type="time"]::-webkit-clear-button {
  /* display: none; */
}

/* Up/Down arrows for incrementing/decrementing the value */
input[type="time"]::-webkit-inner-spin-button {
  /* display: none; */
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}
