.page-actions {
  .button {
    margin-right: 0.8rem;
  }
}

.button {
  border-radius: 2px !important;
  font-size: 1rem;
  padding: 0.6rem 1.2rem;

  i.fa {
    margin-right: .5rem;
  }

  &.with-icon {
    padding-left: 0.7rem;

    i.fa {
      font-size: 1.1rem;
      margin-right: 0.6rem;
    }
  }

  &.compact {
    padding: 2px 5px;
    font-size: 0.9rem;
    margin: 0;
  }

  &:focus {
    outline-style: none;
  }

  &.low-key {
    background-color: $off-white;
    border: solid 1px $light-grey;
    color: $dark-grey;

    &:hover {
      background-color: $white;
    }
  }

  &.alternative {
    background-color: $dashboard-muted-color;
  }
}

.radius.radius-right {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.radius.radius-left {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
