#new-form input.field_with_errors {
    border: 1px solid red;
}

.field_with_errors {
  input,select,textarea {
    border: 1px solid red;
  }
}

ul.error-messages {
  font-size: 1.1rem;
  padding: 1.5rem;
  color: red;
}
