html {
  height: 100%; /* needed for proper layout */

  body {
    height: 100%; /* needed for proper layout */
    overflow: hidden;

    .page {
      display: flex;
      flex-direction: column;
      height: 100%; /* needed for proper layout */
    }

    .main-content {
      position: relative;
      padding-bottom: 4em;
      flex: 1 1 auto;
      position: relative; /* need this to position inner content */
      overflow-y: auto;
    }
  }
}

footer {
  text-align: right;
  color: $footer-colour;
  font-size: 12px;
  margin: 1em;
  //flex: 0 0 auto;
}

.sticky-top {
  flex: 0 0 auto;
}

.embedded-scroll {
  overflow:auto;
}

.inline {
  display: inline;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  dl {
    flex: 1;
    dd {
      white-space: nowrap;
    }
  }
  @media #{$medium-only} {
    dl {
      flex-basis: 50%;
    }
  }
}
