html {
  height: 100%; /* needed for proper layout */

  body {
    height: 100%; /* needed for proper layout */
    overflow: hidden;

    .page {
      display: flex;
      flex-direction: column;
      height: 100%; /* needed for proper layout */
    }

    main {
      position: relative;
      display: flex;
      flex: 1 1 auto;
      position: relative; /* need this to position inner content */
      overflow-y: auto;
      .main-content {
        width: 100%;
      }
    }
  }
}

footer {
  text-align: right;
  color: $footer-colour;
  font-size: 12px;
  padding: .2rem 1rem;
  background-color: $footer-bg-colour;
  border-top: 1px solid #eee;
}

.sticky-top {
  flex: 0 0 auto;
}

.embedded-scroll {
  overflow:auto;
}

.inline {
  display: inline;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  dl {
    flex: 1;
    dd {
      white-space: nowrap;
    }
  }
  @media #{$medium-only} {
    dl {
      flex-basis: 50%;
    }
  }
}

section.display {

  h4 {
    margin: .1rem 1rem 0 0;
    float: left;
    clear: left;
    font-size: 1.3rem;
    color: $dark-grey;
  }

  .section-actions {
    float: left;
    clear: right;

    a {
      @extend .button;
      padding: .3rem 1rem;
      font-size: .9rem;
      margin: 0;
    }
  }

  .section-content {
    display: block;
    margin-top: .2rem;

    dl {
      clear: both;
    }
  }
}
