
.save {
  background-color: green !important;
}

.cancel {
  background-color: red !important;
}

.delete {
  color: red !important;
}

a.fi-plus:before a.fi-minus:before {
  position: absolute;
  right: 0;
}

.sub-nav dd a.has-tip:hover {
  color: $link-colour;
}

.sub-nav {
  margin-bottom: 0.8rem;
  dd {
    margin:0;
    padding:0;
  }
}

.tooltip {
  background-color: rgba(92,92,92,0.9);
  border-radius: 0.5em;
  radius: 20px;
  padding: 6px 8px;
  font-size: 0.9rem;
  color: $white;
}

.tooltip > .nub {
  border-color: transparent transparent rgba(92,92,92,0.8) transparent;
  margin-left: 0.5em;
}

#patient_search {
  width: 365px;
}

dd.patient-name {
  display: none;
}

[data-magellan-expedition], [data-magellan-expedition-clone] {
  padding: 5px 0;
}

.sub-nav.fixed {
  left: auto;
}

.page-navigation {
  margin: 5px 0;
}

.patient-side-nav {
  flex: 0 0 $patient-side-nav-width;
  order: -1;
  background-color: $patient-menu-background-colour;
  padding: 0;

  ul.side-nav {
    margin: 0;
    padding: 0.5rem 0 0 0;

    li {
      margin: 0;
      padding: 0.15rem 0;

      &.heading {
        padding-left: 1.1rem;
        color: $dark-grey;
      }

      &.link {
        padding-left: 1.875rem;

        &.active {
          background-color: $white;
          a {
            color: $dark-grey;
            text-decoration: none;
          }
        }

        a {
          padding: 0;
          text-decoration: underline;

          &:hover {
           background-color: inherit;
          }
        }
      }
    }
  }

  li.divider {
    border-top-color: $menu-divider-colour;
  }
}

.top-bar-section .dropdown li.info {
  color: rgba(255, 255, 255, 0.5);
  padding: 0px 15px;
  line-height: 45px;
  font-size: 0.8em;
}
