$search-bar-height: 2.15rem;
$btn-hover-background-color: darken($off-white, 10%);
$btn-hover-color: darken($dark-grey, 10%);

.patient-search-form {
  button.button.tiny.postfix {
    padding: 0;
    background-color: $off-white;
    color: $dark-grey;
    height: $search-bar-height;
    &:hover {
      background-color: $btn-hover-background-color;
      color: $btn-hover-color;
    }
  }
  input {
    height: $search-bar-height;
    border: none;
    padding: 0;

  }
}
