.accordion .accordion-navigation > .content,
.accordion dd > .content {
  color: $nhs-dark-red;
  font-weight: normal;
  padding: 0.25rem 0.5rem;
}

.accordion-navigation.active {
  background-color: $white;
  border-radius: 3px;
}

.accordion .accordion-navigation > a,
.accordion dd > a {
  font-size: 1rem;
  padding: 0 0.5em 0 0;
  border-radius: 0.5em;
  text-decoration: none;
}

.accordion-navigation a span {
  color: $dark-grey;
}

.accordion-navigation a .when {
  font-weight: bold;
}

.accordion-navigation a .what,
.accordion-navigation a .about {
  color: $link-colour;
  text-decoration: underline;
}

.accordion-navigation a .whom {
  color: $nhs-dark-blue;
  font-weight: bold;
}

.accordion .accordion-navigation.active > a,
.accordion dd.active > a {
  background-color: $white;
}

.accordion a.toggle-info:hover {
  background-color: $link-colour;
  color: $white;
}

.accordion a.toggle-info:hover span,
.accordion a.toggle-info:hover:before {
  color: $white;
}

.accordion .active a.toggle-info:hover {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.hide-button {
  display: none;
}

.show-form {
  display: block;
}

#new-form:target {
  .hide {
    display: block;
  }

  .close-new-form {
    display: inline-block;
  }

  .toggle {
    display: none;
  }
}

#new-probs-form:target {
  .hide {
    display: block;
  }

  .close-new-form {
    display: inline-block;
  }

  .toggle {
    display: none;
  }
}

#new-organism-form:target {
  .hide {
    display: block;
  }

  .close-new-form {
    display: inline-block;
  }

  .toggle {
    display: none;
  }
}

.close-new-organism-form {
  display: none;
}

.close-new-form {
  display: none;
}

.accordion dd > a.toggle-info {
  background: none;
  border-radius: 3px;
  padding: 0 0.3em 0 0.3em;
  color: $link-colour;
}

.toggle-text {
  font-size: 0.8em;
}

.toggle-content {
  font-size: 0.9em;
}

.fi-plus:before,
.fi-minus:before {
  color: $link-colour;
  padding-left: 0.1em;
  margin-right: 8px;
}

.edit {
  color: $aluminum;
  padding-right: 0.5em;
}

.css-toggle-container {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &.expanded {
    white-space: normal;
  }
}
