/*
body {
  font-size: 0.8rem;
}
*/

h1.brand-name {
  color: $white;
  padding-left: 0.7em;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1em;
  font-weight: bold;
}

p {
  padding: 0 0.5em 0 0.5em;
  margin: 0 0 0.5em 0;
}

ul {
  margin-bottom: 0;
}

ul.table-data-list {
  font-size: 1em;
}

li.history {
  display: block;
  color: #999999;
}

span.monospaced {
  font-family: monospace;
  font-size: 1.2em;
}

span.note {
  color: #999;
  font-size: 0.8rem;
}

.hint {
  color: $form-hint-colour;
  display: block;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 0.25rem;
  padding: 0.2rem 0rem;
}
