input[type='text'].ui-autocomplete-loading {
  background-image: asset-url('ajax-loader.gif');
  background-repeat: no-repeat;
  background-position: 98% center;
}

.ui-widget.ui-autocomplete {
  font-size: 0.8em;
}

.ui-menu.ui-autocomplete .ui-menu-item {
  padding-top: 0px;
  padding-bottom: 0px;
}