form .row .row.datepicker-wrapper {
  margin-bottom: 10px;
}

.datepicker {
  width: 240px;

  &.dropdown-menu {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  }
}

form {
  .small-input {
    max-width: 250px !important;
  }

  .tiny-input {
    max-width: 125px !important;
  }

  .very-tiny-input {
    max-width: 75px !important;
  }

  .row.actions {
    margin-top: 2rem;
  }
}

fieldset {
  padding: 1em;

  dt {
    font-weight: normal;
    color: rgb(153, 153, 153);
  }

  .button {
    margin-bottom: 0;
  }

  .radio {
    input.radio_buttons {
      margin-right: 5px;
    }

    address {
      display: inline;
      color: #AAA;
      font-size: 0.9em;
    }
  }

  &.with-actions-above-table {
    padding-top:3px;

    .actions {
      margin-bottom: 13px;
    }
  }
}

.document form,
.profile-info-form {
  .form-content {
    max-width: 960px;
  }

  .datepicker-wrapper,
  .datetimepicker-wrapper, {
    max-width: 250px !important;
    i {
      font-size: 1.5rem;
    }
  }

  .clockpicker-wrapper {
    max-width: 120px !important;
    i {
      font-size: 1.5rem;
    }
  }

  label.radio_buttons {
    padding: 0;
  }

  label.inline {
    margin-right: 0.3rem;
  }

  table {
    border: none;

    &.no-stripes tr:nth-of-type(even) {
      background-color: transparent !important;
    }

    td {
      vertical-align: top;

      .row.datepicker-wrapper {
        margin-top: -4px !important;
      }

      input, select {
        margin: 0;
      }
    }

    th:first-child,
    td:first-child {
      text-align: right;
      width: 24%;
      padding-top: 11px;
    }
  }
}

.search-form {
  fieldset {
    margin-top: 0;
  }

  .columns {
    padding-right: 0;
  }

  .actions {
    padding-top: 8px;
  }
}

fieldset {
  &.simple {
    padding: 0.8rem 0 0 0;
    margin: 0;
    border-width: 1px 0 0 0;
    position: relative;
    margin-top: 35px;

    legend {
      position: absolute;
      top: -28px;
      left: 0;
      width: 100%;

      span {
        &.title {
          padding-right: 1rem;
          font-weight: normal;
        }
        &.actions {
          color: #008cba;
          font-size: 1rem;
          font-weight: normal;

          &.action-links {
            a {
              font-weight: normal;
              font-size: 1rem;
            }
          }
          &.action-buttons {
            position: absolute;
            top: -5px;

            a {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}

.button {
  &.slimline {
    &.small {
      padding: 0.3rem 0.6rem;
    }
  }
}
