.datepicker {
  width: 240px;

  &.dropdown-menu {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  }
}

form {
  .small-input {
    max-width: 250px !important;
  }
}

.document form {
  .form-content {
    max-width: 960px;
  }

  .datepicker-wrapper {
    max-width: 250px !important;
  }

  label.radio_buttons {
    padding: 0;
  }

  label.inline {
    margin-right: 0.3rem;
  }

  .datepicker-wrapper {
    i {
      font-size: 1.5rem;
    }
  }

  table {
    border: none;

    &.no-stripes tr:nth-of-type(even) {
      background-color: transparent !important;
    }

    td {
      vertical-align: top;

      .row.datepicker-wrapper {
        margin-top: -4px !important;
      }

      input, select {
        margin: 0;
      }
    }

    th:first-child,
    td:first-child {
      text-align: right;
      width: 41.3%;
      padding-top: 11px;
    }
  }
}
