.datepicker {
  width: 240px;

  &.dropdown-menu {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  }
}

form {
  .small-input {
    max-width: 250px !important;
  }
  .tiny-input {
    max-width: 125px !important;
  }
  .very-tiny-input {
    max-width: 75px !important;
  }
}

fieldset {
  padding: 1em;

  dt {
    font-weight: normal;
    color: rgb(153, 153, 153);
  }

  .button {
    margin-bottom: 0;
  }

  .radio {
    input.radio_buttons {
      margin-right: 5px;
    }

    address {
      display: inline;
      color: #AAA;
      font-size: 0.9em;
    }
  }
}

.document form,
.esrf-info-form {
  .form-content {
    max-width: 960px;
  }

  .datepicker-wrapper,
  .datetimepicker-wrapper, {
    max-width: 250px !important;
    i {
      font-size: 1.5rem;
    }
  }

  .clockpicker-wrapper {
    max-width: 120px !important;
    i {
      font-size: 1.5rem;
    }
  }

  label.radio_buttons {
    padding: 0;
  }

  label.inline {
    margin-right: 0.3rem;
  }

  table {
    border: none;

    &.no-stripes tr:nth-of-type(even) {
      background-color: transparent !important;
    }

    td {
      vertical-align: top;

      .row.datepicker-wrapper {
        margin-top: -4px !important;
      }

      input, select {
        margin: 0;
      }
    }

    th:first-child,
    td:first-child {
      text-align: right;
      width: 24%;
      padding-top: 11px;
    }
  }
}
