form .row .row.datepicker-wrapper {
  margin-bottom: 10px;
}

.cancel-link {
  font-size: 0.9rem;
  margin-left: 15px;
  &.disabled {
    pointer-events: none;
    color: $disabled-colour;
  }
}

.datepicker {
  width: 240px;

  &.dropdown-menu {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  }
}

form {

  &.simple_form div.boolean {
    label {
      padding-left: 0;
      input {
        margin-left: 0;
      }
    }
  }

  @media screen and (min-width: 40.063em) {
    .small-input {
      max-width: 250px !important;
    }
  }

  .medium-input {
    max-width: 500px !important;
  }

  .tiny-input {
    max-width: 125px !important;
  }

  .very-tiny-input {
    max-width: 75px !important;
  }

  .row.actions {
    margin-top: 2rem;
  }

  .error {
    small.error {
      padding: 0.3rem 0.5rem 0.2rem 0.5rem;
    }
  }

  .error.datepicker_error {
    float: left;
    clear: both;
    width: 100%;
  }
}

fieldset {
  padding: 1em;

  legend {
    font-size: 1.1rem;
    line-height: 1.1rem;
  }

  dt {
    font-weight: normal;
    color: rgb(153, 153, 153);
  }

  .button {
    margin-bottom: 0;
  }

  .radio {
    input.radio_buttons {
      margin-right: 5px;
    }

    address {
      display: inline;
      color: #AAA;
      font-size: 0.9em;
    }
  }

  &.with-actions-above-table {
    padding-top:3px;

    .actions {
      margin-bottom: 13px;
    }
  }
}

.document form,
.profile-info-form {
  .form-content {
    max-width: 960px;
  }

  label.radio_buttons {
    padding: 0;
  }

  label.inline {
    margin-right: 0.3rem;
  }

  table {
    border: none;

    &.no-stripes tr:nth-of-type(even) {
      background-color: transparent !important;
    }

    td {
      vertical-align: top;

      .row.datepicker-wrapper {
        margin-top: -4px !important;
      }

      input, select {
        margin: 0;
      }
    }

    th:first-child,
    td:first-child {
      text-align: right;
      width: 24%;
      padding-top: 11px;
    }
  }
}

.search-form {
  fieldset {
    margin-top: 0;
  }

  .columns {
    padding-right: 0;
  }

  .actions {
    padding-top: 8px;
  }
}

fieldset {
  &.simple {
    padding: 0.8rem 0 0 0;
    margin: 40px 0 10px 0;
    border-width: 1px 0 0 0;
    position: relative;

    legend {
      position: absolute;
      top: -28px;
      left: 0;
      width: 100%;
      font-size: 1.3rem;
      line-height: 1.3rem;

      span {
        &.title {
          padding-right: 1rem;
          font-weight: normal;
        }
        &.actions {
          color: $link-colour;
          font-size: 1rem;
          font-weight: normal;

          &.action-links {
            a {
              font-weight: normal;
              font-size: 1rem;
            }
          }
          &.action-buttons {
            position: absolute;
            top: -5px;

            a {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
  &.simple-table {
    margin-top: 50px;
  }
}

.button {
  &.slimline {
    &.small {
      padding: 0.3rem 0.6rem;
    }
  }
}
