html,
body {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 10px;
}

h1 {
  font-size: 2rem;
}

.page-break {
  clear: both;
  display: block;
  page-break-after: always;
}

.noprint {
  display: none !important;
  min-width: 0 !important;
}

.hd-diary-pdf {
  table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 5px;
    width: 100%;

    tr {
      page-break-inside: avoid;
    }

    th,
    td {
      border: solid 1px #666;
    }

    tbody {
      th {
        // Station heading
        text-align: left;
      }
    }


    thead {
      background-color: #eee;
      // No border on the diurnal period row eg AM, PM etc
      tr:first-child {
        th {
          background-color: #fff;
          border: 0;
        }
      }
    }
  }
}
