ul {
  margin-bottom: 0;
}

ul.stripy-list {
  li:nth-child(even) { background: #FCFCFC; }
  li:hover {
    background: #eee;
  }
  a:hover {
    text-decoration: underline;
  }
}

ul.bullet-number {
  list-style-type: decimal;
  text-align: left;
 }
