html {
  overflow: hidden;
  font-family: Helvetica, Arial;
  font-size: 13px;
}

ul {
  padding-left: 0;
  list-style-position: inside;
  line-height: 1.3em;
  list-style-type: none;
}

dl {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.3em;

  p {
    padding-left: 0;
  }

  dt,
  dd {
    font-weight: normal;
  }

  dt {
    font-weight: bold;
    float: left;
    width: 9rem;
    overflow: hidden;
    clear: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
  }

  dd {
    margin-left: 9rem + 1rem;
    margin-bottom: 0;

    &:before {
      content: " ";
      display: table;
    }

    &:after {
      content: " ";
      display: table;
      clear: both;
    }
  }
}

heading {
  text-align: right;

  .our-ref {
    float: left;
    font-weight: normal;
    font-size: 0.8em;
    color: #666;
  }

  .trust {
    float: right;
    margin-right: 1em;
    .title {
      font-size: 1.5em;
    }
  }

  .logo {
    float: right;
  }
}

main {
  clear: both;
  display: block;
  padding-top: 1em;

  h1 {
    margin-bottom: 0.2em;
    padding-bottom: 0em;
  }

  section {
    margin: 2em 0;
  }
}

.prescriptions {
  .prescription {
    font-weight: normal;

    &.recently_changed {
      font-weight: bold;
    }
  }
}

.signoff {
  border-bottom: 1px solid #ddd;
  padding-top: 50px;
  padding-bottom: 5px;

  table {
    width: 100%;
    tr {
      td {
        &:nth-child(2) { /* signature */
          width: 60%;
        }

        &:nth-child(1),
        &:nth-child(3) /* labels */
        {
          width: 10%;
        }

        &:nth-child(4) {
          width: 20%;
        }
      }
    }
  }
}
