.nav-search {
  left: 2em;
}

.save {
  background-color: green !important;
}

.cancel {
  background-color: red !important;
}

.delete {
  color: red !important;
}

a.fi-plus:before a.fi-minus:before {
  position: absolute;
  right: 0;
}

.sub-nav dd a.has-tip:hover {
  color: #008cba;
}

.tooltip {
  background-color: rgba(92,92,92,0.9);
  border-radius: 0.5em;
  radius: 30px;
}

.tooltip > .nub{
  border-color: transparent transparent rgba(92,92,92,0.8) transparent;
  margin-left: 0.5em;
}


nav.sub-nav-container {
  width: 100%;
  background-color: #f2f2f2;
  margin-bottom: 1rem;
  z-index: 0;

  .sub-nav {
    margin: -0.25rem 0 0 1rem;

    dt, dd {
      margin-bottom: 0;
    }
  }
}

#patient_search {
  width: 365px;
}

dd.patient-name {
  display: none;
}

.patient-nav {
  background-color: #656565;
  height: rem-calc(35) !important;

  .top-bar-section li:not(.has-form) a:not(.button) {
    line-height: rem-calc(35) !important;
    background-color: #656565 !important;
  }
}

[data-magellan-expedition], [data-magellan-expedition-clone] {
  padding: 5px 0;
}

.sub-nav.fixed {
  left: auto;
}

.patient-side-nav {
  background-color: #FAFAFA;
  ul.side-nav li a {
    padding-top: 0;
    padding-bottom: 0;
  }

  li.divider {
    border-top-color: #E6E6E6;
  }
}

.top-bar-section .dropdown li.info {
  color: rgba(255, 255, 255, 0.5);
  padding: 0px 15px;
  line-height: 45px;
  font-size: 0.8em;
}
