table, td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

.border_box_half {
  border: 1px solid black;
  width: 48%;
}

.border_box_full {
  border: 1px solid black;
  width: 100%;
  margin-bottom: 10px;
}

.with_border {
  border: 1px solid black;
}

.header_cell {
  background-color: #D6D6D6;
  font-weight: bold;
}

hr.page_break {
  clear: both;
  page-break-after:always;
}

.preview_settings {
  background-color: #D6D6D6;
  margin: 10px;
  padding: 5px;
}
