// CSS used only in the patient layout
html {
  body {
    display: flex;
    flex-direction: column;

    > header {
      flex: 0 0 auto;
    }

    main {
      flex: 1 1 auto;
      display: flex;
      height: 100%;
      min-height: 0;
      width: 100%;
      position: relative;

      .patient-side-nav {
        overflow-y: auto;
        min-height: 100%;
        height: 100%;
        padding-bottom: 0;
      }

      .patient-content {
        padding-bottom: 1rem;
      }
    }

    &.collapse-patient-menu .patient-side-nav {
      margin-left: -15rem;
      left: 0;
    }

    .full-screenable {
      transition: margin .2s ease 0s;
    }
  }
}
