// Place all the styles related to the encounter_events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

select.datetime,
select.date {
  display: inline-block;
  width: auto;
  padding-right: 2.5em;
}
