select.dob {
  display: inline-block;
  width: 30%;
}

.patient-list {
  border-bottom: 1px solid #DDDDDD;
}

ul.provider {
  display: inline-block;
  padding-right: 2em;
}

.provider>li {
  display: inline-block;
}

.med-list>li {
  display: inline-block;
}
