html,
body {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 10px;
}

.page-break {
  clear: both;
  display: block;
  page-break-after: always;
}

.letter-wrapper {
  &.draft,
  &.pendingreview {
    background-image: asset-data-url('renalware/draft.jpg');
    background-position: center center;
    background-repeat: no-repeat;
  }
}
