@media screen {
  .print-only {
    display: none;
  }
}

@media print {
  html {
    font-size: 0.7em;
  }

  a[href]:after {
    content: none !important;
  }

  .sub-nav, .top-bar {
    display: none;
  }

  .noprint {
    display: none;
  }
}

// Use the large grid when printing, instead of the default small one.
@media print {
  .large-1 {
    width: 8.33333%;
  }

  .large-2 {
    width: 16.66667%;
  }

  .large-3 {
    width: 25%;
  }

  .large-4 {
    width: 33.33333%;
  }

  .large-5 {
    width: 41.66667%;
  }

  .large-6 {
    width: 50%;
  }

  .large-7 {
    width: 58.33333%;
  }

  .large-8 {
    width: 66.66667%;
  }

  .large-9 {
    width: 75%;
  }

  .large-10 {
    width: 83.33333%;
  }

  .large-11 {
    width: 91.66667%;
  }

  .large-12 {
    width: 100%;
  }
}