html {
  overflow: hidden;
}

html,
body {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 10px;
}

h1 {
  font-size: 2rem;
}

.page-break {
  clear: both;
  display: block;
  page-break-after: always;
}

.noprint {
  display: none !important;
  min-width: 0 !important;
}

.protocol {

  .patient-header {
    clear: right;
    float: left;
    dl {
      color: #000;
      font-size: 1.1rem;
      margin: 0 0 .2em 0;

      dt {
        display: inline-block;
        font-size: .6em;
        font-weight: normal;
        margin: 0;
        padding: 1rem 0 0 0;
        text-transform: uppercase;
      }

      dd {
        display: inline;
        font-size: 1.5em;
        line-height: 1.3em;
        margin: 0 .5em 0 .1em;
        margin: 0 .6rem 0 .2em;

        &.name {
          display: inline-block;
          font-weight: bold;
          margin-left: 0;
          margin-right: .4em;
          margin-right: .6em;
          width: auto;
        }
      }
    }
  }

  table.protocol-patient-summary {
    border: 0;
    clear: both;
    float: left;

    thead {
      background-color: transparent;
      text-align: left;

      th {
        font-size: 1.1rem;
        padding: 0;
        padding-bottom: 0.4rem ;

        &.protocol-hd-profile {
          width: 42%;
        }

        &.protocol-allergies {
          width: 18%;

          .allergy_status_updated_at {
            font-weight: normal;
            padding-left: 0.2rem;
          }
        }

        &.protocol-prescriptions {
          width: 25%;
        }

        &.protocol-recent-pathology {
          padding: 0;
          padding-left: .3rem;
          width: 15%;
        }
      }
    }

    td {
      margin: 0;
      padding: 0 0.1rem;
      vertical-align: top;
    }
  }

  table.protocol-sessions {
    border: solid 1px #000;
    border-collapse: separate;
    border-spacing: 0;
    clear: both;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;

    td, th {
      border-right: solid 1px #aaa;
      line-height: 0.8rem !important;
    }

    thead {
      tr {
        th {
          padding: 2px 4px;

          &.col-width-tiny {
            min-width: 2.5rem;
            text-align: centre;
            width: 4.5rem;
          }

          &.col-width-date {
            min-width: 6rem;
            width: 6rem;
          }

          &.col-width-time {
            min-width: 5.6rem;
            width: 5.6rem;
          }

          &.col-width-minute {
            min-width: 1rem;
            width: 1.5rem;
          }

          &.col-width-small {
            min-width: 5rem;
            width: 5rem;
          }

          &.col-width-drugs {
            min-width: 10rem;
            width: 10rem;
          }

          &.col-width-notes {
            min-width: 10rem;
          }

          &.col-width-user {
            min-width: 5rem;
          }
        }
      }
    }

    tbody {
      tr {
        border: solid 1px #000;
        padding: 0;

        td {
          border-top: solid 1px #000;
          height: 2rem;
          padding: 3px;
          text-align: center;

          &.text-left {
            text-align: left;
          }
        }

        &.empty-session-row {
          height: 4rem;
          &.first {
            td {
              border-top: solid 2px #000;
            }
          }
        }

        &:nth-child(7) {
          td {
            border-top: solid 2px #000;
          }
        }

        &:nth-child(even){
          td {
            border-top: solid 1px #bbb;
          }
        }
      }
    }
  }

  table.recent-pathology {
    text-align: left;

    td, th {
      padding-right: 0.2rem;
    }

    .result {
      text-align: right;
    }
  }

  dl {
    float: left;
    margin-bottom: 0.2rem;
    margin-top: 0;
    padding-bottom: 0.2rem;

    dd, dt {
      clear: none;
      float: left;
      margin: 0;
      margin-bottom: 0.3rem;
      padding: 0;

      width: auto;

      &.new_line {
        clear: left;
      }
    }

    dt {
      font-weight: bold;
      margin-right: 0.3rem;
      white-space: nowrap;
    }

    dd {
      margin-right: 0.6rem;
      margin-top: .07rem;
      white-space: nowrap;
    }

    &.prescriptions {
      dt {
        clear: left;
        float: left;
      }

      dd {
        clear: right;
      }
    }
  }

  .allergies {
    .allergy_status {
      font-weight: normal;
      margin-right: 10px;
    }

    .allergy_descriptions {
      font-weight: bold;
      list-style-type: none;
      margin: 0;
      margin-top: 0.1rem;
      padding: 0;

      li {
        margin-bottom: 0.3rem;
      }
    }
  }
}
