
.noprint {
  display: none !important;
  min-width: 0 !important;
}

.print-only {
  display: block;
}

a,
a:visited {
  color: #000;
  text-decoration: none;
}

.pdf {
  // Header with Main title to the left and a muted subtitle to the right
  .header {
    h1,
    h2 {
      line-height: 2rem;
      margin-bottom: 7px;
      margin-top: 0;
    }

    h1 {
      float: left;
      font-size: 2rem;
    }

    h2 {
      float: right;
      font-size: 1.7rem;
      font-weight: normal;
      line-height: 1.7rem;
      margin-top: 4px;
    }

    .muted {
      color: #555;
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;

    // Could make this the default pdf table style but separate class for now
    &.spacy {
      td,
      th {
        padding: 4px 0;
      }
    }

    &.nested-table-in-order-to-prevent-orphaned-rows {
      border-top: solid 1px #000;
      page-break-inside: avoid !important;
    }

    tr {
      page-break-inside: avoid;
    }

    th {
      padding: 4px 0;
      text-align: left;
    }

    td {
      border-bottom: solid 1px #ddd;
    }

    td,
    th {
      page-break-inside: avoid;

      p {
        margin: 0;
        padding: 0;
      }
    }
  }

  // This section displays a summary of applied filters as a table
  .filter-summary {
    clear: both;
    margin-bottom: 8px;

    table {
      width: auto;
    }

    th,
    td {
      border: 0;
    }

    th {
      padding-left: 8px;
      padding-right: 3px;
    }

    th:first-child {
      padding-left: 0;
      text-decoration: underline;
    }
  }

  // Table helper classes copied form the main application
  tr th,
  tr td {
    &.col-width-date {
      width: 7.8em;

      &.wide {
        width: 9rem;
      }
    }

    &.col-width-time {
      min-width: 2.7rem;
      width: 3rem;
    }

    &.col-width-date-time {
      min-width: 9.5rem;
      width: 9.5rem;
    }

    &.col-width-reference-without-prefix {
      min-width: 5.5rem;
      white-space: nowrap;
      width: 7rem;
    }

    &.col-width-reference-no {
      min-width: 8rem;
      white-space: nowrap;
      width: 8rem;
    }

    &.col-width-nhs-no {
      min-width: 7rem;
      white-space: nowrap;
      width: 7rem;
    }

    &.col-width-bp {
      min-width: 3.8rem;
      width: 4.5rem;
    }

    &.col-width-toggle {
      min-width: 9.7rem;
      width: 9.7rem;
    }

    &.col-width-tiny {
      width: 3rem;
    }

    &.col-width-tinyish {
      min-width: 4.5rem;
      width: 5rem;
    }

    &.col-width-small {
      min-width: 5.1rem;
      width: 7rem;
    }

    &.col-width-medium {
      min-width: 10rem;
      width: 12rem;
    }

    &.col-width-medium-ish {
      min-width: 12rem;
      width: 14rem;
    }

    &.col-width-large {
      min-width: 15rem;
      width: 20rem;
    }

    &.column-6-width {
      width: 6%;
    }

    &.col-width-6 {
      width: 6rem;
    }

    &.col-width-9 {
      width: 9rem;
    }

    &.col-width-11 {
      width: 11rem;
    }

    &.col-width-13 {
      width: 13rem;
    }

    &.at-least {
      width: auto;
    }
  }
}
