table {
  width: 100%;
}

.table-description {
  width: 50%;
}

table tr th.col-width-date{
  width: 5.5rem;
}

table tr th.col-width-9{
  width: 9rem;
}

table tr th.col-width-13{
  width: 13rem;
}

table {
  table-layout: fixed;
  .column-6-width {
    width: 6%;
  }
  .column-9-width {
    width: 8.5%;
  }
}

table.report {
  table-layout: auto;

  th, td {
    padding-left: 5px;
    padding-right: 5px;
  }
}

table.auto-layout {
  table-layout: auto;
}

th, td {
  overflow: hidden;
}

@media screen and (max-width: 1000px) {

  table.responsive {
    display: block;
    font-size: 1.2em;

    .toggle-content {
      font-size: 0.9em;
    }

    .accordion dd > a.toggle-info {
      background: none;
      border-radius: 0.5em;
      padding: 0 0.3em 0 0.3em;
      font-size: 0.9em;
      color: #008cba;
    }

    thead, tbody, th, td, tr, caption {
      display: block;
    }

    td:before {
      font-weight: bold;
      position: absolute;
      top: 6px;
      left: 6px;
      width: 33%;
      padding-right: 10px;
      white-space: nowrap;
      content: attr(data-heading);
      float: left;
    }

    td:first-child {
      background: #ccc;
    }

    td:nth-child(even) { background: #FCFCFC; }

    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tbody tr {
      margin-bottom: 20px;
      border-bottom: 1px solid #ccc;
    }

    td {
      position: relative;
      padding: 6px 24px 24px 35%;
      border-bottom: 0;
    }

    th {
      padding: 12px;
    }

    th.g-center, td.g-center {
      text-align: left;
    }
  }
}
