.accordion .accordion-navigation > a, .accordion dd > a {
  background: #FFFFFF;
  font-size: 0.9em;
  padding: 0 0.5em 0 0.5em;
  border-radius: 0.5em;
}

.accordion .accordion-navigation > a, .accordion dd > a.toggle-form {
  margin-bottom: 0.5em;

}

.hide-button {
  display: none;
}

.show-form {
  display: block;
}

#new-form:target {
  .hide {
    display: block;
  }

  .close-new-form {
    display: inline-block;
  }

  .toggle {
    display: none;
  }
}

#new-probs-form:target {
  .hide {
    display: block;
  }

  .close-new-form {
    display: inline-block;
  }

  .toggle {
    display: none;
  }
}

#new-organism-form:target {
  .hide {
    display: block;
  }

  .close-new-form {
    display: inline-block;
  }

  .toggle {
    display: none;
  }
}

.close-new-organism-form {
  display: none;
}

.close-new-form {
  display: none;
}

.accordion dd > a.toggle-info {
  background: none;
  border-radius: 0.5em;
  padding: 0 0.3em 0 0.3em;
  font-size: 0.8em;
  color: #008cba;
}

.toggle-text {
  font-size: 0.8em;
}

.toggle-content {
  font-size: 0.7em;
}

.accordion .accordion-navigation > .content.active, .accordion dd  > .content.toggle-content {
  background: rgba(255, 255, 255, 0);
}

.fi-plus:before, .fi-minus:before {
  color: #008cba;
  padding-left: 0.5em;
  margin-right: 4px;
}

.edit {
  color: #999999;
  padding-right: 0.5em;
}
