h1.brand-name {
  color: #FFFFFF;
  padding-left: 0.7em;
}

h5 {
  font-size: 1em;
  font-weight: bold;
}

p {
  padding: 0 0.5em 0 0.5em;
  margin: 0 0 0.5em 0;
}

ul {
  margin-bottom: 0;
}

ul.table-data-list {
  font-size: 1em;
}

li.history {
  display: block;
  color: #999999;
}

span.monospaced {
  font-family: monospace;
  font-size: 1.2em;
}

span.note {
  color: #999;
  font-size: 0.8rem;
}
