@import "tailwindcss/base";
@import "tailwindcss/components";
@import "components/forms.css";
@import "components/buttons.css";
@import "components/text.css";
@import "components/pagination.css";
@import "components/popovers.css";

@import "tailwindcss/utilities";
@import "shepherd.js/dist/css/shepherd.css";

[type='text'],
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
  line-height: 1.4rem ;
}

[type="search"],
[type="input"] {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
