= within_patient_layout(title: t(".title"),
                        breadcrumbs: access_summary_breadcrumb(difficulty.patient)) do

  .pt-10
    = simple_form_for difficulty,
                      url: patient_accesses_needling_assessments_path(difficulty.patient),
                      as: :needling_assessment,
                      html: { autocomplete: "off" },
                      wrapper: "horizontal_form" do |f|

      = f.input :difficulty,
                collection: Renalware::Accesses::NeedlingAssessment.difficulty_type_collection_options,
                include_blank: true,
                wrapper: :horizontal_medium,
                autofocus: true,
                input_html: { class: "needling-assessment-difficulty",
                  data: { controller: "slimselect" } }

      .mt-8= save_or_cancel(form: f, back_path: patient_accesses_dashboard_path(difficulty.patient))
