- if prescriptions.any? || local_assigns.fetch(:render_if_blank, false)
  b.subtitle Drugs to give as Outpatient

  - if prescriptions.blank?
    p.prescription No prescriptions
  - else
    ul
      - prescriptions.each do |prescription|
        - if recently_changed.include?(prescription)
            = render "renalware/medications/prescriptions/prescription",
                     prescription: prescription,
                     date_changed: prescription.prescribed_on,
                     recently_changed: true
        - else
            = render "renalware/medications/prescriptions/prescription",
                     prescription: prescription
