/ locals: (patient:, current_prescriptions:, current_search:, treatable:, historical_prescriptions:, historical_prescriptions_search: )
/ Rails 7.1 strict locals:

#prescriptions
  = render "renalware/medications/prescriptions/tables", local_assigns
