- if prescription.current? && policy(prescription).edit?
  = link_to t("btn.edit"), edit_patient_prescription_path(patient,
    prescription,
    return_to: request.fullpath), data: { turbo: true }

- if prescription.current? && policy(prescription).destroy?
  = link_to t("btn.terminate"),
    new_patient_medications_prescription_termination_path(patient,
    prescription,
    return_to: request.fullpath)
