b Current
= render "renalware/medications/prescriptions/table",
      id: "current-prescriptions",
      patient: patient,
      treatable: treatable,
      prescriptions: current_prescriptions,
      search: current_search,
      current_scope: true
hr
- if defined? historical_prescriptions
  b Historical
  = render "renalware/medications/prescriptions/table",
      id: "historical-prescriptions",
      patient: patient,
      treatable: treatable,
      prescriptions: historical_prescriptions,
      search: historical_prescriptions_search,
      current_scope: false
.right
  = link_to "Add Prescription", new_patient_prescription_path(patient, treatable), remote: true, class: %i(button tiny)
