= content_for(:actions) do
  .flex.gap-3
    - if policy(Renalware::Medications::Prescription).new?
      = link_to t("btn.add"),
                new_patient_prescription_path(presenter.patient),
                class: "btn btn-primary btn-compact"


    - if Renalware.config.outpatient_prescription_administration_enabled
      = render Renalware::Medications::AdministerOutpatientPrescriptionDropdownComponent.new(patient: presenter.patient)

      = link_to "Outpatient Administrations...",
                patient_medications_outpatient_prescription_administrations_path(presenter.patient),
                class: "btn btn-secondary btn-compact"

    = render Renalware::DropdownButtonComponent.new(title: "Print", icon: :printer) do |dropdown|
      - print_options = [{ print_scope: "all", title: "All Drugs" },
                         { print_scope: "hd", title: "HD Drugs" }]
      - if Renalware.config.outpatient_prescription_administration_enabled
        - print_options << { print_scope: "outpatient", title: "Outpatient Drugs" }
      - print_options.each do |opts|
        - url = patient_prescriptions_path(presenter.patient, presenter.treatable, print_scope: opts[:print_scope], format: :pdf)
        - dropdown.with_item(title: opts[:title], url:)
      - dropdown.with_item(title: "Home Delivery Drugs",
                           url: new_patient_medications_home_delivery_event_path(presenter.patient, format: :html),
                           data: { "reveal-id" => "print-home-delivery-drugs-modal", "reveal-ajax" => "true" })
  / modal placeholder
  #print-home-delivery-drugs-modal.reveal-modal.small(data-reveal
                                                      data-controller="home-delivery-modal"
                                                      data-options="close_on_background_click:false")

= within_patient_layout(title: "Prescriptions") do
  = render "filter_form", presenter: presenter
  = render "index",
            patient: presenter.patient,
            current_prescriptions: presenter.current_prescriptions,
            current_search: presenter.current_search,
            treatable: presenter.treatable,
            historical_prescriptions: presenter.historical_prescriptions,
            historical_prescriptions_search: presenter.historical_prescriptions_search
  = render_if_exists "bottom", patient: presenter.patient
