ruby:
  view = options.current_view

div
  div(data-controller="charts"
    data-charts-url-value= renalware.chart_reporting_report_path(options.current_view, format: :json)
    data-charts-y-axis-label-value= "axis_label"
    data-charts-y-axis-type-value= "axis_type"
    data-charts-period-value= "3y"
    data-charts-current-period-class="current-period")

    div(id="chart_id" data-charts-target="chart")
      p No data
