.row
  %h5 Clinics (Patient: #{@patient.full_name})

.row
  %table.clinics.responsive
    %thead
      %tr
        %th
          Date
        %th
          BMI
        %th
          BP
        %th.g-center
          Actions

    %tbody
      = render @clinic_visits

.row
  = link_to 'New clinic', new_patient_clinic_visit_path(@patient), class: 'button tiny save'
