#medications
  = render "renalware/medications/table",
      query: @q,
      patient: patient,
      treatable: treatable,
      medications: medications
  = render "renalware/medications/table", local_assigns
