.select-peritonitis-drug
  = pm.label :medicatable_id, "Select Drug (peritonitis drugs only)"
  = pm.grouped_collection_select(:medicatable_id, Renalware::Drugs::Type.for(:peritonitis, :antibiotic), :drugs, :name, :id, :name)


  = pm.hidden_field :medicatable_type, value: "Renalware::Drugs::Drug", class: "selected-medicatable-type"
