= render layout: "renalware/patients/layout", locals: { title: "Medications" } do
  - if params[:filter]
    = render "filter_form", search: current_search, drug_types: drug_types, treatable: treatable
  = render "index", local_assigns
