- if current_user.has_role?(:super_admin)
  %ul.right
    %li.has-dropdown
      = link_to 'Manage users', admin_users_path, title: 'Manage users'
      %ul.dropdown
        %li
          = link_to 'Approve users', unapproved_admin_users_path
        %li
          = link_to 'Reactivate users', expired_admin_users_path
