/ This partial is used by js partials to display any flash messages after a js action
/ e.g a create via a modal
= render(Renalware::FlashMessagesComponent.new(flash_messages: flash_messages, toast: true))
