/ This is displayed in pages printed using the browser (i.e. File -> Print), when we want instead to
/ direct the user to print using the provided Print button on the page, which will provide a better
/ printed output (usually via PDF).
/ While its possible of course to format all pages for printing using CSS, there are times when
/ generating a PDF from a custom HTML view guarantees a better experience, for example:
/ - we need a very different layout
/ - we want to control headers and footers
/ - there are table rows which are not displaying correctly in html (perhaps creating orphaned rows)
/   and we need to use for example nested tables to get an acceptable printable page.
/ - its useful for the user to be able to save a hard-copy PDF of the printed output
/
/ Think of custom HTML views turned into PDF using wkhtmltopdf as a pragmatic and quicker half-way
/ house towards creating more sophisticated and controllable printable PDF output using Prawn etc.
.panel.print-only
  h2
    | For best results please print by clicking on the Print button rather than printing
    | &nbsp;this page directly.
    = image_tag "renalware/print-button-example.png"
