= external_link_to("Update", patient_prescriptions_path(patient), class: "button secondary")

= link_to t("btn.view_all"),
          patient_prescriptions_path(patient),
          class: "button secondary"

= link_to t("btn.toggle"),
          "#prescriptions",
          class: "button secondary",
          data: { behaviour: "css-toggler" }
