= render layout: "renalware/patients/layout", locals: { title: "Transplant Donor Summary" } do
  = render "renalware/transplants/donations/list"
  = render "renalware/transplants/donor_workups/summary"
  = render "renalware/transplants/donor_operations/list"
